.WQred{
    color: #f36c76 !important;
    font-size: 1.5em !important;
}

.WQblue{
    color: #a8c7e4 !important;
    font-size: 1.5em !important;
}


.WQgreen{
    color: #92de92 !important;
    font-size: 1.5em !important;
}

/* Pop */
@keyframes pop {
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.pop {
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}
.pop:hover {
    animation-name: pop;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.scrolly{
    max-height: 250px;
    overflow-y: auto
}

#success_message{ display: none;}
