<div class="row" style="margin-bottom: 0px; margin-top: 10px;">
    <div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12"
         style="margin-top: 1%; margin-left: 7.5%;">
        <div class="row WQ-noBottomMargin">
            <div class="col xl4" ng-hide="displayConverted">
                <div class="row">
                    <div class="col xl9 l9 m9 s10" style="padding-right: 0px; padding-left: 0px;">
                        <div class="chips chips-searchBar leads-searchBar" id="leadsSearchID"></div>
                    </div>
                    <div class="col xl1 l1 m1 s1" style="padding-left: 0px; padding-right: 0px;">
                        <button type="submit" class="btn waves-effect waves-light wqBlue-btn chips-searchClose"
                                ng-click="closeLeadsSearch()">
                            Clear
                        </button>
                    </div>
                </div>
            </div>
            <div class="col xl8" ng-show="displayConverted">
                <div class="row">
                    <div class="col xl7" style="padding-left: 0px;">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col xl9 l9 m9 s10" style="padding-right: 0px; padding-left: 0px;">
                                <div class="chips chips-searchBar cL-searchBar" id="cLSearchID"
                                     style="margin-bottom: 0px !important;"></div>
                            </div>
                            <div class="col xl2 l1 m1 s1" style="padding-left: 0px; padding-right: 0px;">
                                <button type="submit"
                                        class="btn waves-effect waves-light wqBlue-btn chips-searchClose left"
                                        ng-click="closeCLSearch()">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col xl4">
                        <button class="btn wqBlue-btn left" ng-click="goBackToLeads()">Back
                            to Leads
                        </button>
                    </div>
                </div>
            </div>
            <div class="col xl6">
                <div class="col" ng-if="!displayConverted">

                    <button get-access="crm" class="waves-effect waves-light btn wqBlue-btn" ng-if="!Store.leadsFlowCheck"
                            data-target="leadsFlowModal" style="padding: inherit;">
                        Create Leads Flow
                    </button>
                    <button get-access="crm" class="waves-effect 
                    waves-light btn wqBlue-btn" ng-if="Store.leadsFlowCheck"
                            data-target="leadsFlowModal" style="padding: inherit;">
                        Update Leads Flow
                    </button>
                </div>
                <div class="col" ng-if="!displayConverted">
                    <button get-access="crm" class="waves-effect waves-light btn wqBlue-btn" data-target="addLeadModal"
                            style="padding: inherit;">
                        Add Lead
                    </button>
                </div>
                <div class="col" ng-if="!displayConverted">
                        <button get-access="crm" class="waves-effect waves-light btn wqBlue-btn" ng-disabled="!cLCheck"
                                ng-click="getConvertedLeads();"
                                style="padding: inherit;">
                            <treasure-overlay-spinner active="convertedLeadsBtnLoader">

                            Converted Leads
                            </treasure-overlay-spinner>

                        </button>
                </div>
            </div>
        </div>
        <!--Floating action button-->
        <!--<div style="position: relative;" ng-hide="displayConverted">-->
            <!--<div class="fixed-action-btn horizontal"-->
                 <!--style="position: absolute; display: inline-block; bottom: -31px; z-index: 0; right: 4%;">-->
                <!--<a class="WQpointer ltSettings-btn" href="javascript:void(0);">-->
                    <!--<i class="material-icons small WQ-darkOrangeColor">settings</i>-->
                <!--</a>-->
                <!--<ul style="right: 30px; top: 0%;">-->
                    <!--<li get-access="crm" tooltipped data-position="bottom" data-tooltip="Import Leads from template"-->
                        <!--data-delay="50" data-target="uploadLeadsModal"><a-->
                            <!--class="btn-floating WQ-darkOrangeBackground"-->
                            <!--href="javascript:void(0);" style="height: 35px; width: 35px; background-color: #5f98cd;"><i-->
                            <!--class="material-icons" style="line-height: 35px; font-size: 1.5em">file_upload</i></a></li>-->
                    <!--<li get-access="crm" tooltipped data-position="bottom" data-tooltip="Download All Leads"-->
                        <!--data-delay="50" ng-click="downloadAllLeads()"><a-->
                            <!--class="btn-floating WQ-darkOrangeBackground" style="height: 35px; width: 35px; background-color: #5f98cd;" href="javascript:void(0);"><i-->
                            <!--class="material-icons" style="line-height: 35px; font-size: 1.5em">file_download</i></a>-->
                    <!--</li>-->
                    <!--<li get-access="crm" tooltipped data-position="bottom" data-tooltip="Reorder Rows"-->
                        <!--data-delay="50" ng-click="openReorderModal()"><a-->
                            <!--class="btn-floating WQ-darkOrangeBackground"-->
                            <!--href="javascript:void(0);" style="height: 35px; width: 35px; background-color: #5f98cd;"><i-->
                            <!--class="material-icons" style="line-height: 35px; font-size: 1.5em">reorder</i></a></li>-->
                    <!--<li tooltipped data-position="bottom" data-tooltip="Manage Custom Fields"-->
                        <!--data-delay="50" data-target="manageCFModal" ng-click="viewAllCFs()"><a-->
                            <!--class="btn-floating WQ-darkOrangeBackground"-->
                            <!--href="javascript:void(0);" style="height: 35px; width: 35px; background-color: #5f98cd;"><i-->
                            <!--class="material-icons" style="line-height: 35px; font-size: 1.5em">build</i></a></li>-->
                    <!--<li get-access="crm" tooltipped data-position="bottom" data-tooltip="Download Leads template"-->
                        <!--data-delay="50" ng-click="getExcelHeaders(true)"><a-->
                            <!--class="btn-floating WQ-darkOrangeBackground" style="height: 35px; width: 35px; background-color: #5f98cd;" href="javascript:void(0);"><i-->
                            <!--class="material-icons" style="line-height: 35px; font-size: 1.5em">archive</i></a>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<!-- uploadLeadsModal Structure -->
<div id="uploadLeadsModal" class="modal uploadLeads-Modal">
    <div class="modal-content">
        <i class="material-icons right WQ-modalClose WQpointer modal-close"
           style="margin-top: -15px; margin-right: -15px;" ng-click="closeImportLeadsModal()">close</i>

        <div class="center">
            <h4 class="WQ-modalHeading">Import Leads</h4>
            <p class="WQ-modalSubHeading">Add your leads at one go with our leads template(Supported Types: *.csv, *.xls, *.xlsx)</p>
        </div>
        <div class="divider"></div>
        <form name="uploadLeadsForm" style="margin-top: 6%; margin-bottom: 5%;">
            <div class="row" style="margin-bottom: 0px;">
                <div class="col xl7 offset-xl2 right-align">
                    <label for="leadsUploadInput" class="active">Choose file from My Computer:</label>
                    <input type="file" id="leadsUploadInput" name="file_upload"
                           onchange="angular.element(this).scope().validateUploadedFile(this)"
                           style="margin: auto;min-width: 160px;width:50%;border: 1px solid rgba(0,0,0,0.3);padding: 2px 2px 2px 2px;"
                           accept=".xls, .xlsx, .csv"/>
                </div>
                <div class="col xl1" style="padding-left: 0px;">
                    <i class="material-icons WQGreen" ng-show="validationSuccess">check_circle</i>
                    <i class="material-icons WQRed"
                       ng-show="validationFail_headers">cancel</i>
                </div>
            </div>
            <div class="center">
                <span ng-show="validationFail_headers" class="WQRed" style="font-size: 12px; font-weight: bold;">File Invalid. Headers not matching the template. Please provide in the downloaded template.</span>
            </div>
        </form>
        <blockquote>
            <span style="font-weight: 600;">&#9733;Please Note:</span><br>
            &emsp;<span style="font-size: 13px;">1. Fields with Date type, should be in DD/MM/YY format(eg. for 10 Jan 2018, use 10/01/18).</span><br>
            &emsp;<span style="font-size: 13px;">2. Fields with Number type, should only contain number values.</span><br>
            &emsp;<span style="font-size: 13px;">3. Fields with CheckBox type, should only contain TRUE/FALSE values.</span><br>
            &emsp;<span style="font-size: 13px;">4. Fields with HyperLink type, should be in standard URL format(eg. http[s]://www.xyz.com, http[s]://www.xyz).</span><br>
            &emsp;<span style="font-size: 13px;">5. Fields with DropDown type, should only contain values present in drop-down list.</span><br>

            <span style="font-weight: 600;">&#9733;Leads with "First Name" blank, will be skipped.</span><br>
            <span style="font-weight: 600;">&#9733;Invalid data will be imported with default or empty value.</span><br>
        </blockquote>
    </div>
    <div class="modal-footer center">
        <a class="btn wqBlue-btn" ng-disabled="disableFileUpload"
           ng-click="uploadFile()">Upload</a>
    </div>
</div>

<!-- reorderModal Structure -->
<div id="reorderFieldsModal" class="modal reorderFieldsModal">
    <div class="modal-content">
        <a class="WQpointer modal-close"><i class="material-icons right"
                                            style="font-size: 20px; font-weight: 600; color: #7b7b7b; margin-top: -15px; margin-right: -15px;">close</i></a>
        <div class="center">
            <h4 class="WQ-modalHeading">Reorder Rows</h4>
            <p class="WQ-modalSubHeading">Change leads table fields order</p>
        </div>
        <!--<div class="divider"></div>-->
        <treasure-overlay-spinner active="reorderListLoader">
                <ul class="collection" id="reorderFields">
                    <li class="collection-item" ng-repeat="field in reorderFieldsList track by $index">
                        <span class="dragThis"><i class="material-icons left WQGrabCur">swap_vert</i></span>
                        {{field.field_name}}
                        <div class="right">
                            <div class="chip WQBlock-chip WQActive-chip" ng-if="(field.is_deleted === 'N')">Active</div>
                            <div class="chip WQBlock-chip WQInactive-chip" ng-if="(field.is_deleted === 'Y')">Inactive</div>
                            <div class="chip WQBlock-chip WQActive-chip" ng-if="(field.visibility === 'Y')">Visible</div>
                            <div class="chip WQBlock-chip WQInactive-chip" ng-if="(field.visibility === 'N')">Hidden</div>
                        </div>
                    </li>
                </ul>
        </treasure-overlay-spinner>
    </div>
    <!--<div class="modal-footer center">-->
        <!--<a class="btn wqBlue-btn" ng-click="reorderFields()">Save</a>-->
    <!--</div>-->
</div>

<!-- manageCFModal Structure -->
<div id="manageCFModal" class="manageCFModal modal">
    <div class="modal-content">
        <a class="WQpointer modal-close"><i class="material-icons right" style="font-size: 20px; font-weight: 600; color: #7b7b7b; margin-top: -15px; margin-right: -15px;">close</i></a>
        <div class="center">
            <h4 class="WQ-modalHeading">Manage Custom Fields</h4>
            <p class="WQ-modalSubHeading">Activating/Deactivating custom field, shows/hides the custom field and your
                leads data under that field</p>
        </div>
        <div class="divider"></div>
        <div class="">
            <treasure-overlay-spinner active="manageCFModalLoader">
                <ul class="collection cf-list" style="margin-bottom: 0px; margin-top: 10px;" scroll-glue="true">
                    <li class="collection-item" ng-repeat="cf in allCFs" ng-show="cfCheck">{{cf.field_name}}
                        &nbsp;&nbsp;

                        <div get-access="crm" class="switch secondary-content">
                            <label>
                                <input id="SHSwitch" type="checkbox" ng-checked="cf.active"
                                       ng-click="cf.active = !cf.active; changeCFStatus(cf);">
                                <span class="lever" style="margin-right: 5px; margin-left: 20px;"></span>
                                <div class="WQ-switchLabel WQActive-chip" ng-show="cf.active">Active</div>
                                <div class="WQ-switchLabel WQInactive-chip" ng-hide="cf.active">Inactive</div>
                            </label>
                        </div>
                        <div get-access="crm" class="switch secondary-content" tooltipped="{{!cf.active}}" data-position="right"
                             data-tooltip="Activate the field to change the visibility"
                             data-delay="50">
                            <label>
                                <input id="AIASwitch" type="checkbox" ng-checked="cf.visible"
                                       ng-click="cf.visible = !cf.visible; updateFieldVisibility(cf);"
                                       ng-disabled="!cf.active">
                                <span class="lever" style="margin-right: 5px; margin-left: 20px;"></span>
                                <div class="WQ-switchLabel WQActive-chip" ng-show="cf.visible">Visible</div>
                                <div class="WQ-switchLabel WQInactive-chip" ng-class="!cf.active ? 'WQDisabled-chip' : ''"
                                     ng-hide="cf.visible">Hidden
                                </div>
                            </label>
                        </div>
                        <div style="display: flex; margin-top: 10px;">
                        <span class="WQBlock-chip"
                              style="border: 1px solid #d8662d; color: #d8662d; padding: 0px 3px; line-height: 23px;">{{cf.cf_type}}</span>
                            <div style="margin-left: 5px;"><i tooltipped
                                                              class="material-icons editIcon-DropDownCF WQpointer"
                                                              get-access="crm" id="editDropdownCF{{$index}}"
                                                              ng-show="(cf.cf_type === 'DropDown')" data-position="right"
                                                              data-tooltip="View/Edit Custom Field DropDown-List"
                                                              data-delay="50"
                                                              ng-click="this.editDropDownCF(cf.field_name, cf.list)">view_list</i>
                            </div>
                        </div>
                    </li>
                    <li ng-hide="cfCheck || addCFCheck" class="center"><h5 style="margin-top: 10%;">No Custom Fields
                        added</h5>
                    </li>
                    <li ng-if="addCFCheck" id="newCF_id" tabindex="1">
                        <form name="addCFForm">
                            <div class="left" style="padding-left: 3%; margin-bottom: 10px;">
                                <label for="cfName_inputID">Custom Field</label>
                                <input type="text" style="margin-bottom: 0px;" ng-model="addCFObj.name" id="cfName_inputID"
                                       placeholder="Custom Field Name" name="cfName" ng-keyup="checkCFNameUnique(addCFForm)"
                                       required ng-minlength="2"/>
                                <div ng-messages="addCFForm.cfName.$error">
                                    <p class="WQInput-ErrorMsg" ng-message="required" style="margin-top: 0px;">Enter a Custom Field.</p>
                                    <p class="WQInput-ErrorMsg" ng-message="minlength" style="margin-top: 0px;">Custom Field name is too short.</p>
                                    <p class="WQInput-ErrorMsg" ng-message="validationError" style="margin-top: 0px;">Custom Field already exists.</p>
                                </div>
                            </div>
                            <div class="left" style="padding-left: 3%; margin-bottom: 10px;">
                                <label>Select Custom Field Type</label>
                                <select class="browser-default" ng-model="addCFObj.type" name="cfType_select" required>
                                    <option value="Text">Plain Text</option>
                                    <option value="Number">Number</option>
                                    <option value="Date">Date</option>
                                    <option value="CheckBox">CheckBox</option>
                                    <option value="HyperLink">Hyperlink</option>
                                    <option value="DropDown">Dropdown</option>
                                </select>
                                <div ng-messages="addCFForm.cfType_select.$error">
                                    <p class="WQInput-ErrorMsg" ng-message="required" style="margin-top: 0px;">Select Custom Field type.</p>
                                </div>
                            </div>

                            <div class="right" style="margin: 28px 30px 0px 0px;">
                                <i tooltipped class="small material-icons WQBlue WQpointer" data-position="top"
                                   data-delay="50" data-tooltip="Save" ng-show="!addCFForm.$invalid && !addCFForm.cfName.$error.validationError" ng-click="addCF()">save</i> &nbsp;
                                <i tooltipped class="small material-icons WQRed WQpointer" data-position="top"
                                   data-delay="50"
                                   data-tooltip="Cancel" ng-click="toggleAddCFCheck(false);">cancel</i>
                            </div>
                        </form>
                    </li>
                </ul>
            </treasure-overlay-spinner>
        </div>
    </div>
    <div class="modal-footer center" style="margin-bottom: 10px;" ng-if="!manageCFModalLoader">
        <button get-access="crm" tooltipped class="btn-floating waves-effect waves-light btn" data-position="left"
                data-delay="50" data-tooltip="Add Custom Field" ng-click="toggleAddCFCheck(true)"
                ng-disabled="disableAddCFBtn" ng-hide="addCFCheck"><i
                class="material-icons" style="font-size: 36px;">add_circle</i>
        </button>&emsp;
        <!--<button get-access="crm" tooltipped class="btn-floating waves-effect waves-light btn" data-position="right"-->
                <!--data-delay="50" data-tooltip="Save and Close" ng-click="toggleAddCFCheck(false); closeMCFModal();"><i-->
                <!--class="material-icons" style="font-size: 36px;">check_circle</i>-->
        <!--</button>-->
        <!--<button get-access="crm" tooltipped class="btn-floating waves-effect waves-light btn" data-position="right"-->
                <!--data-delay="50" data-tooltip="Add Custom Field" ng-click="toggleAddCFCheck(true);"-->
                <!--ng-disabled="disableAddCFBtn" ng-hide="addCFCheck"><i-->
                <!--class="material-icons">add</i>-->
        <!--</button>-->
    </div>
</div>

<!-- dropDownCF_modal Structure -->
<div id="dropDownCF_modal" class="modal dropDownCF-modal">
    <div class="modal-content">
        <i class="material-icons right WQ-modalClose WQpointer" style="margin-top: -15px; margin-right: -15px;"
           ng-click="closeDropdownCFModal()">close</i>
        <div class="center">
            <h4 class="WQ-modalHeading"><span ng-show="editDropDownCFCheck">Update</span><span
                    ng-hide="editDropDownCFCheck">Create</span> Dropdown Custom Field</h4>
            <p class="WQ-modalSubHeading" ng-hide="editDropDownCFCheck">Add custom field dropdown content below</p>
            <p class="WQ-modalSubHeading" ng-show="editDropDownCFCheck">Add/Edit custom field dropdown content below</p>
        </div>
        <div class="divider"></div>
        <div class="dropDownCF_form">
            <div class="row" ng-show="editDropDownCFCheck">
                <h5>Existing List</h5>
                <div ng-repeat="item in dropDownCF.updateList  track by $index"
                     class="col xl10 offset-xl1 existingDropDownCF-list"
                     ng-show="editDropDownCFCheck">
                    <a editable-text="item" class="buttonCapitalize editableListItem"
                       e-label="List Item : {{$index + 1}}" onshow="openItemForEdit(item)" onhide="cancelItemEdit()"
                       onbeforesave="updateDropDownCFListItem($data)">{{item}}</a>
                    <a class="WQpointer btn-flat wqBlue-flatBtn thin-flatBtn" ng-click="confirmDropDownItemDel(item);">Delete</a>
                </div>
            </div>
            <div class="divider" ng-show="editDropDownCFCheck"></div>
            <div class="row">
                <h5 ng-show="editDropDownCFCheck">Add Items To List</h5>
                <form name="dropDownCF_form" autocomplete="off">
                    <div ng-repeat="item in dropDownCF.list  track by $index" class="col xl8">
                        <div class="col xl8">
                            <label ng-show="editDropDownCFCheck">List Item : {{(dropDownCF.updateList.length)+($index +
                                1)}}</label>
                            <label for="cfList_item{{$index + 1}}" ng-hide="editDropDownCFCheck">List Item : {{$index +
                                1}}</label>
                            <input type="text" id="cfList_item{{$index + 1}}" ng-model="dropDownCF.list[$index]"
                                   placeholder="List item" ng-required="required"/>
                        </div>
                        <div class="col xl2" style="padding: 15px 0px">
                            <a class="WQpointer"><i
                                    class="material-icons"
                                    style="color: #7b7b7b; font-weight: 600; font-size: 20px;"
                                    ng-click="dropDownCF.list.splice($index, 1);">close</i></a>
                        </div>
                    </div>
                    <div class="col xl2">
                        <button type="submit" style="background-color: #2bbbad; margin-top: 5px;"
                                class="btn-floating waves-effect waves-light btn tooltipped" data-position="bottom"
                                data-delay="50" data-tooltip="Add more" ng-click="addDropdownCFItem()"
                                ng-disabled="disableAddCFItem_btn"><i
                                class="material-icons">add</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer center">
        <a class="wqBlue-btn btn" ng-hide="editDropDownCFCheck" ng-click="createDropdownCF()">Save</a>
        <a class="wqBlue-btn btn" ng-show="editDropDownCFCheck" ng-click="updateDropdownCF()"
           ng-disabled="(dropDownCF.list.length === 0) || (dropDownCF.list.includes(''))">Update</a>
    </div>
</div>

<!-- deleteListItemModal Structure -->
<div id="deleteListItem_Modal" class="modal deleteListItemModal">
    <div class="modal-content">
        <div class="center">
            <h4 class="WQ-modalHeading">Confirm list item deletion</h4>
            <p class="WQ-modalSubHeading">On delete of the list-item, the data associated with it would be left
                blank. Do you still want to proceed?</p>
        </div>
        <div class="divider"></div>
        <div class="center">
            <h4 style="font-weight: bolder;">"{{deleteItem}}"</h4>
        </div>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-green btn-flat" ng-click="deleteDropDownItem()">Yes</a>
        <a class="waves-effect waves-green btn-flat" ng-click="closeDeleteListItemModal()">No</a>
    </div>
</div>

<!-- LEADS TABLE STRUCTURE -->
<div class="row" style="margin-bottom: 10px">
    <div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col xl12 WQ-noLeftPadding">
                <div class="tableBadges">
                    <span class="new badge valign-wrapper WQ-noLeftMargin WQ-lightOrangeBackground WQ-darkOrangeColor WQ-darkOrangeBorder" style="float: left; margin-top: 10px;" data-badge-caption="{{leadsOnDisplay.startValue}}-{{leadsOnDisplay.endValue}}" ng-hide="displayConverted">
                    Leads Displayed :
                </span>
                    <span class="new badge valign-wrapper WQ-lightOrangeBackground WQ-darkOrangeColor WQ-darkOrangeBorder" style="float: left; margin-top: 10px;"
                          data-badge-caption="{{totalLeads}}" ng-hide="displayConverted">
                    Total Leads :
                </span>
                    <!--<span class="new badge valign-wrapper WQ-noLeftMargin WQ-lightOrangeBackground WQ-darkOrangeColor WQ-darkOrangeBorder" style="float: left"-->
                    <!--data-badge-caption="{{searchedClients}}" ng-show="underSearch">-->
                    <!--Search Count :-->
                    <!--</span>-->
                    <span class="new badge valign-wrapper WQ-noLeftMargin WQ-lightOrangeBackground WQ-darkOrangeColor WQ-darkOrangeBorder" style="float: left; margin-top: 10px;" data-badge-caption="{{convertedLeadsOnDisplay.startValue}}-{{convertedLeadsOnDisplay.endValue}}" ng-show="displayConverted">
                    Converted Leads Displayed :
                </span>
                    <span class="new badge valign-wrapper WQ-lightOrangeBackground WQ-darkOrangeColor WQ-darkOrangeBorder" style="float: left; margin-top: 10px;"
                          data-badge-caption="{{totalConvertedLeads}}" ng-show="displayConverted">
                    Total Converted Leads :
                </span>
                    <!--<span class="new badge valign-wrapper WQ-noLeftMargin WQ-lightOrangeBackground WQ-darkOrangeColor WQ-darkOrangeBorder" style="float: left"-->
                    <!--data-badge-caption="{{searchedClients}}" ng-show="underSearch">-->
                    <!--Search Count :-->
                    <!--</span>-->
                </div>

                <div class="right" style="margin-bottom: 5px;" ng-if="!displayConverted">
                    <a get-access="crm" class="btn-floating waves-effect waves-light WQ-darkOrangeBackground" style="height: 35px; width: 35px;" tooltipped data-position="bottom" data-tooltip="Import Leads from template" data-delay="50" data-target="uploadLeadsModal">
                        <i class="material-icons small" style="line-height: 36px;">file_upload</i>
                    </a>&nbsp;
                    <a get-access="crm" class="btn-floating waves-effect waves-light WQ-darkOrangeBackground" style="height: 35px; width: 35px; margin-right: -10px;" tooltipped data-position="bottom" data-tooltip="Download All Leads" data-delay="50" ng-click="downloadAllLeads()">
                        <i class="material-icons" style="line-height: 36px; font-size: 1.5em">file_download</i></a>&emsp;
                    <a get-access="crm" class="btn-floating waves-effect waves-light WQ-darkOrangeBackground" style="height: 35px; width: 35px;" tooltipped data-position="bottom" data-tooltip="Reorder Rows" data-delay="50" ng-click="openReorderModal();">
                        <i class="material-icons small" style="line-height: 36px;">reorder</i>
                    </a>&nbsp;
                    <a get-access="crm" class="btn-floating waves-effect waves-light WQ-darkOrangeBackground" style="height: 35px; width: 35px;" tooltipped data-position="bottom" data-tooltip="Manage Custom Fields" data-delay="50" data-target="manageCFModal" ng-click="viewAllCFs()">
                        <i class="material-icons small" style="line-height: 36px; font-size: 1.5rem;">build</i>
                    </a>&nbsp;
                    <a get-access="crm" class="btn-floating waves-effect waves-light WQ-darkOrangeBackground" style="margin-right:50px; height: 35px; width: 35px;" tooltipped data-position="bottom" data-tooltip="Download Leads template"
                       data-delay="50" ng-click="getExcelHeaders(true)">
                        <i class="material-icons" style="line-height: 35px; font-size: 1.5em">archive</i>
                    </a>
                </div>
            </div>
        </div>
        <!--<span><b>Total Count:</b>{{totalLeads}}</span>-->
        <div style="width: 95%;">
            <div style="margin-bottom: 10px;">
                <table class="centered leads-table leads-topTable" ng-hide="tableLoader">
                        <thead>
                        <tr>
                            <th class="leadsTable-heading">Name</th>
                        </tr>
                        </thead>
                        <tbody class="check topTable-scroll">
                        <tr class="column-rightBorder" ng-repeat="lead in partnerLeads track by $index"
                            ng-hide="displayConverted">
                            <td class="leadsTable-content">{{lead.first_name}} {{lead.last_name}}</td>
                        </tr>
                        <tr class="column-rightBorder" ng-repeat="lead in convertedLeads track by $index"
                            ng-show="displayConverted">
                            <td class="leadsTable-content">{{lead.first_name}} {{lead.last_name}}</td>
                        </tr>
                        </tbody>
                    </table>
                <treasure-overlay-spinner active='tableLoader'>
                    <table class="centered leads-table leads-bottomTable">
                        <thead>
                        <tr>
                            <th class="leadsTable-heading" ng-repeat="header in tableHeaders"
                                tooltipped="{{header.field_name.length > 12}}"
                                ng-class="{'WQ-ellipseText': header.field_name.length > 12}"
                                data-position="top" data-tooltip="{{header.field_name}}" data-delay="50"
                                ng-hide="displayConverted">
                                {{header.field_name}}
                            </th>
                            <th class="leadsTable-heading" style="height:60px;" ng-hide="displayConverted" get-access="crm">Action</th>
                            <th class="leadsTable-heading" ng-repeat="head in convertedHeads"
                                tooltipped="{{head.length > 12}}"
                                ng-class="{'WQ-ellipseText': head.length > 12}"
                                data-position="top" data-tooltip="{{head}}" data-delay="50"
                                ng-show="displayConverted">
                                {{head}}
                            </th>
                        </tr>
                        </thead>
                        <tbody class="bottomTable-scroll" style="border-bottom: solid 1px #cccccc;">
                        <tr class="column-rightBorder" ng-repeat="lead in partnerLeads track by $index" ng-init="parentIndx = $index" ng-if="!displayConverted">
                            <!--tooltipped="{{lead[forTable[$index].field_name].length > 25}}"-->
                            <!--ng-class="{'WQ-ellipseText': lead[forTable[$index].field_name].length > 25}"-->
                            <!--data-position="top" data-tooltip="{{lead[forTable[$index].field_name]}}" data-delay="50"-->
                            <td class="leadsTable-content" ng-repeat="field in forTable track by $index">
                                <!--<span ng-show="field.cf_type !== 'HyperLink'">{{lead[forTable[$index].field_name]}}</span>-->
                                <!--<span ng-show="field.cf_type === 'HyperLink'">-->
                                <!--<a href="{{lead[forTable[$index].field_name]}}" target="_blank">-->
                                <!--{{lead[forTable[$index].field_name]}}-->
                                <!--</a>-->
                                <!--</span>-->

                                <div ng-class="{'truncate reducedWidth': lead[forTable[$index].field_name].length > 25}" id="field_{{$index}}_{{parentIndx}}id" ng-if="field.cf_type !== 'HyperLink'" tooltipped="{{lead[forTable[$index].field_name].length > 25}}" data-position="top" data-tooltip="{{lead[forTable[$index].field_name]}}" data-delay="50">
                                    {{lead[forTable[$index].field_name]}}
                                </div>
                                <i class="material-icons right WQpointer" ng-if="lead[forTable[$index].field_name].length > 25 && field.cf_type !== 'HyperLink'" style="margin-top: -15%; margin-right: -2%;" ngclipboard ngclipboard-success="copyTextSuccess(e);" ngclipboard-error="copyTextError(e);" data-clipboard-target="#field_{{$index}}_{{parentIndx}}id" tooltipped="true" data-tooltip="Copy to clipboard" data-delay="50" data-position="bottom">content_copy</i>

                                <!--FOR HYPERLINK CF-->
                                <div ng-class="{'truncate reducedWidth': lead[forTable[$index].field_name].length > 25}" ng-if="field.cf_type === 'HyperLink'" id="hlField_{{$index}}_{{parentIndx}}id" tooltipped="{{lead[forTable[$index].field_name].length > 25}}" data-position="top" data-tooltip="{{lead[forTable[$index].field_name]}}" data-delay="50">
                                    <a href="{{lead[forTable[$index].field_name]}}" target="_blank">
                                        {{lead[forTable[$index].field_name]}}
                                    </a>
                                </div>
                                <a ng-if="lead[forTable[$index].field_name].length > 25 && field.cf_type === 'HyperLink'" class="right WQpointer" style="margin-top: -15%; margin-right: -2%;" ngclipboard ngclipboard-success="copyTextSuccess(e);" ngclipboard-error="copyTextError(e);" data-clipboard-target="#hlField_{{$index}}_{{parentIndx}}id">
                                    <i class="material-icons" tooltipped="true" data-tooltip="Copy to clipboard" data-delay="50" data-position="bottom">content_copy</i>
                                </a>

                            </td>
                            <td class="edit-delete center leadsTable-content" style="height:60px !important;"
                                get-access="crm">
                                <div >
                                    <i tooltipped class="material-icons leadsAction-btn WQBlue" data-position="top" data-delay="50"
                                       data-tooltip="Edit" ng-click="openUpdateLeadModal(lead)">edit</i> &nbsp;
                                    <i tooltipped class="material-icons leadsAction-btn WQRed" data-position="top" data-delay="50"
                                       data-tooltip="Delete" ng-click="openDeleteLeadModal(lead.lead_id)">delete</i>
                                    &nbsp;
                                    <i tooltipped class="material-icons leadsAction-btn WQGreen" data-position="top" data-delay="50"
                                       data-tooltip="Convert" ng-click="openConvertToModal(lead)">swap_horiz</i>
                                </div>

                            </td>
                        </tr>
                        <tr class="column-rightBorder" ng-if="displayConverted" ng-repeat="cL in convertedLeads track by $index" ng-init="parentIndx = $index">
                            <td class="leadsTable-content" ng-repeat="field in forConvertedTable track by $index">
                                <div id="clField_{{$index}}_{{parentIndx}}id" ng-class="{'truncate reducedWidth': cL[forConvertedTable[$index]].length > 25}" tooltipped="{{cL[forConvertedTable[$index]].length > 25}}" data-position="top" data-tooltip="{{cL[forConvertedTable[$index]]}}" data-delay="50">
                                    {{cL[forConvertedTable[$index]]}}
                                </div>
                                <i class="material-icons right WQpointer" ng-if="cL[forConvertedTable[$index]].length > 25" style="margin-top: -15%; margin-right: -2%;" ngclipboard ngclipboard-success="copyTextSuccess(e);" ngclipboard-error="copyTextError(e);" data-clipboard-target="#clField_{{$index}}_{{parentIndx}}id" tooltipped="true" data-tooltip="Copy to clipboard" data-delay="50" data-position="bottom">content_copy</i>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </treasure-overlay-spinner>
            </div>
            <ul class="pagination center WQ-noMargin" ng-if="!displayConverted">
                <li class="waves-effect no-outline" ng-if="!(currentPage === 0)"
                    ng-click="changePage(currentPage-1)">
                    <a>
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                <li class="waves-effect no-outline pageNumber" ng-class="{'active': currentPage == $index}"
                    ng-repeat="count in pageCount track by $index" ng-click="changePage($index)">
                    <a>{{count}}</a>
                </li>
                <li class="waves-effect no-outline" ng-if="!(currentPage >= pageCount.length - 1)"
                    ng-click="changePage(currentPage+1)">
                    <a>
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            </ul>
            <ul class="pagination center WQ-noMargin" ng-if="displayConverted">
                <li class="waves-effect no-outline" ng-if="!(currentPageCL === 0)"
                    ng-click="changeCLPage(currentPageCL-1)">
                    <a>
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
                <li class="waves-effect no-outline pageNumber" ng-class="{'active': currentPageCL == $index}"
                    ng-repeat="count in pageCountCL track by $index" ng-click="changeCLPage($index)">
                    <a>{{count}}</a>
                </li>
                <li class="waves-effect no-outline" ng-if="!(currentPageCL >= pageCountCL.length - 1)"
                    ng-click="changeCLPage(currentPageCL+1)">
                    <a>
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            </ul>
            <!--<ul class="pagination center WQ-noMargin" ng-show="notValidNow">-->
                <!--<li class="waves-effect no-outline" ng-class="{'disabled': currentPageSearchedLeads == 0}"-->
                    <!--ng-click="changeSearchedLeadsPage(currentPageSearchedLeads-1)">-->
                    <!--<a>-->
                        <!--<i class="material-icons">chevron_left</i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="waves-effect no-outline pageNumber" ng-class="{'active': currentPageSearchedLeads == $index}"-->
                    <!--ng-repeat="count in pageCountSearchedLeads track by $index" ng-click="changeSearchedLeadsPage($index)">-->
                    <!--<a>{{count}}</a>-->
                <!--</li>-->
                <!--<li class="waves-effect no-outline" ng-class="{'disabled': currentPageSearchedLeads >= pageCountSearchedLeads.length - 1}"-->
                    <!--ng-click="changeSearchedLeadsPage(currentPageSearchedLeads+1)">-->
                    <!--<a>-->
                        <!--<i class="material-icons">chevron_right</i>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>


    </div>
</div>

<div class="row" ng-if="noLeadsCheck" style="margin-top: 10%">
    <div class="col xl9 offset-xl2 z-depth-3 center" style="height: 300px;">
        <h3 style="margin-top: 11%">No lead data found</h3>
    </div>
</div>


<!-- convertToModal Structure -->
<div id="convertToModal" class="modal accountTypeModal">
    <div class="modal-content" style="padding: 10px">
        <div class="row" style="margin-bottom: 0px">

            <div class="center-align col xl12 l12 m12 s12">
                <a class="right modal-close" style="margin: -9px -20px 0px 0px">
                    <i class="material-icons" style="color: #707070; font-size: 18px; font-weight: bold">close</i></a>
                <h5>Convert Lead</h5>
                <div class="divider"></div>
            </div>
            <div class="col xl12 l12 m12 s12" style="padding-top: 10px">
                <p>Choose Customer Type:</p>

                <p>
                    <input name="accountType" type="radio" id="prospect" ng-model="convertLeadObj.customerType"
                           value="prospect"/>
                    <label class="radioBtn-circle" for="prospect">Prospect</label>
                </p>
                <p>
                    <input name="accountType" type="radio" id="client" ng-model="convertLeadObj.customerType"
                           value="client"/>
                    <label class="radioBtn-circle" for="client">Client</label>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col xl6 offset-xl3 l6 offset-l3 m6 offset-m3 s8 offset-s2">
                <button data-target="convertLeadModal" class="btn-flat modal-action modal-close wqBlue-btn"
                        style="width: 100%; padding-left: 15px !important; padding-right: 15px !important;">
                    Proceed
                </button>
            </div>
        </div>
    </div>
</div>

<!-- registerLeadModal Structure -->
<div id="convertLeadModal" class="modal convertLeadModal">
    <div class="modal-content partnerClientRegForm" style="padding: 10px">
        <a class="right modal-close" style="margin: -8px -8px 0px 0px">
            <i class="material-icons" style="color: #707070; font-size: 18px; font-weight: bold">close</i></a>
        <h4 class="center-align WQ-noBottomMargin">Convert Lead to <span style="text-transform: capitalize">{{convertLeadObj.customerType}}</span>
        </h4>
        <div class="col xl12 center" style="margin-bottom: 5px;">
            <div style="font-size: 18px; display: inline-flex; color: #ababab;">
                (
                <span class="valign-wrapper" style="font-size: 10px; line-height: 9px; font-weight: 600;">
                        <span style="font-size: 20px;">
                            &#x2a;
                        </span> - REQUIRED FIELD
                    </span>
                )
            </div>
        </div>
        <div class="divider"></div>
        <form name="convertLeadForm" autocomplete="off" style="margin-top: 1%; height: 400px; overflow-y: scroll;">
            <div class="row">
                <div class="input-field col xl6 l6 m6 s12">
                    <input id="firstName" type="text" name="first_name" ng-model='convertLeadObj.fname'
                           ng-pattern="regexFirstName" placeholder="First Name"
                           required>
                    <label for="firstName" class="active">First Name<span
                            style="font-size: 18px; position: absolute; right: -10%; top: -18%;">&#x2a;</span></label>
                    <div ng-messages="convertLeadForm.first_name.$error">
                        <!--<p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="required">First Name is required.</p>-->
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Should contain only alphabets.</p>
                    </div>
                </div>
                <div class="input-field col xl6 l6 m6 s12" id="l-name">
                    <input id="lastName" type="text" ng-model='convertLeadObj.lname' name="last_name"
                           ng-pattern="regexLastName" placeholder="Last Name" required>
                    <label for="lastName" class="active">Last Name<span
                            style="font-size: 18px; position: absolute; right: -10%; top: -18%;">&#x2a;</span></label>
                    <div ng-messages="convertLeadForm.last_name.$error">
                        <!--<p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="required">Last Name is required.</p>-->
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Should contain only alphabets.</p>
                    </div>
                </div>
                <div class="input-field col xl12 l12 m12 s12">
                    <input id="usrname" name="username" type="text" data-length="15"
                           ng-keyup="checkUsernameValid()"
                           ng-model='convertLeadObj.username' ng-pattern="regExpUsername" ng-minlength="6"
                           ng-maxlength="15"
                           placeholder="Username"
                           required>
                    <label for="usrname" class="active">Username<span
                            style="font-size: 18px; position: absolute; right: -10%; top: -18%;">&#x2a;</span></label>
                    <div ng-messages="convertLeadForm.username.$error">
                        <!--<p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="required">Username is required.</p>-->
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="minlength">Username is too short.</p>
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="maxlength">Username is too long.</p>
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Should contain only alphabets and digits.</p>
                    </div>
                    <span ng-if="showAvailability">
                                <div class="available-block" ng-if="available"
                                     style="margin-top: -25px; margin-bottom: 0px;">
                                    <!--<img src="images/signup/tick.png">-->
                                    <span style="color: #28af28; font-size: 11px;">https://{{convertLeadObj.username}}.wealthquotient.in is available.</span>
                                </div>
                                <div class="available-block" ng-if="!available"
                                     style="margin-top: -25px; margin-bottom: 0px;">
                                    <span style="color: #ee876f; font-size: 11px;">https://{{convertLeadObj.username}}.wealthquotient.in is not available.</span>
                                </div>
                            </span>
                </div>
                <div class="input-field col xl12 l12 m12 s12">
                    <input id="email_Id" type="email" ng-model='convertLeadObj.emailId' name="mail"
                           placeholder="Email" ng-pattern="regexEmail" required>
                    <label for="email_Id" class="active">Email<span
                            style="font-size: 18px; position: absolute; right: -25%; top: -18%;">&#x2a;</span></label>
                    <div ng-messages="convertLeadForm.mail.$error">
                        <!--<p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="required">Email ID is required.</p>-->
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Should be in xyz@abc.com format.</p>
                    </div>
                </div>
                <div class="input-field col xl12 l12 m12 s12">
                    <input id="mobilenum" type="tel" ng-model='convertLeadObj.mnumber' name="mobileNumber"
                           minlength="10" maxlength="10" ng-pattern="regexPhone" placeholder="Mobile Number" required>
                    <label for="mobilenum" class="active">Mobile Number<span
                            style="font-size: 18px; position: absolute; right: -10%; top: -18%;">&#x2a;</span></label>
                    <div ng-messages="convertLeadForm.mobileNumber.$error">
                        <!--<p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="required">Mobile number is required.</p>-->
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="minlength">Mobile number should be 10 digits.</p>
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="maxlength">Mobile number should be 10 digits.</p>
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Should contain only digits.</p>
                    </div>
                </div>
                <div class="input-field col xl12 l12 m12 s12">
                    <input id="passWord" type="password" ng-model='convertLeadObj.password' name="pass_word"
                           ng-minlength="6" ng-maxlength="15" placeholder="Password" required>
                    <label for="passWord" class="active">Password<span
                            style="font-size: 18px; position: absolute; right: -15%; top: -18%;">&#x2a;</span></label>
                    <div ng-messages="convertLeadForm.pass_word.$error">
                        <!--<p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="required">Password is required.</p>-->
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="minlength">Password is too short.</p>
                        <p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="maxlength">Password is too long.</p>
                    </div>
                </div>
                <div class="input-field col xl12 l12 m12 s12">
                    <input id="cnfrmpass" type="password" name="cPass" ng-model='convertLeadObj.cPass'
                           ng-change="matchPassword()" placeholder="Confirm Password"
                           required>
                    <label for="cnfrmpass" class="active">Confirm Password<span
                            style="font-size: 18px; position: absolute; right: -10%; top: -18%;">&#x2a;</span></label>
                    <div ng-messages="convertLeadForm.cPass.$error">
                        <!--<p class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="required">Confirm Password is required.</p>-->
                    </div>
                    <div class="" ng-if="passMatchFailed" style="margin-top: -25px; margin-bottom: 0px;">
                        <span style="color: #ee876f; font-size: 10px;">Passwords do not match.</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer WQmodal-footer">
        <div class="row" style="">
            <div class="col xl2 offset-xl5 l4 offset-l4 m4 offset-m4 s10 offset-s1">
                <button type="submit" ng-disabled="disableSubmit()" ng-click="convertLead()"
                        class="waves-effect waves-light btn-flat wqBlue-btn tooltipped modal-close"
                        data-tooltip="Convert lead and get started with his/her financial planning"
                        data-position="top"
                        data-delay="20"
                        style="width: 100%; padding-left: 15px !important; padding-right: 15px !important; margin-top: 12px;">Submit
                </button>
            </div>
        </div>
    </div>
</div>

<!-- deleteLeadConfirm Modal Structure -->
<div id="delLeadCnfrmModal" class="modal">
    <div class="modal-content center-align">
        <h4>Confirm Lead Deletion</h4>
        <div class="divider"></div>
        <p>Are you sure, you want to delete the selected Lead?</p>
    </div>
    <div class="modal-footer WQmodal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"
           ng-click="deleteLead()">Yes</a>

        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" style="margin-right: 20px;">Not
            Sure</a>
    </div>
</div>

<!--addLeadModal Structure-->
<div id="addLeadModal" class="modal addLeadModal">
    <div class="modal-content" style="padding: 15px;">
        <a ng-click="closeAddLeadModal()" style="cursor: pointer;"><i class="material-icons right"
                                                                      style="font-size: 20px; font-weight: 600; color: #7b7b7b; margin-top: -15px; margin-right: -15px;">close</i></a>
        <h4 class="center-align"><span ng-if="!updateLeadCheck">Add a new Lead</span><span ng-if="updateLeadCheck">Update Lead Details</span>
        </h4>
        <div class="divider"></div>
        <div class="addLeadForm">
            <form name="addLeadForm" autocomplete="off">
                <div class="row" style="margin-bottom: 0px">
                    <div class="input-field col xl6 l12 m6 s12" style="margin-bottom: 22px;">
                        <input id="firstNameID" type="text" class="" name="first_name" ng-model='leadObj.first_name'
                               placeholder="First Name" ng-pattern="regexFirstName"
                               required>
                        <label class="active" for="firstNameID">First Name</label>
                        <div ng-messages="addLeadForm.first_name.$error">
                            <span class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="required">First Name is required.</span>
                            <span class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Should contain only alphabets.</span>
                        </div>

                    </div>
                    <div class="input-field col xl6 l12 m6 s12" style="margin-bottom: 22px;">
                        <input id="lastNameID" type="text" class="" ng-model='leadObj.last_name' name="last_name"
                               placeholder="Last Name" ng-pattern="regexLastName">
                        <label class="active" for="lastNameID">Last Name</label>
                        <div ng-messages="addLeadForm.last_name.$error">
                            <span class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Should contain only alphabets.</span>
                        </div>

                    </div>
                    <div class="input-field col xl6 l6 m6 s12" style="margin-bottom: 22px;">
                        <input id="emailID" type="email" class="" ng-model='leadObj.email' name="mail"
                               ng-focus="emailAlreadyExists = false" placeholder="Email" ng-pattern="regexEmail">
                        <label class="active" for="emailID">Email</label>
                        <div ng-messages="addLeadForm.mail.$error">
                            <span class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Should be in xyz@abc.com format.</span>
                        </div>
                    </div>
                    <div class="input-field col xl6 l6 m6 s12" style="margin-bottom: 22px;">
                        <input id="mobilenumID" type="tel" class="" ng-model='leadObj.mobile' name="mobile_number"
                               minlength="10"
                               maxlength="10"
                               placeholder="Mobile Number" ng-pattern="regexPhone">
                        <label class="active" for="mobilenumID">Mobile Number</label>
                        <div ng-messages="addLeadForm.mobile_number.$error">
                            <span class="WQInput-ErrorMsg" style="margin-top: -22px;"
                                  ng-message="minlength">Mobile number should be 10 digits.</span>
                            <span class="WQInput-ErrorMsg" style="margin-top: -22px;"
                                  ng-message="maxlength">Mobile number should be 10 digits.</span>
                            <span class="WQInput-ErrorMsg" ng-message="pattern">Should contain only digits.</span>
                        </div>
                    </div>
                    <div ng-show="!updateLeadCheck"
                         ng-repeat="cf in activeCFs track by $index">

                        <div class="input-field col xl6 l6 m6 s12" ng-if="(cf.cf_type === 'CheckBox')"
                             style="height: 66px;">
                                <input type="checkbox" class="filled-in" id="{{cf.field_name}}_CBid"
                                       ng-model='leadObj.cfData[cf.field_name]'/>
                                <label for="{{cf.field_name}}_CBid" class="active" style="margin-top: 20px;">{{cf.field_name}}</label>
                        </div>
                        <div class="input-field col xl6 l6 m6 s12" ng-if="(cf.cf_type === 'Date')">
                            <input id="{{cf.field_name}}_Dateid" type="text" class="datepicker actionDate"
                                   placeholder="{{cf.field_name}}" ng-model='leadObj.cfData[cf.field_name]'>
                            <label class="active">{{cf.field_name}}</label>
                        </div>
                        <div class="input-field col xl6 l6 m6 s12" ng-if="(cf.cf_type === 'Number')"
                             >
                            <input id="{{cf.field_name}}_Numid" name="{{cf.id}}" type="text"
                                   ng-pattern="regexNumber"
                                   ng-model='leadObj.cfData[cf.field_name]'
                                   placeholder="{{cf.field_name}}">
                            <label class="active">{{cf.field_name}}</label>
                            <div ng-messages="addLeadForm[cf.id].$error">
                                <span class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Should contain only digits.</span>
                            </div>
                        </div>
                        <div class="input-field col xl6 l6 m6 s12" ng-if="(cf.cf_type === 'DropDown')" style="height: 66px;">
                            <select class="browser-default" ng-model='leadObj.cfData[cf.field_name]'>
                                <option value="{{item}}" ng-repeat="item in cf.list">{{item}}</option>
                            </select>
                            <label class="active" style="position: absolute; top: 5px;">{{cf.field_name}}</label>
                        </div>
                        <div class="input-field col xl6 l6 m6 s12" ng-if="(cf.cf_type === 'HyperLink')">
                            <i class="material-icons prefix">link</i>
                            <input id="icon_prefix" type="text" placeholder="{{cf.field_name}}"
                                   ng-model='leadObj.cfData[cf.field_name]' name="{{cf.id}}"
                                   ng-pattern="regExHyperLink">
                            <label class="active" for="icon_prefix">{{cf.field_name}}</label>
                            <div ng-messages="addLeadForm[cf.id].$error">
                                <span class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Not a valid url.</span>
                            </div>
                        </div>
                        <div class="input-field col xl6 l6 m6 s12" ng-if="(cf.cf_type === 'Text')">
                            <input type="text" placeholder="{{cf.field_name}}" ng-model='leadObj.cfData[cf.field_name]'>
                            <label class="active">{{cf.field_name}}</label>
                        </div>
                    </div>
                    <div class="input-field col xl6 l6 m6 s12" ng-show="updateLeadCheck"
                         ng-repeat="cf in activeCFs track by $index">
                        <div class="input-field col xl6 l6 m6 s12" ng-if="(cf.cf_type === 'CheckBox')"
                             style="height: 66px;">
                            <input type="checkbox" class="filled-in" id="{{cf.field_name}}_CB_id"
                                   ng-model='leadObj[cf.field_name]' ng-checked="(leadObj[cf.field_name] === 'true')"/>
                            <label for="{{cf.field_name}}_CB_id" class="active" style="margin-top: 20px;">{{cf.field_name}}</label>
                        </div>
                        <div class="input-field col xl6 l6 m6 s12" ng-show="(cf.cf_type === 'Date')">
                            <input id="{{cf.field_name}}_Date_id" type="text" class="datepicker actionDate"
                                   placeholder="{{cf.field_name}}" ng-model='leadObj[cf.field_name]'>
                            <label class="active">{{cf.field_name}}</label>
                        </div>
                        <div class="input-field col xl6 l6 m6 s12" ng-if="(cf.cf_type === 'Number')"
                             >
                            <input id="{{cf.field_name}}_Num_id" name="{{cf.field_name}}" type="text"
                                   ng-pattern="regexNumber"
                                   ng-model='leadObj[cf.field_name]'
                                   placeholder="{{cf.field_name}}">
                            <label class="active">{{cf.field_name}}</label>
                            <div ng-messages="addLeadForm[cf.field_name].$error">
                                <span class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Should contain only digits.</span>
                            </div>
                        </div>
                        <div class="input-field col xl6 l6 m6 s12" ng-show="(cf.cf_type === 'DropDown')" style="height: 66px;">
                            <select class="browser-default" ng-model='leadObj[cf.field_name]'
                                    id="{{cf.field_name}}_dropDown_id">
                                <option value="{{item}}" ng-repeat="item in cf.list">{{item}}</option>
                            </select>
                            <label class="active" style="position: absolute; top: 5px;">{{cf.field_name}}</label>
                        </div>
                        <div class="input-field col xl6 l6 m6 s12" ng-if="(cf.cf_type === 'HyperLink')">
                            <i class="material-icons prefix">link</i>
                            <input id="{{cf.field_name}}_Link_id" type="text" placeholder="{{cf.field_name}}"
                                   ng-model='leadObj[cf.field_name]' name="{{cf.field_name}}"
                                   ng-pattern="regExHyperLink">
                            <label class="active">{{cf.field_name}}</label>
                            <div ng-messages="addLeadForm[cf.field_name].$error">
                                <span class="WQInput-ErrorMsg" style="margin-top: -22px;" ng-message="pattern">Not a valid url.</span>
                            </div>
                        </div>
                        <div class="input-field col xl6 l6 m6 s12" ng-if="(cf.cf_type === 'Text')">
                            <input id="{{cf.field_name}}_Text_id" type="text" placeholder="{{cf.field_name}}"
                                   ng-model='leadObj[cf.field_name]'>
                            <label class="active">{{cf.field_name}}</label>
                        </div>
                    </div>
                    <div class="input-field col xl6 l6 m6 s12">
                        <input id="sourceID" type="text" class="" ng-model='leadObj.source' name="source_lead"
                               placeholder="Source">
                        <label class="active">Source</label>
                    </div>
                    <div class="input-field col xl6 l12 m12 s12" style="height: 66px;">
                        <select class="browser-default" id="assignToID" ng-model="leadObj.assignedTo">
                            <option value="myself" selected>Myself</option>
                        </select>
                        <label class="active" style="position: absolute; top: 5px;">Assign To</label>
                    </div>
                    <div class="input-field col xl6 l6 m6 s12" style="height: 66px;">
                        <select class="browser-default" id="select_status" ng-model="leadObj.status">
                            <option value="{{status}}" ng-repeat="status in partnerLeadsFlow">{{status}}</option>
                        </select>
                        <label class="active" style="position: absolute; top: 5px;">Select Lead Status</label>
                    </div>
                    <div class="input-field col xl6 l12 m12 s12" style="min-width:140px;">
                        <input id="actionDateID" type="text" class="datepicker actionDate" ng-model='leadObj.actionDate'
                               name="actionDate"
                               placeholder="Action Date">
                        <label class="active" for="actionDateID">Action Date</label>
                    </div>
                    <div class="input-field col xl12 l12 m12 s12">
                    <textarea id="notesID" class="materialize-textarea" ng-model='leadObj.notes' name="notes"
                              placeholder="Notes"></textarea>
                        <label class="active" for="notesID">Notes</label>
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer center">
        <div>
            <div class="divider"></div>
            <button type="submit" ng-if="!updateLeadCheck" ng-click="addLead()" class="btn wqBlue-btn"
                    ng-disabled="addLeadForm.$invalid"
                    style="background-color: #54BB98;">Create Lead
            </button>
            <button type="submit" ng-if="updateLeadCheck" ng-click="updateLead()" class="btn wqBlue-btn"
                    ng-disabled="addLeadForm.$invalid"
                    style="background-color: #54BB98;">Save
            </button>
        </div>
    </div>
</div>

<!--leadsFlowModal Structure-->
<div id="leadsFlowModal" class="modal leadsFlowModal">
    <div class="modal-content">
        <a class="modal-close" style="cursor: pointer;"><i class="material-icons right"
                                                           style="font-size: 20px; font-weight: 600; color: #7b7b7b; margin-top: -10px;">close</i></a>
        <h4 class="center-align WQ-modalHeading"><span ng-hide="Store.leadsFlowCheck">Create</span><span
                ng-show="Store.leadsFlowCheck">Update</span> your Leads Flow</h4>
        <p class="center-align WQ-modalSubHeading" ng-hide="Store.leadsFlowCheck">Add the different
            status for your Leads</p>
        <p class="center-align WQ-modalSubHeading" ng-show="Store.leadsFlowCheck">Add or Remove status
            from your Leads Flow</p>
        <div class="divider" style="margin-bottom: 10px"></div>
        <div class="row leadStatusForm">
            <form name="leadStatusForm" autocomplete="off">

                <div ng-repeat="status in leadFlowStatus track by $index" class="col xl7 offset-xl3 l7 offset-l2">
                    <div class=" col xl10 l12">
                        <input type="text" ng-model="status.status_name" ng-readonly="status.status_id"
                               placeholder="Add Lead Status {{$index + 1}}" required/>
                    </div>
                    <div class="col xl2 l12" style="padding: 15px 0px">
                        <a ng-click="removeLeadsFlowStatus($index, status.status_id)" style="cursor: pointer;"><i
                                class="material-icons"
                                style="color: #7b7b7b; font-weight: 600; font-size: 20px;">close</i></a>
                    </div>
                </div>
                <div class="col xl2 l2 pull-l1">
                    <button type="submit" style="background-color: #2bbbad; margin-top: 5px;"
                            class="btn-floating waves-effect waves-light btn tooltipped" data-position="bottom"
                            data-delay="50" data-tooltip="Add more" ng-click="addLeadsFlowStatus()"
                            ng-disabled="disableAddStatusBtn"><i
                            class="material-icons">add</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer WQmodal-footer center">
        <button ng-click="openSortLFModal()"
                class="waves-effect waves-light btn wqBlue-btn"
                ng-disabled="leadStatusForm.$invalid">Proceed
        </button>
    </div>
</div>

<!-- sortLFModal structure -->
<div id="sortLFModal" class="modal sortLFModal">
    <div class="modal-content">
        <div class="center">
            <h4 class="WQ-modalHeading">Sort your Leads Flow status</h4>
            <p class="WQ-modalSubHeading">Drag and Drop Status as per priority</p>
        </div>
        <div class="divider"></div>
        <ul class="collection left-align" id="sortThis">
            <li class="collection-item" ng-repeat="status in leadFlowStatus track by $index">
                <span class="dragThis"><i class="material-icons left">drag_handle</i></span>
                {{status.status_name}}
            </li>
        </ul>
    </div>
    <div class="modal-footer WQmodal-footer center">
        <a class="waves-effect waves-green btn wqBlue-btn" ng-hide="Store.leadsFlowCheck"
           ng-click="createLeadsFlow()">Save</a>
        <a class="waves-effect waves-green btn wqBlue-btn" ng-show="Store.leadsFlowCheck"
           ng-click="updateLeadsFlow()">Update</a>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.collapsible').collapsible();
        $('.modal').modal();
        $('.addLeadModal, .reorderFieldsModal, .manageCFModal, .dropDownCF-modal, .deleteListItemModal').modal({
            dismissible: false // Modal can be dismissed by clicking outside of the modal
        });
        $('.tooltipped').tooltip({delay: 50});
//        $('select').material_select();
        $('.actionDate').pickadate({
            format: 'dd/mm/yy',
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            onSet: function (arg) {
                if ('select' in arg) { //prevent closing on selecting month/year
                    this.close();
                }
            }
        });
        $('.leads-searchBar').material_chip({
            placeholder: 'Further refine your search',
            secondaryPlaceholder: 'Search and press enter',
        });
        $('.cL-searchBar').material_chip({
            placeholder: 'Further refine your search',
            secondaryPlaceholder: 'Search and press enter',
        });
//        $('select').material_select();
    });

</script>
