<style>
    .btn-primary.disabled {
        color: white;
    }
</style>

<div class="pull-right row" style="margin-top: 4px;margin-right: 25px;">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Search Tasks <b class="caret"></b></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#searchTasks" ng-click="searchByType('customer')">By Customer</a></li>
                <li><a class="dropdown-item" href="#searchTasks" ng-click="searchByType('assignee')" class="font-bold">By Assignee</a></li>
                <li><a class="dropdown-item" href="#searchTasks" ng-click="searchByType('date')">By Date</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal1">Create Template</button>
        </div>
        <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">service Task <b class="caret"></b></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" data-toggle="modal" data-target="#tasktemplate">Use a Template</a></li>
                <li><a class="dropdown-item"  data-toggle="modal" data-target="#individualtasks"  class="font-bold">Start Fresh</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12" style="margin-top: 12px;">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" data-target="#alltasks" ng-click="getId1('#alltasks')"> <i class="fa fa-briefcase"></i>Upcoming Tasks</a></li>
            <li><a data-toggle="tab" data-target="#overdelaytasks" ng-click="getId2('#overdelaytasks')"> <i class="fa fa-credit-card-alt"></i>Tasks Due</a></li>
            <li><a data-toggle="tab" data-target="#alltemplates" ng-click="getId3('#alltemplates')"><i class="fa fa-database"></i>All Templates</a></li>
            <li><a data-toggle="tab" data-target="#completedtask"  ng-click="getId4('#completedtask')"><i class="fa fa-database"></i>Completed Tasks</a></li>
            <li><a data-toggle="tab" data-target="#snoozedtask" ng-click="getId5('#snoozedtask')"><i class="fa fa-database"></i>Snoozed Tasks</a></li>
        </ul>
        <div class="tab-content">
            <div id="alltasks" class="tab-pane active" ui-view="taskcrm">
            </div>
            <div id="overdelaytasks" class="tab-pane " ui-view="duecrmtask">
            </div>
            <div id="alltemplates" class="tab-pane" ui-view="alltemplate">
            </div>
            <div id="completedtask" class="tab-pane " ui-view="completedtasks">
                           </div>
            <div id="snoozedtask" class="tab-pane " ui-view="snoozedtasks">
            </div>
        </div>


    </div>
</div>


<div class="modal inmodal" id="modal1" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" style="width: 91%;">
        <div class="modal-content animated fadeIn">
            <div class="modal-header" style="padding: 9px 15px;">
                <button type="button" class="close" data-dismiss="modal" ng-click="closeTemplatePopModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"  ng-if="statusEdit !== 'EDIT'">Create Template</h4>
                <h4 class="modal-title"  ng-if="statusEdit === 'EDIT'">Edit/Update Template</h4>
            </div>
            <div class="modal-body">
                <form role="form" data-toggle="validator"  autocomplete="off" id="sortThisTask">
                    <div class="row form-group">
                            <span class="col-md-2">
                                 <label for="inputName" class="control-label">Template Name</label>
                            </span>
                        <span class="col-md-8" style="width:30%;margin-left: -5%;">
                                 <input type="text" class="form-control" id="inputName" ng-model="templateName" ng-change="checkTempNameExists(templateName)" placeholder="Template name" autofocus required>
                            <div style="color: red;">{{errorMessage}}</div>
                            <div class="help-block with-errors"></div>
                        </span>

                    </div>
                    <div style="max-height: 335px;overflow-y: auto;overflow-x: hidden;">
                        <div ng-repeat="contact in subTasksData track by $index">

                            <div class="row form-group">
                                <span class="col-md-1" style="width: 1%;">{{contact.index+1}}</span>
                                <span class="col-md-4">
                                 <input type="text" class="form-control"  placeholder="Substask" ng-model="contact.name" id="myinput{{$index}}" required>
                                <div class="help-block with-errors"></div>
                            </span>
                                <span class="col-md-1">
                                 <input class="form-control" type="number"  min="0" ng-model="contact.days" ng-change="checkNumber(contact.days,$index)" placeholder="days" required>
                                    <div class="help-block with-errors"></div>
                            </span>
                                <span class="col-md-2" ng-if="$index == 0" style="width: 20%">
                                 <input type="text" class="form-control" id="inputName3" placeholder="Start with first task" disabled="">
                            </span>
                                <span class="col-md-2" ng-if="$index >0"  style="width: 20%">
                                <select class="form-control m-b" name="account" ng-model="contact.option" required>
                                    <option value="" selected disabled>Please select</option>
                                    <option value="first_task">Start with first task</option>
                                    <option value="previous_task">Start after previous task</option>
                                </select>
                                 <div class="help-block with-errors"></div>
                            </span>

                                <span class="col-md-2">
                                 <!--<input type="text" class="form-control" id="inputName4" bs3-typeahead bs3-source="states" ng-model="value" placeholder="select assingnee" />-->
                                    <!--<input bs3-typeahead bs3-source="items" bs3-displayText="displayText" bs3-afterSelect="afterSelect" />-->
                                 <i class="fa fa-clone fa-2x WQgreen pop" style="position: absolute;margin-top: 8px;margin-left: 139px;" ng-click="coppyAssigneeForTemp($index,subTasksData,contact.assignto)"></i>
                                <input class="form-control" type="text"  ng-model="contact.assignto" placeholder="Assign To"/>

                            </span>
                                <span class="col-md-2">
                               <button type="submit" ng-click="removeStatus($index)">
                                   <i class="fa fa-minus-circle fa-2x pop" style="color: #f36c76;margin-top: 4px;"></i>
                               </button>
                                <button  type="submit" ng-click="addSubTasksBetween($index)">
                                    <i class="fa fa-plus-square fa-2x pop" style="color: #a8c7e4;margin-top: 4px;"></i>
                                </button>
                            </span>
                            </div>


                        </div>
                    </div>
                    <div class="row form-group" style="text-align: center;">
                        <div class="col-md-12" style="margin-bottom: 5px;">
                            <button data-toggle="button" class="btn btn-primary btn-outline" ng-click="addSubTasks($index)">Add Subtasks</button>
                        </div>
                        <div class="col-md-12">
                            <button ng-show="statusEdit != 'EDIT'" type="submit" data-toggle="button" class="btn btn-primary btn-outline" ng-disabled ="checkTempNamButton" ng-click="submitdata()">Submit</button>
                            <button ng-show="statusEdit === 'EDIT'" type="submit" class="btn btn-primary" ng-disabled ="tempUpdateButton" ng-click="UpdateTaskdata()">Update</button>
                        </div>
                    </div>
                    <!--<div class="modal-footer" style="text-align: center">-->
                    <!--<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>-->
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                    <!--</div>-->
                </form>

            </div>

        </div>
    </div>
</div>


<div class="modal inmodal" id="tasktemplate" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" style="width: 89%;">
        <div class="modal-content animated fadeIn">
            <div class="modal-header" style="padding: 9px 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create Tasks based on template</h4>
            </div>
            <div class="modal-body">
                <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<div class="modal inmodal" id="individualtasks" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" style="width: 89%;">
        <div class="modal-content animated fadeIn">
            <div class="modal-header" style="padding: 9px 15px;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create Individual Task</h4>
            </div>
            <div class="modal-body">
                <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<!--<paging-->
        <!--class="small"-->
        <!--page="currentPage"-->
        <!--page-size="pageSize"-->
        <!--total="total"-->
        <!--text-first="{{textFirst}}"-->
        <!--text-last="{{textLast}}"-->
        <!--text-next="{{textNext}}"-->
        <!--text-prev="{{textPrev}}"-->
        <!--text-title-page="{{textTitlePage}}"-->
        <!--text-title-first="{{textTitleFirst}}"-->
        <!--text-title-last="{{textTitleLast}}"-->
        <!--text-title-next="{{textTitleNext}}"-->
        <!--text-title-prev="{{textTitlePrev}}"-->
        <!--show-prev-next="true"-->
        <!--show-first-last="true">-->
<!--</paging>-->





<!--<div class="row">-->
    <!--<div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12 right-align"-->
         <!--style="margin-top: 10px; margin-left: 40px;">-->
        <!--<button class="btn wqBlue-btn btn dropdown-button srTypeDropdown-btn" data-activates='searchTypeDropSer'>Search Tasks</button>-->
        <!--<ul id='searchTypeDropSer' class='dropdown-content'>-->
            <!--<li><a class="modal-trigger"  ng-click="searchByType('customer')">By Customer</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a class="modal-trigger" ng-click="searchByType('assignee')">By Assignee</a>-->
            <!--<li class="divider"></li>-->
            <!--<li><a class="modal-trigger"  ng-click="searchByType('date')">By Date</a>-->
        <!--</ul>-->
        <!--&lt;!&ndash;ui-sref="searchTasks"&ndash;&gt;-->

        <!--<button get-access="crm" class="waves-effect waves-light btn wqBlue-btn" data-target="modal1">Create Template</button>-->
        <!--<button get-access="crm" class="btn dropdown-button srTypeDropdown-btn wqBlue-btn" data-activates='srTypeDropdownTask'>New Task Request-->

        <!--</button>-->
        <!--&lt;!&ndash;<button class="waves-effect waves-light btn" data-target="servicetasktemplate">service Task</button>&ndash;&gt;-->
        <!--<ul id='srTypeDropdownTask' class='dropdown-content'>-->
            <!--<li><a class="modal-trigger" data-target="tasktemplate">Use a Template</a></li>-->
            <!--<li class="divider"></li>-->
            <!--<li><a class="modal-trigger" data-target="individualtasks">Start Fresh</a>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
    <!--<div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12 ">-->
        <!--<ul class="tabs" style="right: 920px;left: 10px;" id="myTab">-->
           <!--<div class="row">-->
               <!--<li class="tab col l2"><a data-toggle="tab" class="active tabColor" href="#alltasks" style="text-transform: none" ng-click="getId1('#alltasks')">Upcoming Tasks</a></li>-->
               <!--<li class="tab col l2"><a data-toggle="tab" class="tabColor" href="#overdelaytasks" style="text-transform: none" ng-click="getId2('#overdelaytasks')">Tasks Due</a></li>-->
               <!--<li class="tab col l2"><a data-toggle="tab" class="tabColor" href="#alltemplates" style="text-transform: none" ng-click="getId3('#alltemplates')">All Templates</a></li>-->
               <!--<li class="tab col l2"><a data-toggle="tab" class="tabColor" href="#completedtask" style="width: 85%;text-transform: none" ng-click="getId4('#completedtask')">Completed Tasks</a></li>-->
               <!--<li class="tab col l2"><a data-toggle="tab" class="tabColor" href="#snoozedtask" style="width: 85%;text-transform: none" ng-click="getId5('#snoozedtask')">Snoozed Tasks</a></li>-->
           <!--</div>-->
        <!--</ul>-->
        <!--<div class="divider" style="margin-left: 10px;margin-right: 15px;"></div>-->
    <!--</div>-->
    <!--<div id="alltasks" class="col s12 active" ui-view="taskcrm">Upcoming Tasks</div>-->
    <!--<div id="overdelaytasks" class="col s12" ui-view="duecrmtask"> Tasks Due</div>-->
    <!--<div id="alltemplates" class="col s12" ui-view="alltemplate"> All Templates</div>-->
    <!--<div id="completedtask" class="col s12" ui-view="completedtasks"> Completed Tasks</div>-->
    <!--<div id="snoozedtask" class="col s12" ui-view="snoozedtasks">Snoozed Tasks</div>-->
<!--</div>-->
<!--&lt;!&ndash; Modal Structure &ndash;&gt;-->
<!--<div id="modal1" class="modal taskTempModal" style="width: 83%;max-height: 92%">-->
    <!--<div class="modal-content salesFlowForm" style="padding: 0px">-->
        <!--<a><i class="material-icons right modal-close" ng-click="closeTemplatePopModal()" style="font-size: 20px; font-weight: 600; color: #7b7b7b; margin-top: -10px;">close</i></a>-->
        <!--<h4 class="center-align" style="margin: 10px 0px;" ng-if="statusEdit !== 'EDIT'">Create Template</h4>-->
        <!--<h5 class="center-align" style="margin: 10px 0px;" ng-if="statusEdit === 'EDIT'">Edit/Update Template</h5>-->
        <!--<div class="divider" style="margin-bottom: 10px"></div>-->
         <!--<div class="center">-->
             <!--<div class="preloader-wrapper small active" style="margin-top: 5px;" ng-show="spinner">-->
                 <!--<div class="spinner-layer spinner-green-only">-->
                     <!--<div class="circle-clipper left">-->
                         <!--<div class="circle"></div>-->
                     <!--</div><div class="gap-patch">-->
                     <!--<div class="circle"></div>-->
                 <!--</div><div class="circle-clipper right">-->
                     <!--<div class="circle"></div>-->
                 <!--</div>-->
                 <!--</div>-->
             <!--</div>-->
         <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="input-field col l6 s12" style="color:black;margin-left: 12px;">-->
                    <!--<input style="color: black;margin-bottom: 5px !important;" id="last_name" type="text" class="validate" ng-model="templateName" ng-change="checkTempNameExists(templateName)" autofocus required/>-->
                    <!--<div style="color: red;">{{errorMessage}}</div>-->
                    <!--<div style="color: red">{{errorMessage1}}</div>-->
                    <!--<label for="last_name" style="color: black !important;">Template Name</label>-->
                <!--</div>-->
                <!--<div  class="col l12 s12 m12">-->
                    <!--<form name="salesFlowForm" autocomplete="off" class="tablescroll" id="sortThisTask">-->
                    <!--<div ng-repeat="contact in subTasksData track by $index" ng-class="{'item' : $index !== 0}"  class="col l12 s12 " style="padding-left: 0px !important;">-->
                        <!--<div class=" col xl1 l1" style="width: 4%;">{{contact.index+1}}</div>-->
                        <!--<div class=" col xl1 l1" style="width: 4%;">-->
                            <!--<span class="dragThis"><i class="material-icons left">swap_vert</i></span>-->
                        <!--</div >-->
                        <!--<div class=" col xl3 l3">-->
                            <!--<input class="serviceTempPadding" style="height: 2rem;" type="text" ng-model="contact.name" id="myinput{{$index}}"-->
                                   <!--placeholder="Substask"/>-->
                        <!--</div>-->
                        <!--<div class="input-field col l1 xl1 s12" style="margin-top: 1px;">-->
                            <!--<input style="color: black;height: 2rem" id="days" type="number" name="days" min="0" ng-model="contact.days" ng-change="checkNumber(contact.days,$index)" placeholder="Days"/>-->
                            <!--<span ng-show="myForm.price_field.$error.pattern">Not a valid number!</span>-->
                            <!--&lt;!&ndash;<label for="last_name" style="color: black !important;">Days</label>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<div class=" col xl3 l3" ng-if="$index == 0">-->
                            <!--<input style="height: 2rem;" value="Start with first task" disabled="disabled" />-->
                        <!--</div>-->
                        <!--<div class=" col xl3 l3" ng-if="$index >0">-->
                            <!--<select class="icon browser-default" name="opitonselected" ng-model="contact.option" style="height: 2rem;">-->
                                <!--<option value="" disabled selected>Choose option</option>-->
                                <!--<option value="first_task">Start with first task</option>-->
                                <!--<option value="previous_task" ng-disabled="$index == 0">Start after previous task</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class=" col xl2 l2">-->
                            <!--<i class="material-icons prefix leadsAction-btn" style="font-size: 1rem;width: 1rem;" ng-click="coppyAssigneeForTemp($index,subTasksData,contact.assignto)">content_copy</i>-->
                            <!--<input id="icon_prefix1" class="serviceTempPadding" style="height: 2rem;width: 80%" type="text" ng-model="contact.assignto"-->
                                   <!--placeholder="Assign To"/>-->
                            <!--<label for="icon_prefix1"></label>-->
                        <!--</div>-->
                        <!--<div class="col xl1 l1" ng-if="($index < subTasksData.length)" style="padding: 15px 0px;width: 4%;">-->
                            <!--<a ng-click="removeStatus($index)" style="cursor: pointer;"><i class="material-icons"-->
                                                                                           <!--style="color: #eb4848; font-weight: 600; font-size: 20px;">close</i></a>-->
                        <!--</div>-->
                        <!--<div class="col xl1 l1" ng-if="($index < subTasksData.length)" style="padding: 15px 0px">-->
                            <!--<a ng-click="addSubTasksBetween($index)" style="cursor: pointer;"><i class="material-icons"-->
                                                                                           <!--style="color: #5f98cd; font-weight: 600; font-size: 20px;">add</i></a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--</form>-->
                    <!--<div class="center col l12">-->
                        <!--<button type="submit" style="background-color: #2bbbad; margin-top: 5px;"-->
                                <!--class="waves-effect waves-light btn btn wqBlue-btn" data-target="modal1"-->
                                <!--ng-click="addSubTasks($index)">Add Subtasks-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div style="text-align: center">-->
                <!--<span style="color: red">{{validationError}}</span>-->
            <!--</div>-->
            <!--<div class="center" style="margin-top: 10px; padding: 10px;">-->
                <!--<button ng-show="statusEdit != 'EDIT'" ng-disabled ="checkTempNamButton" type="submit" ng-click="submitdata()" class="waves-effect waves-light btn btn wqBlue-btn"-->
                        <!--style="background-color: #54BB98;">Save-->
                <!--</button>-->
                <!--<button ng-show="statusEdit === 'EDIT'"  ng-disabled ="tempUpdateButton" type="submit" ng-click="UpdateTaskdata()" class="waves-effect waves-light btn btn wqBlue-btn"-->
                        <!--style="background-color: #54BB98;">Update-->
                <!--</button>-->
            <!--</div>-->

    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;task template&ndash;&gt;-->

<!--<div id="tasktemplate" class="modal tasktemplateModal" style="width: 85%;max-height: 85%;">-->
        <!--&lt;!&ndash;<form editable-form name="tasktitleandcustForm" autocomplete="off">&ndash;&gt;-->
        <!--<div class="modal-content">-->
            <!--<a class="right modal-close" ng-click="closePopModal()" style="margin-top: -12px"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>-->
            <!--<h5 style="font-size: 1.34rem; margin-top: 0px;">Create Tasks based on template</h5>-->
            <!--<div class="divider"></div>-->
            <!--<div class="row">-->
                    <!--<div class="col l12 s12">-->
                        <!--<div class="input-field col l6 s12 m6 center-align" style="margin-bottom: 15px; margin-top: 20px;" ng-hide="showSubtasksTable">-->
                            <!--<input type="text" id="autocomplete-input" class="autocomplete" ng-model="taskname" ng-change="suggestTemplate(taskname)">-->
                            <!--<label for="autocomplete-input">Search Tasks template</label>-->
                        <!--</div>-->
                        <!--<div class="input-field col l6 s12 m6" ng-if="showSubtasksTable">-->
                            <!--<input style="margin-bottom: 5px !important;" type="text" id="titletName" name="tasktitle" class="validate" ng-model="taskdata.tasktitle" ng-change="CheckTaskNameExists(taskdata)" required>-->
                            <!--<span style="color: red">{{errorMessage1}}</span>-->
                            <!--<div style="color: red">{{errorMessage2}}</div>-->
                            <!--<label for="titletName">Task title</label>-->
                        <!--</div>-->
                        <!--<div class="input-field reduceHeight col l6 s12 m6" ng-if="showSubtasksTable">-->
                            <!--<div class="input-field col xl12 l12 m6 s12">-->
                                <!--<input  type="text" id="selectClient2" ng-model="taskdata.customername" ng-change="assignCustomersForTemp(taskdata.customername)" style="margin-bottom: 5px !important;">-->
                                <!--<span style="color: red">{{errorMessage}}</span>-->
                                <!--<label for="selectClient2">Assign To</label>-->
                                <!--<div class="collection"  style="margin-top: 0px; max-height: 150px; overflow-y: scroll" ng-if="showDropDown.length>0" ng-show="hideDropDownAfterSelect">-->
                                    <!--<a style="cursor:pointer;" ng-click="chosenCustomerForTemp(customer1)" class="collection-item" ng-repeat="customer1 in allCustomersDataCust">-->
                                        <!--<span ng-style="{'color':((customer1.customer_type === 'client')?'#77dd77':(customer1.customer_type === 'prospect')?'#5f98cd':'#ff6657'),'border':((customer1.customer_type === 'client')?'1px solid #77dd77':(customer1.customer_type === 'prospect')?'1px solid #5f98cd':'1px solid #ff6657')}" style="text-align:center;padding:2px 5px;font-size:8px;margin-right:5px">{{customer1.customer_type.toUpperCase()}}</span><span style="font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color:#7b7b7b;">{{customer1.name}}</span></a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--<div class="col l12 s12" ng-if="showSubtasksTable">-->
                    <!--<table class="striped">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th style="width: 35%;text-align: center;">SubTasks</th>-->
                            <!--<th style="width: 15%;text-align: center;">Due Date</th>-->
                            <!--<th style="width: 5%;text-align: center;">Days</th>-->
                            <!--<th style="width: 20%;text-align: center;">Option</th>-->
                            <!--<th style="width: 25%;text-align: center;">Assigned to</th>-->
                            <!--<th style="width: 5%;text-align: center;">Action</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<div class="center">-->
                            <!--<div class="preloader-wrapper small active" style="margin-top: 5px;" ng-show="spinner">-->
                                <!--<div class="spinner-layer spinner-green-only">-->
                                    <!--<div class="circle-clipper left">-->
                                        <!--<div class="circle"></div>-->
                                    <!--</div><div class="gap-patch">-->
                                    <!--<div class="circle"></div>-->
                                <!--</div><div class="circle-clipper right">-->
                                    <!--<div class="circle"></div>-->
                                <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</table>-->
                    <!--<div class="col l12 s12 m12 tablescroll">-->
                        <!--<table class="striped" style="width: 100%">-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="value1 in allsubTaskfinal track by $index">-->
                                <!--<td style="width: 35%;padding-left: 6px;">-->
                                    <!--<a editable-text="value1.subtask_name" class="buttonCapitalize">{{ value1.subtask_name}}</a>-->
                                <!--</td>-->
                                <!--<td style="min-width:140px;width: 15%;padding: 0px;">-->
                                    <!--<div class="input-field reduceHeight">-->
                                        <!--<input  type="text" class="" ng-model="value1.date"-->
                                               <!--ng-change="changeDateForPrevious(allsubTaskfinal,value1.date,$index)"-->
                                               <!--name="actionDate"-->
                                               <!--placeholder="Assign Due Date"-->
                                               <!--input-date>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td style="width: 5%;text-align: center;padding: 0px;" ng-model="value1.subtask_days">{{value1.subtask_days}}-->
                                <!--</td>-->
                                <!--<td style="width: 20%;padding: 0px;">-->
                                    <!--<select class="icon browser-default" id="select_status"-->
                                            <!--ng-model="createtask[$index].option"-->
                                            <!--ng-change="changeOptionsDate(createtask[$index].option,allsubTaskfinal,$index)">-->
                                        <!--<option ng-value="{{value1.subtask_option}}">{{value1.display_opt}}</option>-->
                                        <!--<option value="previous_task" ng-show="value1.subtask_option === 'first_task'">-->
                                            <!--Start after previous task-->
                                        <!--</option>-->
                                        <!--<option value="first_task" ng-show="value1.subtask_option === 'previous_task'">-->
                                            <!--Start with first task-->
                                        <!--</option>-->
                                    <!--</select>-->
                                <!--</td>-->
                                <!--<td style="width: 25%;padding: 0px;">-->
                                    <!--&lt;!&ndash;<div class="input-field col s12" style="margin-bottom: 20px;">-->
                                        <!--<i class="material-icons" ng-click="coppyAssigneeName($index,allsubTaskfinal,createtask[$index].assignto)">content_copy</i>-->
                                        <!--<input type="text" id="selectClient1" ng-model="createtask[$index].assignto"-->
                                               <!--style="margin-bottom: 0px" placeholder="Assign To" >-->
                                        <!--<label for="selectClient1"></label>-->
                                    <!--</div>&ndash;&gt;-->

                                    <!--<div class="input-field col s12">-->
                                        <!--<i class="material-icons prefix leadsAction-btn" style="font-size: 1.5rem;margin-top: 18px;width: 1rem;" ng-click="coppyAssigneeName($index,allsubTaskfinal,createtask[$index].assignto)">content_copy</i>-->
                                        <!--<input  type="text" ng-model="createtask[$index].assignto" ng-change="searchSubUser(createtask[$index].assignto,$index,value1)"  placeholder="Assign To">-->
                                        <!--<label ></label>-->
                                        <!--<div class="collection"  style="margin-top: -21px; max-height: 150px; overflow-y: scroll;margin-left: 7%;" ng-show="value1.active">-->
                                            <!--<a style="cursor:pointer;" ng-click="choseSubUser(user,$parent.$index,value1)" class="collection-item" ng-repeat="user in allSubuserNames">-->
                                                <!--<span>{{user.username}}</span></a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</td>-->
                                <!--<td style="width: 5%;padding: 0px;">-->
                                    <!--<a class="right modal-close" ng-click="removesubtasks($index)"-->
                                       <!--style="margin-top: -12px"><i class="material-icons"-->
                                                                    <!--style="color: #eb4848; font-size: 20px; font-weight: bold">close</i></a>-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
        <!--</div>-->


        <!--<div class="modal-footer">-->
            <!--<button class="waves-effect waves-light btn hoverable btn wqBlue-btn"  ng-disabled="TaskbuttonDisable"  style="margin-left: 7px;" ng-click="createTaskData1(allsubTaskfinal,createtask,taskdata)">Save</button>-->
            <!--&lt;!&ndash;<button class=" modal-action modal-close waves-effect waves-light btn hoverable" ng-click="closePopModal()">&ndash;&gt;-->
                <!--&lt;!&ndash;Close&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash;create individual tasks&ndash;&gt;-->
<!--<div id="individualtasks" class="modal individualtasksModal" style="width: 70%;max-height: 84%;">-->
    <!--<div class="modal-content center-align" style="padding: 0px">-->
        <!--<a class="right modal-close" style="margin-top: -12px" ng-click="closeindividualSRModal()"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>-->
        <!--<h5 ng-if="statusfresh !== 'EDIT'">Create Individual Task</h5>-->
        <!--<h5 ng-if="statusfresh === 'EDIT'">Edit/Update Task</h5>-->
        <!--<div class="divider" style="margin-bottom: 20px;"></div>-->
        <!--<div class="row">-->
            <!--<div class="col l12 s12 m12">-->
                <!--<form name="partnerClientRegForm" autocomplete="off">-->
                    <!--<div class="row">-->
                        <!--<div class="input-field col xl6 l12 m6 s12 regForm-input">-->
                            <!--<input  type="text" class="validate" name="task name"-->
                                   <!--ng-model='taskname'-->
                                   <!--placeholder="Task Name" ng-change="CheckTaskNameExistsForFresh(taskname)"-->
                                   <!--required>-->
                            <!--<div style="color: red;margin-right: 67%;margin-top: -15px;">{{errorMessage2}}</div>-->
                            <!--<div style="color: red;margin-right: 67%;margin-top: -15px;">{{errorMessage10}}</div>-->
                        <!--</div>-->
                        <!--<div class="input-field col xl6 l12 m6 s12" style="margin-top: 0px;">-->
                            <!--<div class="center-align">-->

                            <!--</div>-->
                                <!--<input type="text" id="selectClient31" ng-model="customername" ng-change="assignCustomersForTemp(customername)" style="margin-bottom: 0px">-->
                                <!--<div style="color: red;margin-right: 54%;">{{errorMessage1}}</div>-->
                                <!--<label for="selectClient31">Choose Customer</label>-->
                                <!--<div class="collection"  style="margin-top: 0px; max-height: 150px; overflow-y: scroll" ng-if="showDropDown.length>0" ng-show="hideDropDownAfterSelect">-->
                                    <!--<a style="cursor:pointer;text-align: left;" ng-click="chosenCustomerForInd1(customer2)" class="collection-item" ng-repeat="customer2 in allCustomersDataCust">-->
                                        <!--<span ng-style="{'color':((customer2.customer_type === 'client')?'#77dd77':(customer2.customer_type === 'prospect')?'#5f98cd':'#ff6657'),'border':((customer2.customer_type === 'client')?'1px solid #77dd77':(customer2.customer_type === 'prospect')?'1px solid #5f98cd':'1px solid #ff6657')}" style="text-align:center;padding:2px 5px;font-size:8px;margin-right:5px">{{customer2.customer_type.toUpperCase()}}</span><span style="font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color:#7b7b7b;">{{customer2.name}}</span></a>-->
                                <!--</div>-->


                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col l12 s12" style="margin-bottom: 1%;">-->
                            <!--<table class="striped">-->
                                <!--<thead>-->
                                <!--<tr ng-if="otherSubTasksData.length > 0">-->
                                    <!--<th style="width: 50%;text-align: center;">Tasks Content</th>-->
                                    <!--<th style="width: 25%;text-align: center;">Due Date</th>-->
                                    <!--<th style="width: 20%;text-align: center;">Assigned to</th>-->
                                    <!--<th style="width: 5%;text-align: center;">Action</th>-->
                                <!--</tr>-->
                                <!--</thead>-->
                                <!--<div class="preloader-wrapper small active" style="margin-top: 5px;" ng-show="spinner">-->
                                    <!--<div class="spinner-layer spinner-green-only">-->
                                        <!--<div class="circle-clipper left">-->
                                            <!--<div class="circle"></div>-->
                                        <!--</div><div class="gap-patch">-->
                                        <!--<div class="circle"></div>-->
                                    <!--</div><div class="circle-clipper right">-->
                                        <!--<div class="circle"></div>-->
                                    <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</table>-->
                        <!--<div class="col l12 s12 m12 tablescroll">-->
                            <!--<table class="striped" style="width: 100%">-->
                                <!--<tbody class="tablescroll" id="sortThisFreshTask1">-->
                                <!--<tr ng-repeat="other in otherSubTasksData track by $index">-->
                                    <!--<td style="width: 5%;">{{other.index+1}}</td>-->
                                    <!--<td style="width: 5%;">-->
                                        <!--<span class="dragThis"><i class="material-icons left">swap_vert</i></span>-->
                                    <!--</td>-->
                                    <!--<td style="width: 50%;padding: 0px;">-->
                                        <!--<div class="input-field col xl10 l10 m6 s12 regForm-input">-->
                                        <!--<input ng-readonly="other.subtask_completed == 'Y'" ng-class="other.subtask_completed === 'Y' ? 'textdeco' : '' "  type="text" class="validate" name="content" ng-model='other.content'-->
                                        <!--placeholder="Content"-->
                                        <!--required>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td style="min-width:140px;width: 25%;text-align: center;padding: 0px;">-->
                                        <!--<div class="input-field col xl10 l10 m6 s12 regForm-input">-->
                                            <!--&lt;!&ndash;<input ng-readonly="other.subtask_completed == 'Y'"  type="text" class="" ng-model="other.currentTime"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;ng-change="closeDatePickerForIndTask(other.currentTime)"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;name="actionDate"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;placeholder="Assign Due Date"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;input-date>&ndash;&gt;-->

                                            <!--<datepicker>-->
                                                <!--<input ng-readonly="other.subtask_completed == 'Y'" type="text" ng-model="other.currentTime"-->
                                                       <!--ng-change="closeDatePickerForIndTask(other.currentTime,$index)"-->
                                                       <!--placeholder="Assign Due Date"-->
                                                <!--/>-->
                                            <!--</datepicker>-->
                                        <!--</div>-->

                                    <!--</td>-->
                                    <!--<td style="width: 20%;text-align: center;padding: 0px;">-->
                                        <!--<input ng-readonly="other.subtask_completed == 'Y'" type="text"  ng-model=other.assignto ng-change="searchSubUser(other.assignto,$index,other)"   style="margin-bottom: 0px" placeholder="Assign To">-->
                                        <!--<div class="collection"  style="margin-top: -1px; max-height: 150px; overflow-y: scroll;margin-left: -1%;" ng-show="other.active">-->
                                            <!--<a style="cursor:pointer;" ng-click="choseSubUserSrach(user,$parent.$index,other)" class="collection-item" ng-repeat="user in allSubuserNames">-->
                                                <!--<span>{{user.username}}</span></a>-->
                                        <!--</div>-->

                                    <!--</td>-->
                                    <!--<td style="width: 5%;padding: 0px;">-->
                                        <!--<a class="right" ng-click="removeOthersubtasks($index)" style="cursor: pointer;"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<div style="width: 5%;padding: 0px;" style="padding: 15px 0px">-->
                                            <!--<a ng-click="addFreshTasksBetween($index)" style="cursor: pointer;"><i class="material-icons"-->
                                                                                                                 <!--style="color: #7b7b7b; font-weight: 600; font-size: 20px;">add</i></a>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="center col-l2">-->
                        <!--<button type="submit" style="background-color: #2bbbad; margin-top: 5px;"-->
                                <!--class="waves-effect  waves-light btn btn wqBlue-btn"-->
                                <!--ng-click="addOtherSubTasks()">Add Subtasks-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a ng-if="statusfresh !== 'EDIT'" type="submit" class="modal-action waves-effect waves-green btn btn wqBlue-btn" ng-disabled="TaskbuttonDisable" ng-click="saveOtherTask(other)">Save-->
            <!--Task</a>-->
        <!--<a ng-if="statusfresh === 'EDIT'" type="submit" class="modal-action waves-effect waves-green btn btn wqBlue-btn" ng-click="UpdateOtherTask(other)">Update-->
            <!--Task</a>-->
    <!--</div>-->
<!--</div>-->
<!--<style>-->
    <!--.picker__footer {-->
        <!--display:block !important;-->
        <!--width: 303px;-->
    <!--}-->
<!--</style>-->
<!--<script>-->
    <!--$(document).ready(function () {-->
        <!--$('ul.tabs').tabs();-->
        <!--$('.modal').modal();-->
        <!--$('ul.tabs').tabs('select_tab', 'tab_id');-->
        <!--$('select').material_select();-->
        <!--Materialize.updateTextFields();-->
        <!--$('.tooltipped').tooltip({delay: 50});-->
        <!--$('.actionDate').pickadate({-->
            <!--selectMonths: true, // Creates a dropdown to control month-->
            <!--selectYears: 15, // Creates a dropdown of 15 years to control year,-->
            <!--closeOnSelect: true,-->
            <!--onSet: function( arg ){-->
                <!--if ( 'select' in arg ){ //prevent closing on selecting month/year-->
                    <!--this.close();-->
                <!--}-->
            <!--}-->
        <!--});-->
        <!--$('.srTypeDropdown-btn').dropdown({-->
                <!--inDuration: 300,-->
                <!--outDuration: 225,-->
                <!--constrainWidth: true, // Does not change width of dropdown to that of the activator-->
                <!--hover: false, // Activate on hover-->
                <!--gutter: 0, // Spacing from edge-->
                <!--belowOrigin: true, // Displays dropdown below the button-->
                <!--alignment: 'right', // Displays dropdown with edge aligned to the left of button-->
                <!--stopPropagation: false // Stops event propagation-->
            <!--}-->
        <!--);-->



    <!--});-->

<!--</script>-->
<script>
    $(document).ready(function(){
        $('#sortThisTask').validator();
    });
</script>