<div class="row">
    <div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12 ">
        <div class="col xl2" style="margin-top: 25px;" ng-hide="fromMyClientsCheck">
            <button class="waves-effect waves-light btn btn wqBlue-btn" ui-sref="tasks" style="margin-top: 11px;height: 24px;line-height: 24px;padding: 0 0.5rem;">Back To Tasks </button>
        </div>
        <div class="col xl2" style="margin-top: 25px;" ng-show="fromMyClientsCheck">
            <button class="waves-effect waves-light btn btn wqBlue-btn" ui-sref="myClients" style="margin-top: 11px;height: 24px;line-height: 24px;padding: 0 0.5rem;" ng-click="fromMyClientsCheck = false;">Back To My Clients</button>
        </div>
        <div class="input-field col xl4 s12 m6" style="margin-top: auto;" ng-show="Store.customerview">
            <div class="input-field col xl12 l12 m4 s12">
                <input  type="text" id="selectClient2" ng-model="taskdata.customername" ng-change="assignCustomersForTemp(taskdata.customername)" style="margin-bottom: 5px !important;">
                <span style="color: red">{{errorMessage}}</span>
                <label for="selectClient2">Search Tasks By Customer Name</label>
                <div class="collection"  style="margin-top: -6px; max-height: 150px; overflow-y: scroll" ng-if="showDropDown.length>0" ng-show="hideDropDownAfterSelect">
                    <a style="cursor:pointer;" ng-click="chosenCustomerForTemp(customer1)" class="collection-item" ng-repeat="customer1 in allCustomersDataCust">
                        <span ng-style="{'color':((customer1.customer_type === 'client')?'#77dd77':(customer1.customer_type === 'prospect')?'#5f98cd':'#ff6657'),'border':((customer1.customer_type === 'client')?'1px solid #77dd77':(customer1.customer_type === 'prospect')?'1px solid #5f98cd':'1px solid #ff6657')}" style="text-align:center;padding:2px 5px;font-size:8px;margin-right:5px">{{customer1.customer_type.toUpperCase()}}</span><span style="font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color:#7b7b7b;">{{customer1.name}}</span></a>
                </div>
            </div>
        </div>
        <div class="input-field col xl4 s12 m4" style="margin-top: 1px;" ng-show="Store.assingeeview">
            <div class="input-field col xl12 l12 m6 s12">
                <input type="text" id="selectClient5" ng-model="taskdata.assigneename" ng-change="getAssigneeNames(taskdata.assigneename)" style="margin-bottom: 5px !important;">
                <span style="color: red">{{errorMessage}}</span>
                <label for="selectClient5">Search Tasks By Assignee Name</label>
                <div class="collection"  style="margin-top: -6px; max-height: 150px; overflow-y: scroll" ng-if="showDropDown.length>0" ng-show="hideDropDownAssingeeAfterSelect">
                    <a style="cursor:pointer;" ng-click="chooseAssignee(assignee)" class="collection-item" ng-repeat="assignee in allAssigneeNames">
                        <span style="font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color:#7b7b7b;">{{assignee.assigned_to}}</span></a>
                </div>
            </div>
        </div>

        <div class="input-field col xl8 l8 s12 m4" style="margin-top: 14px;" ng-show="Store.dateview">
            <div class="input-field col xl4 l4 m6 s12 regForm-input">
                <span style="color: red">{{errorMessage1}}</span>
                <input type="text" class="" ng-model="search.startDate"
                       ng-change="closeDatePickerForIndTask(other.currentTime)"
                       name="actionDate"
                       placeholder="start Date"
                       input-date>
            </div>
            <div class="input-field col xl4 l4 m6 s12 regForm-input">
                <span style="color: red">{{errorMessage2}}</span>
                <input id="inputCreated7" type="text" class="" ng-model="search.endDate"
                       ng-change="closeDatePickerForIndTask(other.currentTime)"
                       name="actionDate"
                       placeholder="End Date"
                       input-date>
            </div>
            <div class="input-field col xl2 l2 m6 s12 regForm-input">
                <button class="waves-effect waves-light btn btn wqBlue-btn" style="margin-top: 8px;" ng-click="searchByDate()">
                    Search
                </button>
            </div>
        </div>

        <div class="input-field col xl2 l2 s12 m6 " style="margin-top: 42px;">
            Total Records : {{TotalRecord || 0}}
        </div>
    </div>

    <div class="preloader-wrapper small active" style="margin-left: 47%;margin-top: 5px;" ng-show="spinner">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>

    <div class="row AlltaskScrollModalSearch">
        <div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12 ">
            <div>
                <ul class="collection" ng-if="tasksDataBySearch.length === 0">
                    <li class="collection-item center-align">No tasks found for this Customer</li>
                </ul>
            </div>
            <ul class="collapsible popout task tablescroll" data-collapsible="accordion" style="margin-bottom: 0px;min-height: 60vh;">
                <li ng-repeat="tasks in tasksDataBySearch | pagination: curPage * pageSize | limitTo: pageSize">
                    <div class="collapsible-header collapsible-task hoverable" ng-if="tasksDataBySearch.length >0" ng-style="{'border':((tasks.next.task_completed === 'Y')?' 1px solid #c1c1c1':'1px solid #2E475F') ,'background-color': selected1 === $index ? backgroundImageInfosearch : ''}"
                         style="min-height: 6rem;margin-bottom: 1%;" ng-click="clickedColSearch($index)">
                        <div class="col l11 m11 s11" style="font-family: 'Lato', sans-serif;font-size: 1.2em;" ng-style="{'color':((tasks.next.task_completed === 'Y')?'#c1c1c1':'#707070')}">
                            <div class="left-align">Task Name : {{tasks.task_title}}</div>
                            <div class="right-align">Customer Name : {{tasks.customername}}</div>
                            <div class="left-align" ng-if="tasks.isSubtask === 'Y'">Sub Task : {{tasks.next.subtask_name ? tasks.next.subtask_name : tasks.next.task_content  }}</div>
                            <div class="right-align" ng-if="tasks.isSubtask === 'Y'">Due Date : {{tasks.next.dueDate | date:"MMM dd',' yyyy "}}</div>
                            <div class="left-align" ng-if="tasks.isSubtask === 'Y'">Assigned To : {{tasks.next.assigned_to}}</div>
                            <div class="center-align">
                            <span class="center-align" ng-if="tasks.next.snooze === 'Y' && tasks.next.task_completed !== 'Y' ">
                                Snoozed Task
                            </span>
                                <span class="center-align" ng-if="tasks.next.task_completed === 'Y'">
                                Completed Task
                            </span>
                                <span class="center-align" ng-if="tasks.next.snooze !== 'Y' && tasks.next.task_completed !== 'Y' " class="center-align" ng-style="{'color':(tasks.next.taskStatus === 'Upcoming Task')?'#50d850' : '#ff6657'}">
                                 {{tasks.next.taskStatus}}
                            </span>
                            </div>
                        </div>
                        <span get-access="crm">
                           <span>
                           <i ng-if="tasks.next.task_content !== '' && tasks.next.task_completed !== 'Y'" class="material-icons leadsAction-btn not-collapse WQBlue" style="margin-right: 0px;" ng-click="openEditSratchTempModal(tasks,$event,'EDIT')">mode_edit</i>
                           </span>
                           <span>
                           <i ng-if="tasks.next.subtask_name !== '' && tasks.next.task_completed !== 'Y'" class="material-icons leadsAction-btn not-collapse WQBlue" style="margin-right: 0px;" ng-click="openEditTempTaskModal(tasks,$event)">mode_edit</i>
                           </span>
                           <span >
                           <i ng-if="tasks.next.task_completed !== 'Y' && tasks.next.snooze === 'N' " class="material-icons leadsAction-btn not-collapse WQGreen" style="margin-right: 0px;" ng-click="openSnoozedTaskModal(tasks,$event)">snooze</i>
                           <i ng-if="tasks.next.task_completed !== 'Y' && tasks.next.snooze === 'Y' " class="material-icons leadsAction-btn not-collapse WQGreen" style="margin-right: 0px;" ng-click="openUnSnoozedTaskModal(tasks,$event)">snooze</i>
                           </span>
                           <span ng-if="tasks.next.task_completed !== 'Y'" ng-show="Store.customerview">
                                <i class="material-icons leadsAction-btn not-collapse WQRed" style="margin-right: 0px;" ng-click="openDeleteTaskModal(tasks,$event)">delete</i>
                            </span>
                        </span>
                        
                    </div>
                    <div class="collapsible-body" style="font-family: 'Lato', sans-serif;color: #707070;font-size: 1em;max-height: 250px;overflow-y: scroll;" >
                        <table class="striped" style="line-height: 1;">
                            <thead>
                            <tr>
                                <th style="width: 5%;">Steps</th>
                                <th get-access="crm" style="width: 5%;"></th>
                                <th style="width: 15%;">SubTask Name</th>
                                <th style="width: 10%;">Assign to</th>
                                <th style="width: 20%;">Due Date</th>
                                <th style="width: 10%;">Note</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="t in tasks.data track by $index" >
                                <td style="width: 5%;">{{$index+1}}</td>
                                <td get-access="crm" style="width: 5%">
                                    <i ng-class="t.subtask_completed === 'Y' ? 'myMarkClass': 'myUnMarkClass'" class="material-icons leadsAction-btn not-collapse"  ng-click="openModalTempTasks(t,tasks,$index)">done</i>
                                </td>
                                <td style="width: 40%;" ng-class="t.subtask_completed === 'Y' ? 'textdeco' : '' ">{{t.subtask_name ? t.subtask_name : t.task_content}}</td>
                                <td style="width: 10%;">{{t.assigned_to}}</td>
                                <td style="width: 20%;">{{t.dueDate |  date:"MMM dd',' yyyy '"}}</td>
                                <td style="width: 20%;">
                               <span id="tooltip{{$index}}" tooltipped="{{t.note.length > 13}}" data-position="top" data-delay="50" data-tooltip="{{t.note}}">
                                     {{(t.note.length > 13 ? t.note.substring(0,13) : t.note) || ''}}
                                   </span>

                                <span get-access="crm">
                                     <a style="height: 24px;line-height: 24px;padding: 0 0.5rem;" ng-if="t.note !== '' && t.task_completed !== 'Y'" class="waves-effect waves-light btn " ng-click="AddNoteForTask(t,$index)" >Edit Note</a>
                                     
                                     <a style="height: 24px;line-height: 24px;padding: 0 0.5rem;" ng-if="t.note === '' && t.task_completed !== 'Y'" class="waves-effect waves-light btn " ng-click="AddNoteForTask(t,$index)" >Add Note</a>
                                </span>
                                    


                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>


    <div class="pagination pagination-centered" ng-show="tasksDataBySearch.length" style="text-align: center;">
        <ul class="pagination-controle pagination">
            <li>
                <button type="button" class="btn btn-primary btn wqBlue-btn" ng-disabled="curPage == 0"
                        ng-click="curPage=curPage-1"> &lt; PREV</button>
            </li>
            <li style="margin-top: 7px;margin-left: 17px;margin-right: 17px;">
                <span>Page {{curPage + 1}} of {{ numberOfPagesSearch() }}</span>
            </li>
            <li>
                <button type="button" class="btn btn-primary btn wqBlue-btn"
                        ng-disabled="curPage >= tasksDataBySearch.length/pageSize - 1"
                        ng-click="curPage = curPage+1">NEXT &gt;</button>
            </li>
        </ul>
    </div>
</div>


<div id="Updatetasktemplate" class="modal individualtasksModal" style="width: 70%;max-height: 84%;">
    <div class="modal-content center-align" style="padding: 0px">
        <a class="right modal-close" style="margin-top: -12px" ng-click="closeindividualSRModal()"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>
        <h5>Edit/Update Task </h5>
        <div class="divider" style="margin-bottom: 20px;"></div>
        <div class="row">
            <div class="col l12 s12 m12">
                <form name="partnerClientRegForm" autocomplete="off">
                    <div class="row">
                        <div class="input-field col xl6 l12 m6 s12 regForm-input">
                            <input  type="text" class="validate" name="task name"
                                   ng-model='c.temptaskname'
                                   placeholder="Task Name"
                                   required>
                            <div style="color: red;margin-right: 67%;margin-top: -15px;">{{errorMessage}}</div>
                        </div>
                        <div class="input-field col xl6 l12 m6 s12" style="margin-top: 0px;">
                            <div class="center-align">

                            </div>
                            <input type="text" id="selectClient33" ng-model="c.tempcustomername" ng-model-options="{'debounce':500}" ng-change="assignCustomersForTemp(c.tempcustomername)" style="margin-bottom: 0px">
                            <div style="color: red;margin-right: 54%;">{{errorMessage1}}</div>
                            <label for="selectClient33">Choose Customer</label>
                            <div class="collection"  style="margin-top: 0px; max-height: 150px; overflow-y: scroll" ng-if="showDropDown.length>0" ng-show="hideDropDownAfterSelect">
                                <a style="cursor:pointer;text-align: left;" ng-click="chosenCustomerForInd(customer2)" class="collection-item" ng-repeat="customer2 in allCustomersDataCust">
                                    <span ng-style="{'color':((customer2.customer_type === 'client')?'#77dd77':(customer2.customer_type === 'prospect')?'#5f98cd':'#ff6657'),'border':((customer2.customer_type === 'client')?'1px solid #77dd77':(customer2.customer_type === 'prospect')?'1px solid #5f98cd':'1px solid #ff6657')}" style="text-align:center;padding:2px 5px;font-size:8px;margin-right:5px">{{customer2.customer_type.toUpperCase()}}</span><span style="font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color:#7b7b7b;">{{customer2.name}}</span></a>
                            </div>


                        </div>
                    </div>
                    <div class="col l12 s12" style="margin-bottom: 1%;">
                        <table class="striped">
                            <thead>
                            <tr ng-if="TempSubTasksData.length > 0">
                                <th style="width: 50%;text-align: center;">SubTask Name</th>
                                <th style="width: 25%;text-align: center;">Due Date</th>
                                <th style="width: 20%;text-align: center;">Assigned to</th>
                                <th style="width: 5%;text-align: center;">Action</th>
                            </tr>
                            </thead>
                            <div class="preloader-wrapper small active" style="margin-top: 5px;" ng-show="spinner">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                                </div>
                            </div>
                        </table>
                        <div class="col l12 s12 m12 tablescroll">
                            <table class="striped" style="width: 100%">
                                <tbody class="tablescroll" id="sortThisTempTask">
                                <tr ng-repeat="other in TempSubTasksData track by $index">
                                    <td style="width: 5%;">{{other.index+1}}</td>
                                    <td>
                                        <span class="dragThis"><i class="material-icons left">swap_vert</i></span>
                                    </td>
                                    <td style="width: 50%;padding: 0px;">
                                        <div class="input-field col xl10 l10 m6 s12 regForm-input">
                                            <input ng-readonly="other.subtask_completed == 'Y'" ng-class="other.subtask_completed === 'Y' ? 'textdeco' : '' "  type="text" class="validate" name="content" ng-model='other.subtask_name'
                                                   placeholder="Content"
                                                   required>
                                        </div>
                                    </td>
                                    <td style="min-width:140px;width: 25%;text-align: center;padding: 0px;">
                                        <div class="input-field col xl10 l10 m6 s12 regForm-input">
                                            <!--<input ng-readonly="other.subtask_completed == 'Y'"  type="text" class="" ng-model="other.currentTime"-->
                                                   <!--ng-change="changeDateForPreviousSearchTask(TempSubTasksData,other.currentTime,$index)"-->
                                                   <!--name="actionDate"-->
                                                   <!--placeholder="Assign Due Date"-->
                                                   <!--on-open="onOpen(other.currentTime)"-->
                                                   <!--input-date>-->

                                            <datepicker>
                                                <input ng-readonly="other.subtask_completed == 'Y'" type="text" ng-model="other.currentTime"
                                                       ng-change="changeDateForPreviousSearchTask(TempSubTasksData,other.currentTime,$index)"
                                                       placeholder="Assign Due Date"
                                                       ng-click="getTheSelectedDate(other.currentTime)"/>
                                            </datepicker>
                                        </div>

                                    </td>
                                    <td style="width: 20%;text-align: center;padding: 0px;">
                                        <input type="text"  ng-model=other.assignto ng-change="searchSubUser(other.assignto,$index,other)"  style="margin-bottom: 0px" placeholder="Assign To">
                                        <div class="collection"  style="margin-top: -1px; max-height: 150px; overflow-y: scroll;margin-left: -1%;" ng-show="other.active">
                                            <a style="cursor:pointer;" ng-click="choseSubUserTempUpcoming(user,$parent.$index,other)" class="collection-item" ng-repeat="user in allSubuserNames">
                                                <span>{{user.username}}</span></a>
                                        </div>

                                    </td>
                                    <td style="width: 5%;padding: 0px;">
                                        <a class="right" ng-click="removetempData(other,$index)" style="cursor: pointer;"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>
                                    </td>
                                    <td>
                                        <div style="width: 5%;padding: 0px;" style="padding: 15px 0px">
                                            <a ng-click="addTempTasksBetween($index)" style="cursor: pointer;"><i class="material-icons"
                                                                                                                  style="color: #7b7b7b; font-weight: 600; font-size: 20px;">add</i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="center col-l2">
                        <button type="submit" style="background-color: #2bbbad; margin-top: 5px;"
                                class="waves-effect  waves-light btn btn wqBlue-btn"
                                ng-click="addTemplateSubTasks()">Add Subtasks
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <span style="color: red">{{validationError}}</span>
    </div>
    <div class="modal-footer">
        <a  type="submit" ng-disabled ="tempUpdateButtonSearch" class="modal-action waves-effect waves-green btn" ng-click="UpdateTemplateTasks(other)">Update
            Task</a>
    </div>
</div>


<div id="individualtasks" class="modal individualtasksModal" style="width: 70%;max-height: 84%;">
    <div class="modal-content center-align" style="padding: 0px">
        <a class="right modal-close" style="margin-top: -12px" ng-click="closeindividualSRModal()"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>
        <h5 ng-if="statusfresh !== 'EDIT'">Create Individual Task</h5>
        <h5 ng-if="statusfresh === 'EDIT'">Edit/Update Task</h5>
        <div class="divider" style="margin-bottom: 20px;"></div>
        <div class="row">
            <div class="col l12 s12 m12">
                <form name="partnerClientRegForm" autocomplete="off">
                    <div class="row">
                        <div class="input-field col xl6 l12 m6 s12 regForm-input">
                            <input  type="text" class="validate" name="task name"
                                   ng-model='taskname'
                                   placeholder="Task Name"
                                   required>
                            <div style="color: red;margin-right: 67%;margin-top: -15px;">{{errorMessage}}</div>
                        </div>
                        <div class="input-field col xl6 l12 m6 s12" style="margin-top: 0px;">
                            <div class="center-align">

                            </div>
                            <input type="text" id="selectClient11" ng-model="customername" ng-change="assignCustomersForTemp(customername)" style="margin-bottom: 0px">
                            <div style="color: red;margin-right: 54%;">{{errorMessage1}}</div>
                            <label for="selectClient11">Choose Customer</label>
                            <div class="collection"  style="margin-top: 0px; max-height: 150px; overflow-y: scroll" ng-if="showDropDown.length>0" ng-show="hideDropDownAfterSelect">
                                <a style="cursor:pointer;text-align: left;" ng-click="chosenCustomerForInd(customer2)" class="collection-item" ng-repeat="customer2 in allCustomersDataCust">
                                    <span ng-style="{'color':((customer2.customer_type === 'client')?'#77dd77':(customer2.customer_type === 'prospect')?'#5f98cd':'#ff6657'),'border':((customer2.customer_type === 'client')?'1px solid #77dd77':(customer2.customer_type === 'prospect')?'1px solid #5f98cd':'1px solid #ff6657')}" style="text-align:center;padding:2px 5px;font-size:8px;margin-right:5px">{{customer2.customer_type.toUpperCase()}}</span><span style="font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color:#7b7b7b;">{{customer2.name}}</span></a>
                            </div>


                        </div>
                    </div>
                    <div class="col l12 s12" style="margin-bottom: 1%;">
                        <table class="striped">
                            <thead>
                            <tr ng-if="otherSubTasksData.length > 0">
                                <th style="width: 50%;text-align: center;">Tasks Content</th>
                                <th style="width: 25%;text-align: center;">Due Date</th>
                                <th style="width: 20%;text-align: center;">Assigned to</th>
                                <th style="width: 5%;text-align: center;">Action</th>
                            </tr>
                            </thead>
                            <div class="preloader-wrapper small active" style="margin-top: 5px;" ng-show="spinner">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                        <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                                </div>
                            </div>
                        </table>
                        <div class="col l12 s12 m12 tablescroll">
                            <table class="striped" style="width: 100%">
                                <tbody class="tablescroll" id="sortThisFreshTask1">
                                <tr ng-repeat="other in otherSubTasksData track by $index">
                                    <td style="width: 5%;">{{other.index+1}}</td>
                                    <td style="width: 5%;">
                                        <span class="dragThis"><i class="material-icons left">swap_vert</i></span>
                                    </td>
                                    <td style="width: 50%;padding: 0px;">
                                        <div class="input-field col xl10 l10 m6 s12 regForm-input">
                                            <input ng-readonly="other.subtask_completed == 'Y'" ng-class="other.subtask_completed === 'Y' ? 'textdeco' : '' " id="Content" type="text" class="validate" name="content" ng-model='other.content'
                                                   placeholder="Content"
                                                   required>
                                        </div>
                                    </td>
                                    <td style="min-width:140px;width: 25%;text-align: center;padding: 0px;">
                                        <div class="input-field col xl10 l10 m6 s12 regForm-input">
                                            <!--<input  type="text" class="" ng-model="other.currentTime"-->
                                                   <!--ng-change="closeDatePickerForIndTask(other.currentTime)"-->
                                                   <!--name="actionDate"-->
                                                   <!--placeholder="Assign Due Date"-->
                                                   <!--input-date>-->
                                            <datepicker>
                                                <input type="text" ng-model="other.currentTime"
                                                       ng-change="closeDatePickerForIndTask(other.currentTime,$index)"
                                                       placeholder="Assign Due Date"
                                                />
                                            </datepicker>
                                        </div>

                                    </td>
                                    <td style="width: 20%;text-align: center;padding: 0px;">
                                        <input type="text" id="selectClientind" ng-model=other.assignto ng-change="searchSubUser(other.assignto,$index,other)"   style="margin-bottom: 0px" placeholder="Assign To">
                                        <div class="collection"  style="margin-top: -1px; max-height: 150px; overflow-y: scroll;margin-left: -1%;" ng-show="other.active">
                                            <a style="cursor:pointer;" ng-click="choseSubUserSrach(user,$parent.$index,other)" class="collection-item" ng-repeat="user in allSubuserNames">
                                                <span>{{user.username}}</span></a>
                                        </div>

                                    </td>
                                    <td style="width: 5%;padding: 0px;">
                                        <a class="right" ng-click="removeOthersubtasks(other,$index)" style="cursor: pointer;"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>
                                    </td>
                                    <td>
                                        <div style="width: 5%;padding: 0px;" style="padding: 15px 0px">
                                            <a ng-click="addFreshTasksBetween($index)" style="cursor: pointer;"><i class="material-icons"
                                                                                                                   style="color: #7b7b7b; font-weight: 600; font-size: 20px;">add</i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="center col-l2">
                        <button type="submit" style="background-color: #2bbbad; margin-top: 5px;"
                                class="waves-effect  waves-light btn btn wqBlue-btn"
                                ng-click="addOtherSubTasks()">Add Subtasks
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-if="statusfresh !== 'EDIT'" type="submit" class="modal-action waves-effect waves-green btn btn wqBlue-btn" ng-click="saveOtherTask(other)">Save
            Task</a>
        <a ng-if="statusfresh === 'EDIT'" type="submit" class="modal-action waves-effect waves-green btn btn wqBlue-btn" ng-click="UpdateOtherTask(other)">Update
            Task</a>
    </div>
</div>

<div id="openTaskRemovePopUpModalSearch" class="modal">

    <div class="modal-content center-align">
        <h4>Confirm Task Deletion</h4>
        <div class="divider"></div>
        <p>Do you want to Delete this Task? All future alerts will be suspended.</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"
           ng-click="submitTaskRemove()">Yes</a>

        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIds()" style="margin-right: 20px;">No</a>
    </div>
</div>

<div id="openSnoozedPopUpModal" class="modal">

    <div class="modal-content center-align">
        <h4>Snooze Task</h4>
        <div class="divider"></div>
        <p>Do you want to Snooze this Task? All future alerts will be suspended.</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"
           ng-click="submitSnoozeTask()">Yes</a>

        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIds()" style="margin-right: 20px;">No</a>
    </div>
</div>

<div id="openUnSnoozedPopUpModal" class="modal">

    <div class="modal-content center-align">
        <h4>Un Snooze Task</h4>
        <div class="divider"></div>
        <p>Do you want to UnSnooze this Task? All future alerts will be Activated.</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"
           ng-click="submitUnSnoozeTask()">Yes</a>

        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIds()" style="margin-right: 20px;">No</a>
    </div>
</div>

<div id="openModalForTempTasksCnf" class="modal">

    <div class="modal-content center-align">
        <h4>Confirm Task Completion</h4>
        <div class="divider"></div>
        <p ng-if="taskLength != indexLength">Are you sure, you want to mark the selected task as completed?</p>
        <p ng-if="taskLength === indexLength">Are you sure, you want to mark the selected task as completed and move to completed section</p>
        <div class="row" ng-show="taskLength === indexLength" style="margin-bottom: 0px;">
            <div class="input-field col l12 s12 m12">
                <input type="text" ng-model="taskData.taskNote1">
                <label>Completion Note</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"
           ng-click="taskStatusOfSubTask(taskNote1);taskStatusOfSubTaskForAllCompleted()">Yes</a>

        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIds()" style="margin-right: 20px;">No</a>
    </div>

</div>

<div id="openModalForPreviuosTasks" class="modal">
    <div class="modal-content center-align">
        <h4>Confirm Previous Tasks</h4>
        <p ng-if="taskLength != indexLength">Do you want to mark the previous tasks as complete?</p>
        <p ng-if="taskLength === indexLength">Do you want to mark the previous tasks as complete and move to completed section</p>
        <div class="row" ng-show="taskLength === indexLength" style="margin-bottom: 0px;">
            <div class="input-field col l12 s12 m12">
                <input type="text" ng-model="taskData.taskNote1">
                <label>Completion Note</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"
           ng-click="taskStatusOfSubTask();taskStatusOfSubTaskForAllCompleted()">Yes</a>

        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIdsPrivious()" style="margin-right: 20px;">No</a>
    </div>
</div>

<div id="openNotePopUpModal" class="modal">

    <div class="modal-content center-align">
        <h4>Note</h4>
        <div class="divider"></div>
        <div class="row" style="margin-bottom: 0px;">
            <div class="input-field col l12 s12 m12">
                <textarea type="text" ng-model="note.taskNote1" style="height: 6rem;" placeholder="Add task note">
                </textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"
           ng-click="submitNoteForTask(note)">Yes</a>

        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIds()" style="margin-right: 20px;">No</a>
    </div>
</div>
<div id="tempDateCnfrmModalsearch" class="modal">
    <div class="modal-content center-align">
        <h4>Confirm Subtask Date Change</h4>
        <div class="divider"></div>
        <p>Are you sure, you want to change all subtask dates?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"
           ng-click="changeSubtaskTempDateSearch()">all tasks</a>

        <a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" style="margin-right: 20px;" ng-click="dateChangeOnlySelectedSearch()" >only this</a>
    </div>
</div>


<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$('ul.tabs').tabs();-->
        <!--$('.modal').modal();-->
        <!--$('ul.tabs').tabs('select_tab', 'tab_id');-->
        <!--$('select').material_select();-->
        <!--Materialize.updateTextFields();-->
        <!--$('select').material_select();-->
        <!--$('.task').collapsible();-->
        <!--$('.tooltipped').tooltip({delay: 50});-->
        <!--$('.datepicker').pickadate({-->
            <!--selectMonths: true, // Creates a dropdown to control month-->
            <!--selectYears: 15 // Creates a dropdown of 15 years to control year-->
        <!--});-->
        <!--$('.tooltipped').tooltip({delay: 50});-->
<!--//        var anchorElement = $('#tooltip');-->
<!--//        anchorElement.attr('data-tooltip', 'New tooltip value');-->
<!--//        anchorElement.tooltip();-->

    <!--});-->
<!--</script>-->


