<!--<div class="preloader-wrapper small active" style="margin-left: 47%;margin-top: 5px;" ng-show="spinner">-->
    <!--<div class="spinner-layer spinner-green-only">-->
        <!--<div class="circle-clipper left">-->
            <!--<div class="circle"></div>-->
        <!--</div><div class="gap-patch">-->
        <!--<div class="circle"></div>-->
    <!--</div><div class="circle-clipper right">-->
        <!--<div class="circle"></div>-->
    <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="input-field col xl12 l12 s12 m6 right-align" style="margin-left: -60px;margin-bottom: -21px;" >-->
    <!--Total snoozed tasks : {{snoozedData.length || 0}}-->
<!--</div>-->
<!--<div class="row AllTempCompModal" id="alltasks1" style="margin-bottom: 0px;">-->
    <!--<div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12"-->
         <!--style="margin-top: 20px;margin-left: 77px;margin-right: auto;">-->
        <!--<div>-->
            <!--<ul class="collection" ng-if="snoozedData.length === 0">-->
                <!--<li class="collection-item center-align">No Data Found</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<ul class="collapsible popout task tablescroll" data-collapsible="accordion" style="margin-bottom: 0px;min-height: 56vh;">-->
            <!--<li ng-repeat="tasks in snoozedData | pagination: curPage * pageSize | limitTo: pageSize">-->
                <!--<div class="collapsible-header collapsible-task hoverable" ng-if="snoozedData.length >0"-->
                     <!--style="min-height: 5rem;border: solid #2E475F 1px;margin-bottom: 1%;" ng-click="clickedColSnooze($index)" ng-style="{ 'background-color': selected1 === $index ? backgroundImageInfosnooze : ''}">-->
                    <!--<div class="col l11 m11 s11" style="color: black;font-family: 'Lato', sans-serif;color: #707070;font-size: 1.2em;">-->
                        <!--<div class="left-align">Task Name : {{tasks.task_title}}</div>-->
                        <!--<div class="right-align">Customer Name : {{tasks.customername}}</div>-->
                        <!--<div class="left-align" id="tooltip" tooltipped="{{tasks.next.subtask_name.length > 60 || tasks.next.task_content.length > 60}}" data-position="top" data-delay="50" data-tooltip="{{tasks.next.subtask_name ? tasks.next.subtask_name : tasks.next.task_content}}">-->
                            <!--Sub Task : {{tasks.next.subtask_name ? tasks.next.subtask_name : tasks.next.task_content | trimTooltip}}-->
                        <!--</div>-->
                        <!--<div class="right-align" ng-if="tasks.isSubtask === 'Y'">Due Date : {{tasks.next.dueDate | date:"MMM dd',' yyyy "}}</div>-->
                        <!--<div class="left-align" ng-if="tasks.isSubtask === 'Y'">Assigned To : {{tasks.next.assigned_to}}</div>-->
                    <!--</div>-->
                    <!--<span get-access="crm">-->
                        <!--<span>-->
                            <!--<i ng-if="tasks.next.task_content !== ''" class="material-icons leadsAction-btn not-collapse WQBlue" style="margin-right: 0px;" ng-click="openEditSratchTempModal(tasks,$event,'EDIT')">mode_edit</i>-->
                        <!--</span>-->
                        <!--<span>-->
                            <!--<i ng-if="tasks.next.subtask_name !== ''" class="material-icons leadsAction-btn not-collapse WQBlue" style="margin-right: 0px;" ng-click="openEditTempTaskModal(tasks,$event)">mode_edit</i>-->
                        <!--</span>-->
                        <!--<span>-->
                            <!--<i class="material-icons leadsAction-btn not-collapse WQGreen" style="margin-right: 0px;" ng-click="openUnSnoozedTaskModal(tasks,$event)">snooze</i>-->
                        <!--</span>-->
                         <!--<span>-->
                            <!--<i class="material-icons leadsAction-btn not-collapse WQRed" style="margin-right: 0px;" ng-click="openDeleteTaskModal(tasks,$event)">delete</i>-->
                        <!--</span>-->
                    <!--</span>-->
                <!--</div>-->
                <!--<div class="collapsible-body" style="font-family: 'Lato', sans-serif;color: #707070;font-size: 1em;max-height: 250px;overflow-y: scroll;">-->
                    <!--<div style="text-align: center;margin-top: -23px;">-->
                        <!--<span class="bold">Comments:</span>-->
                        <!--<span style="width: 20%;" ng-show="tasks.data[0].comment != 'undefined'">{{tasks.data[0].comment ? tasks.data[0].comment : ''}}</span>-->
                    <!--</div>-->
                    <!--<table class="striped" style="line-height: 0.5;">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th style="width: 5%;">Steps</th>-->
                            <!--<th style="width: 5%;"></th>-->
                            <!--<th style="width: 35%;">SubTask Name</th>-->
                            <!--<th style="width: 10%;">Assign to</th>-->
                            <!--<th style="width: 10%;">Due Date</th>-->
                            <!--<th get-access="crm" style="width: 20%;">Note</th>-->
                        <!--</tr>-->
                        <!--</thead>-->

                        <!--<tbody>-->
                        <!--<tr ng-repeat="t in tasks.data track by $index" >-->
                            <!--<td style="width: 5%;">{{$index+1}}</td>-->
                            <!--<td style="width: 5%">-->
                                <!--<i get-access="crm" ng-class="t.subtask_completed === 'Y' ? 'myMarkClass': 'myUnMarkClass'" class="material-icons leadsAction-btn not-collapse"  ng-click="openModalTempTasks(t,tasks,$index)">done</i>-->
                            <!--</td>-->
                            <!--<td style="width: 45%;line-height: 1;" ng-class="t.subtask_completed === 'Y' ? 'textdeco' : '' ">{{t.subtask_name ? t.subtask_name : t.task_content }}</td>-->
                            <!--<td style="width: 15%;">{{t.assigned_to}}</td>-->
                            <!--<td style="width: 10%;">{{t.dueDate |  date:"MMM dd',' yyyy "}}</td>-->
                            <!--<td style="width: 20%;">-->
                               <!--<span id="tooltip{{$index}}" tooltipped="{{t.note.length > 13}}" data-position="top" data-delay="50" data-tooltip="{{t.note}}">-->
                                     <!--{{(t.note.length > 13 ? t.note.substring(0,13) : t.note) || ''}}-->
                                   <!--</span>-->

                                <!--<span get-access="crm">-->
                                     <!--<a style="height: 24px;line-height: 24px;padding: 0 0.5rem;" ng-if="t.note !== ''" class="waves-effect waves-light btn " ng-click="AddNoteForTask(t,$index)" >Edit Note</a>-->
                                     <!--<a style="height: 24px;line-height: 24px;padding: 0 0.5rem;" ng-if="t.note === ''" class="waves-effect waves-light btn " ng-click="AddNoteForTask(t,$index)" >Add Note</a>-->
                                <!--</span>-->
                                <!---->

                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

<!--</div>-->

<!--<div class="pagination pagination-centered" ng-show="snoozedData.length" style="text-align: center;">-->
    <!--<ul class="pagination-controle pagination" style="margin-bottom: 0px;margin-top: 0px;">-->
        <!--<li>-->
            <!--<button type="button" class="btn btn-primary btn wqBlue-btn" ng-disabled="curPage == 0"-->
                    <!--ng-click="curPage=curPage-1"> &lt; PREV</button>-->
        <!--</li>-->
        <!--<li style="margin-top: 7px;margin-left: 17px;margin-right: 17px;">-->
            <!--<span>Page {{curPage + 1}} of {{ numberOfPagesSnooze() }}</span>-->
        <!--</li>-->
        <!--<li>-->
            <!--<button type="button" class="btn btn-primary btn wqBlue-btn"-->
                    <!--ng-disabled="curPage >= snoozedData.length/pageSize - 1"-->
                    <!--ng-click="curPage = curPage+1">NEXT &gt;</button>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->

<!--<div id="openUnSnoozedPopUpModal" class="modal">-->

    <!--<div class="modal-content center-align">-->
        <!--<h4>Un Snooze Task</h4>-->
        <!--<div class="divider"></div>-->
        <!--<p>Do you want to UnSnooze this Task? All future alerts will be Activated.</p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"-->
           <!--ng-click="submitUnSnoozeTask()">Yes</a>-->

        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIds()" style="margin-right: 20px;">No</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div id="openTaskRemovePopUpModalSnooze" class="modal">-->

    <!--<div class="modal-content center-align">-->
        <!--<h4>Confirm Task Deletion</h4>-->
        <!--<div class="divider"></div>-->
        <!--<p>Do you want to Delete this Task? All future alerts will be suspended.</p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"-->
           <!--ng-click="submitTaskRemove()">Yes</a>-->

        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIds()" style="margin-right: 20px;">No</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div id="UpdatetasktemplateSnooze" class="modal individualtasksModal" style="width: 70%;max-height: 84%;">-->
    <!--<div class="modal-content center-align" style="padding: 0px">-->
        <!--<a class="right modal-close" style="margin-top: -12px" ng-click="closeindividualSRModal()"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>-->
        <!--<h5>Edit/Update Task </h5>-->
        <!--<div class="divider" style="margin-bottom: 20px;"></div>-->
        <!--<div class="row">-->
            <!--<div class="col l12 s12 m12">-->
                <!--<form name="partnerClientRegForm" autocomplete="off">-->
                    <!--<div class="row">-->
                        <!--<div class="input-field col xl6 l12 m6 s12 regForm-input">-->
                            <!--<input  type="text" class="validate" name="task name"-->
                                   <!--ng-model='temptaskname'-->
                                   <!--placeholder="Task Name"-->
                                   <!--required>-->
                            <!--<div style="color: red;margin-right: 67%;margin-top: -15px;">{{errorMessage}}</div>-->
                        <!--</div>-->
                        <!--<div class="input-field col xl6 l12 m6 s12" style="margin-top: 0px;">-->
                            <!--<div class="center-align">-->

                            <!--</div>-->
                            <!--<input type="text" id="selectClient12" ng-model="c.tempcustomername" ng-change="assignCustomersForTemp(c.tempcustomername)" style="margin-bottom: 0px">-->
                            <!--<div style="color: red;margin-right: 54%;">{{errorMessage1}}</div>-->
                            <!--<label for="selectClient12">Choose Customer</label>-->
                            <!--<div class="collection"  style="margin-top: 0px; max-height: 150px; overflow-y: scroll" ng-if="showDropDown.length>0" ng-show="hideDropDownAfterSelect">-->
                                <!--<a style="cursor:pointer;text-align: left;" ng-click="chosenCustomerForTemp(customer2)" class="collection-item" ng-repeat="customer2 in allCustomersDataCust">-->
                                    <!--<span ng-style="{'color':((customer2.customer_type === 'client')?'#77dd77':(customer2.customer_type === 'prospect')?'#5f98cd':'#ff6657'),'border':((customer2.customer_type === 'client')?'1px solid #77dd77':(customer2.customer_type === 'prospect')?'1px solid #5f98cd':'1px solid #ff6657')}" style="text-align:center;padding:2px 5px;font-size:8px;margin-right:5px">{{customer2.customer_type.toUpperCase()}}</span><span style="font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color:#7b7b7b;">{{customer2.name}}</span></a>-->
                            <!--</div>-->


                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col l12 s12" style="margin-bottom: 1%;">-->
                        <!--<table class="striped">-->
                            <!--<thead>-->
                            <!--<tr ng-if="TempSubTasksData.length > 0">-->
                                <!--<th style="width: 50%;text-align: center;">SubTask Name</th>-->
                                <!--<th style="width: 25%;text-align: center;">Due Date</th>-->
                                <!--<th style="width: 20%;text-align: center;">Assigned to</th>-->
                                <!--<th style="width: 5%;text-align: center;">Action</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<div class="preloader-wrapper small active" style="margin-top: 5px;" ng-show="spinner">-->
                                <!--<div class="spinner-layer spinner-green-only">-->
                                    <!--<div class="circle-clipper left">-->
                                        <!--<div class="circle"></div>-->
                                    <!--</div><div class="gap-patch">-->
                                    <!--<div class="circle"></div>-->
                                <!--</div><div class="circle-clipper right">-->
                                    <!--<div class="circle"></div>-->
                                <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</table>-->
                        <!--<div class="col l12 s12 m12 tablescroll">-->
                            <!--<table class="striped" style="width: 100%">-->
                                <!--<tbody class="tablescroll" id="sortThisTempTaskSnooze">-->
                                <!--<tr ng-repeat="other in TempSubTasksData track by $index">-->
                                    <!--<td style="width: 5%;">{{other.index+1}}</td>-->
                                    <!--<td>-->
                                        <!--<span class="dragThis"><i class="material-icons left">swap_vert</i></span>-->
                                    <!--</td>-->
                                    <!--<td style="width: 50%;padding: 0px;">-->
                                        <!--<div class="input-field col xl10 l10 m6 s12 regForm-input">-->
                                            <!--<input ng-readonly="other.subtask_completed == 'Y'" ng-class="other.subtask_completed === 'Y' ? 'textdeco' : '' "  type="text" class="validate" name="content" ng-model='other.subtask_name'-->
                                                   <!--placeholder="Content"-->
                                                   <!--required>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td style="min-width:140px;width: 25%;text-align: center;padding: 0px;">-->
                                        <!--&lt;!&ndash;<div class="input-field col xl10 l10 m6 s12 regForm-input">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<input id="inputCreated6" type="text" class="" ng-model="other.currentTime"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;ng-change="closeDatePickerForIndTask(other.currentTime)"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;name="actionDate"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;placeholder="Assign Due Date"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;input-date>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--<div class="input-field col xl10 l10 m6 s12 regForm-input">-->
                                            <!--&lt;!&ndash;<input ng-readonly="other.subtask_completed == 'Y'" type="text" class="" ng-model="other.currentTime"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;ng-change="changeDateForPreviousSnoozeTask(TempSubTasksData,other.currentTime,$index)"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;name="actionDate"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;placeholder="Assign Due Date"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;on-open="onOpen(other.currentTime)"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;input-date>&ndash;&gt;-->
                                            <!--<datepicker>-->
                                            <!--<input ng-readonly="other.subtask_completed == 'Y'" type="text" ng-model="other.currentTime"-->
                                                   <!--ng-change="changeDateForPreviousSnoozeTask(TempSubTasksData,other.currentTime,$index)"-->
                                                   <!--placeholder="Assign Due Date"-->
                                                   <!--ng-click="getTheSelectedDate(other.currentTime)"/>-->
                                            <!--</datepicker>-->
                                        <!--</div>-->

                                    <!--</td>-->
                                    <!--<td style="width: 20%;text-align: center;padding: 0px;">-->
                                        <!--<input type="text"  ng-model=other.assignto ng-change="searchSubUser(other.assignto,$index,other)" style="margin-bottom: 0px" placeholder="Assign To">-->
                                        <!--<div class="collection"  style="margin-top: -1px; max-height: 150px; overflow-y: scroll;margin-left: -1%;" ng-show="other.active">-->
                                            <!--<a style="cursor:pointer;" ng-click="choseSubUserTempUpcoming(user,$parent.$index,other)" class="collection-item" ng-repeat="user in allSubuserNames">-->
                                                <!--<span>{{user.username}}</span></a>-->
                                        <!--</div>-->

                                    <!--</td>-->
                                    <!--<td style="width: 5%;padding: 0px;">-->
                                        <!--<a class="right" ng-click="removetempData($index)" style="cursor: pointer;"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<div style="width: 5%;padding: 0px;" style="padding: 15px 0px">-->
                                            <!--<a ng-click="addTempTasksBetween($index)" style="cursor: pointer;"><i class="material-icons"-->
                                                                                                                  <!--style="color: #7b7b7b; font-weight: 600; font-size: 20px;">add</i></a>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="center col-l2">-->
                        <!--<button type="submit" style="background-color: #2bbbad; margin-top: 5px;"-->
                                <!--class="waves-effect  waves-light btn btn wqBlue-btn"-->
                                <!--ng-click="addTemplateSubTasks()">Add Subtasks-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div style="text-align: center">-->
        <!--<span style="color: red">{{validationError}}</span>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a  type="submit" ng-disabled ="tempUpdateTaskButtonSnooze" class="modal-action waves-effect waves-green btn btn wqBlue-btn" ng-click="UpdateTemplateTasks(other)">Update-->
            <!--Task</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div id="individualtasksSnooze" class="modal individualtasksModal" style="width: 70%;max-height: 84%;">-->
    <!--<div class="modal-content center-align" style="padding: 0px">-->
        <!--<a class="right modal-close" style="margin-top: -12px" ng-click="closeindividualSRModal()"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>-->
        <!--<h5 ng-if="statusfresh !== 'EDIT'">Create Individual Task</h5>-->
        <!--<h5 ng-if="statusfresh === 'EDIT'">Edit/Update Task</h5>-->
        <!--<div class="divider" style="margin-bottom: 20px;"></div>-->
        <!--<div class="row">-->
            <!--<div class="col l12 s12 m12">-->
                <!--<form name="partnerClientRegForm" autocomplete="off">-->
                    <!--<div class="row">-->
                        <!--<div class="input-field col xl6 l12 m6 s12 regForm-input">-->
                            <!--<input  type="text" class="validate" name="task name"-->
                                   <!--ng-model='taskname'-->
                                   <!--placeholder="Task Name"-->
                                   <!--required>-->
                            <!--<div style="color: red;margin-right: 67%;margin-top: -15px;">{{errorMessage}}</div>-->
                        <!--</div>-->
                        <!--<div class="input-field col xl6 l12 m6 s12" style="margin-top: 0px;">-->
                            <!--<div class="center-align">-->

                            <!--</div>-->
                            <!--<input type="text" id="selectClient13" ng-model="customername" ng-change="assignCustomersForTemp(customername)" style="margin-bottom: 0px">-->
                            <!--<div style="color: red;margin-right: 54%;">{{errorMessage1}}</div>-->
                            <!--<label for="selectClient13">Choose Customer</label>-->
                            <!--<div class="collection"  style="margin-top: 0px; max-height: 150px; overflow-y: scroll" ng-if="showDropDown.length>0" ng-show="hideDropDownAfterSelect">-->
                                <!--<a style="cursor:pointer;text-align: left;" ng-click="chosenCustomerForInd(customer2)" class="collection-item" ng-repeat="customer2 in allCustomersDataCust">-->
                                    <!--<span ng-style="{'color':((customer2.customer_type === 'client')?'#77dd77':(customer2.customer_type === 'prospect')?'#5f98cd':'#ff6657'),'border':((customer2.customer_type === 'client')?'1px solid #77dd77':(customer2.customer_type === 'prospect')?'1px solid #5f98cd':'1px solid #ff6657')}" style="text-align:center;padding:2px 5px;font-size:8px;margin-right:5px">{{customer2.customer_type.toUpperCase()}}</span><span style="font-size: 12px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;color:#7b7b7b;">{{customer2.name}}</span></a>-->
                            <!--</div>-->


                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="col l12 s12" style="margin-bottom: 1%;">-->
                        <!--<table class="striped">-->
                            <!--<thead>-->
                            <!--<tr ng-if="otherSubTasksData.length > 0">-->
                                <!--<th style="width: 50%;text-align: center;">Tasks Content</th>-->
                                <!--<th style="width: 25%;text-align: center;">Due Date</th>-->
                                <!--<th style="width: 20%;text-align: center;">Assigned to</th>-->
                                <!--<th style="width: 5%;text-align: center;">Action</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                        <!--</table>-->
                        <!--<div class="col l12 s12 m12 tablescroll">-->
                            <!--<table class="striped" style="width: 100%">-->
                                <!--<tbody class="tablescroll" id="sortThisFreshTask">-->
                                <!--<tr ng-repeat="other in otherSubTasksData track by $index">-->
                                    <!--<td style="width: 5%;">{{other.index+1}}</td>-->
                                    <!--<td>-->
                                        <!--<span class="dragThis"><i class="material-icons left">swap_vert</i></span>-->
                                    <!--</td>-->
                                    <!--<td style="width: 50%;padding: 0px;">-->
                                        <!--<div class="input-field col xl10 l10 m6 s12 regForm-input">-->
                                            <!--<input ng-readonly="other.subtask_completed == 'Y'" ng-class="other.subtask_completed === 'Y' ? 'textdeco' : '' "  type="text" class="validate" name="content" ng-model='other.content'-->
                                                   <!--placeholder="Content"-->
                                                   <!--required>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                    <!--<td style="min-width:140px;width: 25%;text-align: center;padding: 0px;">-->
                                        <!--<div class="input-field col xl10 l10 m6 s12 regForm-input">-->
                                            <!--&lt;!&ndash;<input ng-readonly="other.subtask_completed == 'Y'" type="text" class="" ng-model="other.currentTime"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;ng-change="closeDatePickerForIndTask(other.currentTime)"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;name="actionDate"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;placeholder="Assign Due Date"&ndash;&gt;-->
                                                   <!--&lt;!&ndash;input-date>&ndash;&gt;-->

                                            <!--<datepicker>-->
                                                <!--<input ng-readonly="other.subtask_completed == 'Y'" type="text" ng-model="other.currentTime"-->
                                                       <!--ng-change="closeDatePickerForIndTask(other.currentTime,$index)"-->
                                                       <!--placeholder="Assign Due Date"-->
                                                <!--/>-->
                                            <!--</datepicker>-->
                                        <!--</div>-->

                                    <!--</td>-->
                                    <!--<td style="width: 20%;text-align: center;padding: 0px;">-->
                                        <!--<input type="text"  ng-model=other.assignto ng-change="searchSubUser(other.assignto,$index,other)"  style="margin-bottom: 0px" placeholder="Assign To">-->
                                        <!--<div class="collection"  style="margin-top: -1px; max-height: 150px; overflow-y: scroll;margin-left: -1%;" ng-show="other.active">-->
                                            <!--<a style="cursor:pointer;" ng-click="choseSubUserSrach(user,$parent.$index,other)" class="collection-item" ng-repeat="user in allSubuserNames">-->
                                                <!--<span>{{user.username}}</span></a>-->
                                        <!--</div>-->

                                    <!--</td>-->
                                    <!--<td style="width: 5%;padding: 0px;">-->
                                        <!--<a class="right" ng-click="removeOthersubtasks($index)" style="cursor: pointer;"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>-->
                                    <!--</td>-->
                                    <!--<td>-->
                                        <!--<div style="width: 5%;padding: 0px;" style="padding: 15px 0px">-->
                                            <!--<a ng-click="addFreshTasksBetween($index)" style="cursor: pointer;"><i class="material-icons"-->
                                                                                                                   <!--style="color: #7b7b7b; font-weight: 600; font-size: 20px;">add</i></a>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="center col-l2">-->
                        <!--<button type="submit" style="background-color: #2bbbad; margin-top: 5px;"-->
                                <!--class="waves-effect  waves-light btn btn wqBlue-btn"-->
                                <!--ng-click="addOtherSubTasks()">Add Subtasks-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a ng-if="statusfresh !== 'EDIT'" type="submit" class="modal-action waves-effect waves-green btn btn wqBlue-btn" ng-click="saveOtherTask(other)">Save-->
            <!--Task</a>-->
        <!--<a ng-if="statusfresh === 'EDIT'" type="submit" class="modal-action waves-effect waves-green btn btn wqBlue-btn" ng-click="UpdateOtherTask(other)">Update-->
            <!--Task</a>-->
    <!--</div>-->
<!--</div>-->


<!--<div id="openNotePopUpModalSnooze" class="modal">-->

    <!--<div class="modal-content center-align">-->
        <!--<h4>Note</h4>-->
        <!--<div class="divider"></div>-->
        <!--<div class="row" style="margin-bottom: 0px;">-->
            <!--<div class="input-field col l12 s12 m12">-->
                <!--<textarea type="text" ng-model="note.taskNote1" style="height: 6rem;" placeholder="Add task note">-->
                <!--</textarea>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"-->
           <!--ng-click="submitNoteForTask(note)">Yes</a>-->

        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIds()" style="margin-right: 20px;">No</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div id="openModalForPreviuosTasksSnooze" class="modal">-->
    <!--<div class="modal-content center-align">-->
        <!--<h4>Confirm Previous Tasks</h4>-->
        <!--<p ng-if="taskLength != indexLength">Do you want to mark the previous tasks as complete?</p>-->
        <!--<p ng-if="taskLength === indexLength">Do you want to mark the previous tasks as complete and move to completed section</p>-->
        <!--<div class="row" ng-show="taskLength === indexLength" style="margin-bottom: 0px;">-->
            <!--<div class="input-field col l12 s12 m12">-->
                <!--<input type="text" ng-model="taskData.taskNote1">-->
                <!--<label>Completion Note</label>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"-->
           <!--ng-click="taskStatusOfSubTask();taskStatusOfSubTaskForAllCompleted()">Yes</a>-->

        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIdsPrivious()" style="margin-right: 20px;">No</a>-->
    <!--</div>-->
<!--</div>-->

<!--<div id="openModalForTempTasksCnfSnooze" class="modal">-->

    <!--<div class="modal-content center-align">-->
        <!--<h4>Confirm Task Completion</h4>-->
        <!--<div class="divider"></div>-->
        <!--<p ng-if="taskLength != indexLength">Are you sure, you want to mark the selected task as completed?</p>-->
        <!--<p ng-if="taskLength === indexLength">Are you sure, you want to mark the selected task as completed and move to completed section</p>-->
        <!--<div class="row" ng-show="taskLength === indexLength" style="margin-bottom: 0px;">-->
            <!--<div class="input-field col l12 s12 m12">-->
                <!--<input type="text" ng-model="taskData.taskNote1">-->
                <!--<label>Completion Note</label>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"-->
           <!--ng-click="taskStatusOfSubTask(taskNote1);taskStatusOfSubTaskForAllCompleted()">Yes</a>-->

        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" ng-click="clearDataOfTaskIds()" style="margin-right: 20px;">No</a>-->
    <!--</div>-->

<!--</div>-->

<!--<div id="tempDateCnfrmModalSnooze" class="modal">-->
    <!--<div class="modal-content center-align">-->
        <!--<h4>Confirm Subtask Date Change</h4>-->
        <!--<div class="divider"></div>-->
        <!--<p>Are you sure, you want to change all subtask dates?</p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"-->
           <!--ng-click="changeSubtaskTempDateSnooze()">all tasks</a>-->

        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" style="margin-right: 20px;" ng-click="dateChangeOnlySelected()">only this</a>-->
    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;<script>&ndash;&gt;-->
     <!--&lt;!&ndash;$(document).ready(function(){&ndash;&gt;-->

        <!--&lt;!&ndash;$('.modal').modal();&ndash;&gt;-->

    <!--&lt;!&ndash;});&ndash;&gt;-->
<!--&lt;!&ndash;</script>&ndash;&gt;-->
