<style>
    .uploadbtn{
        color: #ff8000 !important;
    }
    .drop-boxtask {
        background: #F8F8F8;
        border: 5px dashed #DDD;
        width: 100%;
        height: 114px;;
        text-align: center;
        padding-top: 25px;
        margin-bottom: 10px;
    }
</style>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs 12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs 12">
            <div class="form-group" style="margin-top: 10px;">
                <span class="col-lg-8 col-md-8 col-sm-12 col-xs 12">
                    <input class="form-control" type="text" bs3-typeahead bs3-source="allTempNames1" ng-model="s.searchTemplateone" ng-keyup="searchTemplat(s.searchTemplateone)" bs3-afterSelect="choseTempName" placeholder="Search Templates" style="width:105%"/>
                </span>
                <span class="input-group-append"> <button type="button"ng-click="clearTempData()"  class="btn btn-primary">X
                </button> </span>

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 10px;">
         <span class="pull-right">
             <a get-access="crm"  data-delay="50" data-placement="top" title="Import templates" data-toggle="modal" data-target="#myModal4">
                <i class="uploadbtn fa fa-upload fa-w-14 fa-2x pop"></i>
             </a>&nbsp;
                <a get-access="crm" data-toggle="tooltip" data-placement="top" title="Download All templates"  ng-click="downloadAllTemplates()" ng-if="cartsDataOfTemp.length > 0">
                    <i class="uploadbtn fa fa-download  fa-w-14 fa-2x pop"></i></a>
             <span >
                Total Templates : {{cartsDataOfTemp.length || 0}}
           </span>
           </span>


        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="ibox ">
            <div class="ibox-content">
                <div class="alert alert-warning" ng-if="cartsDataOfTemp.length === 0 ">
                   <h4 style="text-align: center"> No Task Templates Data Found.</h4>
                </div>
                <div class="panel-body">
                    <div class="panel-group" id="accordion" ng-repeat="task in cartsDataOfTemp.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" style="margin-bottom: 4px;">
                        <div class="panel panel-default">
                            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#{{$index}}" style="height: 50px;">
                                <h5 class="row panel-title">
                                   <div class="col-lg-10">
                                       <div class="pull-left"> {{task.template_name}}</div>
                                       <div class="pull-right">Created Date  : {{task.row_created |  date:"MMM dd',' yyyy " }}</div>
                                   </div>
                                    <span class="col-lg-2" style="cursor: pointer">
                                          <i class="fa fa-trash  fa-w-14 fa-2x WQred pop" ng-click="openDeleteTemplateModal(task.template_id,$event)"></i>
                                          <i class="fa fa-pencil-square-o fa-2x WQblue pop" ng-click="openEditTemplateModal(task,$event,'EDIT')"></i>
                                          <i class="fa fa-clone fa-2x WQgreen pop" ng-click="openCopyTemplateModal(task,$event)"></i>

                                    </span>

                                </h5>
                            </div>
                            <div id="{{$index}}" class="panel-collapse collapse">
                                <div class="panel-body" style="max-height: 250px;overflow-y: auto;">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Step</th>
                                            <th>Sub Tasks</th>
                                            <th>No of Days</th>
                                            <th>Options</th>
                                            <th>Assign To</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="subtask in task.data track by $index">
                                            <td>{{$index+1}}</td>
                                            <td>{{subtask.subtask_name}}</td>
                                            <td>{{subtask.subtask_days}}</td>
                                            <td> {{subtask.subtask_option}}</td>
                                            <td> {{subtask.assigned_to}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                        </div>

                    </div>
                    <div style="text-align: center;margin-top: 5%;;" >
                        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage"></pagination>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" style="width: 687px;">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" ng-click="closeImportLeadsModal()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Import Templates</h4>
                <small>Add your CRM Tasks at one go with our Task(Supported Types: *.xls)</small>
            </div>
            <div class="modal-body">
                <form name="uploadForm" ng-submit="uploadForm.$valid && uploadFile(file)" novalidate>
                    <!-- type of excel -->
                    <!--<div input-field>-->
                    <!--<select class="" name="fileSection" id="fileChoice" ng-model="select.value" material-select watch required>-->
                    <!--<option ng-repeat="value in select.choices">{{value}}</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!-- end type of excel -->

                    <!-- drag and drop menu -->
                    <div class="input-field">
                        <div ngf-drop="addFile(file)" ngf-select="addFile(file)" ng-model="file" class="drop-boxtask" ngf-drag-over-class="'dragover'"
                             ngf-pattern="'.xls,.xlsx'" accept=".xls,.xlsx" required ngf-model-invalid="errorFile">
                            Drop excels here or click to add files
                        </div>
                    </div>
                    <!-- drag and drop end -->
                    <p ng-show="file">
                        <i class="material-icons left">attachment</i>{{fileName}}
                    </p>

                    <!-- error message -->
                    <i ng-show="uploadForm.file.$error.required">Please input the excels</i>
                    <!-- end error -->

                    <!-- submit button -->
                    <div class="text-center">
                        <button type="submit" class="btn btn-success " type="button" ng-disabled="!uploadForm.$valid"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Upload</span></button>
                        <!--<button type="submit" ng-disabled="!uploadForm.$valid">Upload</button>-->
                    </div>
                    <!-- end submit -->
                </form>
                <span style="font-weight: 600;">&#9733;Please Note:</span><br>
                &emsp;<span style="font-size: 13px;">1. Fields with subtask_days, should be a number values 0 to 365 days.</span><br>
                &emsp;<span style="font-size: 13px;">2. Fields with subtask_option, should either of two. i)first_task ii)previous_task</span><br>
                &emsp;<span style="font-size: 13px;">3. Fields with assigned_to, is optional.</span><br>
                <span style="font-weight: 600;">&#9733;Template with blank,template_name,subtask_name,subtask_days,subtask_option will not imported.</span><br>
            </div>
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>

    </div>
</div>

<div class="modal inmodal" id="uploadTemplatesModal123" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-content">
        <i class="material-icons right WQ-modalClose WQpointer modal-close"
           style="margin-top: -15px; margin-right: -15px;" ng-click="closeImportLeadsModal()">close</i>

        <div class="center">
            <h4 class="WQ-modalHeading">Import Templates</h4>
            <p class="WQ-modalSubHeading">Add your CRM templates at one go with our template(Supported Types: *.xls)</p>
        </div>
        <div class="divider"></div>
        <div class="row" style="margin-top: 27px;">
            <div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12 col s12 ">
                <div class="row">
                    <div class="col s12 l6 offset-l2">
                        <form name="uploadForm" ng-submit="uploadForm.$valid && uploadFile(file)" novalidate>
                            <!-- type of excel -->
                            <!--<div input-field>-->
                            <!--<select class="" name="fileSection" id="fileChoice" ng-model="select.value" material-select watch required>-->
                            <!--<option ng-repeat="value in select.choices">{{value}}</option>-->
                            <!--</select>-->
                            <!--</div>-->
                            <!-- end type of excel -->

                            <!-- drag and drop menu -->
                            <div class="input-field">
                                <div ngf-drop="addFile(file)" ngf-select="addFile(file)" ng-model="file" class="drop-boxtask" ngf-drag-over-class="'dragover'"
                                     ngf-pattern="'.xls,.xlsx'" accept=".xls,.xlsx" required ngf-model-invalid="errorFile">
                                    Drop excels here or click to add files
                                </div>
                            </div>
                            <!-- drag and drop end -->
                            <p ng-show="file">
                                <i class="material-icons left">attachment</i>{{fileName}}
                            </p>

                            <!-- error message -->
                            <i ng-show="uploadForm.file.$error.required">Please input the excels</i>
                            <!-- end error -->

                            <!-- submit button -->
                            <div class="center">
                                <button type="submit" ng-disabled="!uploadForm.$valid" class="btn wqBlue-btn">Upload</button>
                            </div>
                            <!-- end submit -->
                        </form>
                    </div>
                </div>
            </div>
            <span style="font-weight: 600;">&#9733;Please Note:</span><br>
            &emsp;<span style="font-size: 13px;">1. Fields with subtask_days, should be a number values 0 to 365 days.</span><br>
            &emsp;<span style="font-size: 13px;">2. Fields with subtask_option, should either of two. i)first_task ii)previous_task</span><br>
            &emsp;<span style="font-size: 13px;">3. Fields with assigned_to, is optional.</span><br>
            <span style="font-weight: 600;">&#9733;Template with blank,template_name,subtask_name,subtask_days,subtask_option will not imported.</span><br>
        </div>

    </div>
</div>








<!--<style>-->
    <!--#WQred{-->
        <!--color: #ff4d5a !important;-->
        <!--font-size: 1.5em !important;-->
    <!--}-->

<!--</style>-->







<!--<style>-->
    <!--.drop-boxtask {-->
        <!--background: #F8F8F8;-->
        <!--border: 5px dashed #DDD;-->
        <!--width: 100%;-->
        <!--height: 114px;;-->
        <!--text-align: center;-->
        <!--padding-top: 25px;-->
        <!--margin-bottom: 10px;-->
    <!--}-->

    <!--.dragover {-->
        <!--border: 5px dashed #5F98CD;-->
    <!--}-->
<!--</style>-->

<!--<div class="preloader-background" ng-show="spinner1">-->
    <!--<div class="preloader-wrapper big active">-->
        <!--<div class="spinner-layer spinner-blue-only">-->
            <!--<div class="circle-clipper left">-->
                <!--<div class="circle"></div>-->
            <!--</div>-->
            <!--<div class="gap-patch">-->
                <!--<div class="circle"></div>-->
            <!--</div>-->
            <!--<div class="circle-clipper right">-->
                <!--<div class="circle"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="preloader-background" ng-show="spinner">-->
    <!--<div class="preloader-wrapper big active">-->
        <!--<div class="spinner-layer spinner-blue-only">-->
            <!--<div class="circle-clipper left">-->
                <!--<div class="circle"></div>-->
            <!--</div>-->
            <!--<div class="gap-patch">-->
                <!--<div class="circle"></div>-->
            <!--</div>-->
            <!--<div class="circle-clipper right">-->
                <!--<div class="circle"></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="input-field col xl12 l12 s12 m6" style="margin-bottom: -2.5%;margin-top: 0%;">-->
    <!--<div class="input-field col xl6 l6 s12 m6 left-align" style="margin-left: 7%; width: 41%;">-->
            <!--<input type="text"  ng-model="s.searchTemplateone" ng-change="searchTemplat(s.searchTemplateone)">-->
            <!--<span style="color: red">{{errorMessage}}</span>-->
            <!--<label >Search Templates</label>-->
            <!--<div class="collection"  style="margin-top: -21px; max-height: 150px; overflow-y: scroll" ng-if="s.searchTemplateone.length>0" ng-show="hideDropDownSearchTemp">-->
                <!--<a style="cursor:pointer;" ng-click="choseTempName(temp)" class="collection-item" ng-repeat="temp in allTempNames">-->
                    <!--<span>{{temp.template_name}}</span></a>-->
            <!--</div>-->
    <!--</div>-->
    <!--<div class="input-field col xl1 l1 s6 m6 right-align" style="margin-left: -7%;margin-top: 27px;">-->
        <!--<a ng-click="clearTempData()" style="cursor: pointer;"><i class="material-icons" style="color: #707070; font-size: 20px; font-weight: bold">close</i></a>-->

    <!--</div>-->
    <!--<div class="input-field col xl5 l5 s6 m6 right-align" style="margin-left: 5%;">-->
        <!--<span style="margin-bottom: 5px;">-->
         <!--<a get-access="crm" class="btn-floating waves-effect waves-light WQ-darkOrangeBackground" style="height: 35px; width: 35px;" tooltipped data-position="bottom" data-tooltip="Import templates" data-delay="50" data-target="uploadTemplatesModal">-->
            <!--<i class="material-icons small" style="line-height: 36px;">file_upload</i>-->
         <!--</a>&nbsp;-->
         <!--<a get-access="crm" class="btn-floating waves-effect waves-light WQ-darkOrangeBackground" style="height: 35px; width: 35px; margin-right: -10px;" tooltipped data-position="bottom" data-tooltip="Download All templates" data-delay="50" ng-click="downloadAllTemplates()" ng-if="cartsDataOfTemp.length > 0">-->
                        <!--<i class="material-icons" style="line-height: 36px; font-size: 1.5em">file_download</i></a>&emsp;-->
        <!--</span>-->
        <!--<span>-->
       <!--Total Templates : {{cartsDataOfTemp.length || 0}}-->
        <!--</span>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="row AllTemptaskScrollModal" style="margin-bottom: 0px;">-->
    <!--<div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12" style="margin-top: 20px;margin-left: 77px;margin-right: auto;">-->
        <!--<div>-->
            <!--<div class="collection" ng-if="cartsDataOfTemp.length === 0">-->
                <!--<h6 class="collection-item center-align">No Data Found</h6>-->
            <!--</div>-->
        <!--</div>-->
        <!--<ul class="collapsible popout tablescroll" data-collapsible="accordion" style="margin-bottom: 0px;min-height: 56vh;">-->
            <!--<li ng-repeat="task in cartsDataOfTemp | pagination: curPage * pageSize | limitTo: pageSize">-->
                <!--<div class="collapsible-header collapsible-task hoverable" style="min-height: 5rem;border: solid #2E475F 1px;margin-bottom: 1%;" ng-click="clickedTempView($index)" ng-style="{ 'background-color': selected1 === $index ? backgroundTemp : ''}">-->
                    <!--<div class="col l12 m12" style="font-family: 'Lato', sans-serif;color: #707070;font-size: 1.2em;width:91% ">-->
                        <!--<div class="left"> {{task.template_name}}</div>-->
                        <!--<div class="right">Created Date  : {{task.row_created |  date:"MMM dd',' yyyy " }}</div>-->
                    <!--</div>-->
                    <!--<span get-access="crm">-->
                        <!--<i class="material-icons leadsAction-btn not-collapse WQRed" style="margin-right: 0px;" ng-click="openDeleteTemplateModal(task.template_id,$event)">delete</i>-->

                        <!--<i class="material-icons leadsAction-btn not-collapse WQBlue" style="margin-right: 0px;" ng-click="openEditTemplateModal(task,$event,'EDIT')">mode_edit</i>-->
                        <!--<i class="material-icons leadsAction-btn not-collapse WQGreen" style="margin-right: 0px;" ng-click="openCopyTemplateModal(task,$event)">content_copy</i>-->
                    <!--</span>-->
                <!--</div>-->
                <!--<div class="collapsible-body" style="font-family: 'Lato', sans-serif;color: #707070;font-size: 1em;max-height: 250px;overflow-y: scroll;">-->
                    <!--<table class="striped" style="line-height: 1;">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th style="width: 5%;text-align: center;">Step</th>-->
                            <!--<th style="width: 55%;text-align: center;">Sub Tasks</th>-->
                            <!--<th style="width: 5%;text-align: center;">No of Days</th>-->
                            <!--<th style="width: 20%;text-align: center;">Options</th>-->
                            <!--<th style="width: 25%;text-align: center;">Assign To</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="subtask in task.data track by $index">-->
                            <!--<td style="width: 5%;text-align: center;">{{$index+1}}</td>-->
                            <!--<td style="width: 55%;text-align: center;">{{subtask.subtask_name}}</td>-->
                            <!--<td style="width: 5%;text-align: center;">{{subtask.subtask_days}}</td>-->
                            <!--<td style="width: 20%;text-align: center;">{{subtask.subtask_option}}</td>-->
                            <!--<td style="width: 25%;text-align: center;">{{subtask.assigned_to}}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

<!--</div>-->


<!--<div class="pagination pagination-centered" ng-show="cartsDataOfTemp.length" style="text-align: center;">-->
    <!--<ul class="pagination-controle pagination" style="margin-bottom: 0px;margin-top: 0px;">-->
        <!--<li>-->
            <!--<button type="button" class="btn btn-primary btn wqBlue-btn" ng-disabled="curPage == 0"-->
                    <!--ng-click="curPage=curPage-1"> &lt; PREV</button>-->
        <!--</li>-->
        <!--<li style="margin-top: 7px;margin-left: 17px;margin-right: 17px;">-->
            <!--<span>Page {{curPage + 1}} of {{ numberOfPagesTemp() }}</span>-->
        <!--</li>-->
        <!--<li>-->
            <!--<button type="button" class="btn btn-primary btn wqBlue-btn"-->
                    <!--ng-disabled="curPage >= cartsDataOfTemp.length/pageSize - 1"-->
                    <!--ng-click="curPage = curPage+1">NEXT &gt;</button>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->


<!--&lt;!&ndash; uploadLeadsModal Structure &ndash;&gt;-->
<!--<div id="uploadTemplatesModal" class="modal uploadLeads-Modal" style="max-height: 75%;">-->
    <!--<div class="modal-content">-->
        <!--<i class="material-icons right WQ-modalClose WQpointer modal-close"-->
           <!--style="margin-top: -15px; margin-right: -15px;" ng-click="closeImportLeadsModal()">close</i>-->

        <!--<div class="center">-->
            <!--<h4 class="WQ-modalHeading">Import Templates</h4>-->
            <!--<p class="WQ-modalSubHeading">Add your CRM templates at one go with our template(Supported Types: *.xls)</p>-->
        <!--</div>-->
        <!--<div class="divider"></div>-->
        <!--<div class="row" style="margin-top: 27px;">-->
            <!--<div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12 col s12 ">-->
                <!--<div class="row">-->
                    <!--<div class="col s12 l6 offset-l2">-->
                        <!--<form name="uploadForm" ng-submit="uploadForm.$valid && uploadFile(file)" novalidate>-->
                            <!--&lt;!&ndash; type of excel &ndash;&gt;-->
                            <!--&lt;!&ndash;<div input-field>&ndash;&gt;-->
                                <!--&lt;!&ndash;<select class="" name="fileSection" id="fileChoice" ng-model="select.value" material-select watch required>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<option ng-repeat="value in select.choices">{{value}}</option>&ndash;&gt;-->
                                <!--&lt;!&ndash;</select>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash; end type of excel &ndash;&gt;-->

                            <!--&lt;!&ndash; drag and drop menu &ndash;&gt;-->
                            <!--<div class="input-field">-->
                                <!--<div ngf-drop="addFile(file)" ngf-select="addFile(file)" ng-model="file" class="drop-boxtask" ngf-drag-over-class="'dragover'"-->
                                     <!--ngf-pattern="'.xls,.xlsx'" accept=".xls,.xlsx" required ngf-model-invalid="errorFile">-->
                                    <!--Drop excels here or click to add files-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; drag and drop end &ndash;&gt;-->
                            <!--<p ng-show="file">-->
                                <!--<i class="material-icons left">attachment</i>{{fileName}}-->
                            <!--</p>-->

                            <!--&lt;!&ndash; error message &ndash;&gt;-->
                            <!--<i ng-show="uploadForm.file.$error.required">Please input the excels</i>-->
                            <!--&lt;!&ndash; end error &ndash;&gt;-->

                            <!--&lt;!&ndash; submit button &ndash;&gt;-->
                            <!--<div class="center">-->
                                <!--<button type="submit" ng-disabled="!uploadForm.$valid" class="btn wqBlue-btn">Upload</button>-->
                            <!--</div>-->
                            <!--&lt;!&ndash; end submit &ndash;&gt;-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<span style="font-weight: 600;">&#9733;Please Note:</span><br>-->
            <!--&emsp;<span style="font-size: 13px;">1. Fields with subtask_days, should be a number values 0 to 365 days.</span><br>-->
            <!--&emsp;<span style="font-size: 13px;">2. Fields with subtask_option, should either of two. i)first_task ii)previous_task</span><br>-->
            <!--&emsp;<span style="font-size: 13px;">3. Fields with assigned_to, is optional.</span><br>-->
            <!--<span style="font-weight: 600;">&#9733;Template with blank,template_name,subtask_name,subtask_days,subtask_option will not imported.</span><br>-->
        <!--</div>-->

    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash; deleteLeadConfirm Modal Structure &ndash;&gt;-->
<!--<div id="delTemplateCnfrmModal" class="modal">-->
    <!--<div class="modal-content center-align">-->
        <!--<h4>Confirm Template Deletion</h4>-->
        <!--<div class="divider"></div>-->
        <!--<p>Are you sure, you want to delete the selected Template?</p>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn"-->
           <!--ng-click="DeleteTemplate()">Yes</a>-->

        <!--<a class="modal-action modal-close waves-effect waves-green btn-flat wqBlue-btn" style="margin-right: 20px;">No-->
        <!--</a>-->
    <!--</div>-->
<!--</div>-->

<!--<script>-->
    <!--$(document).ready(function(){-->
        <!--$('.collapsible').collapsible();-->
        <!--$('.modal').modal();-->
    <!--});-->

<!--</script>-->

