<!--<div class="preloader-wrapper small active" style="margin-left: 47%;margin-top: 5px;" ng-show="spinner">-->
    <!--<div class="spinner-layer spinner-green-only">-->
        <!--<div class="circle-clipper left">-->
            <!--<div class="circle"></div>-->
        <!--</div><div class="gap-patch">-->
        <!--<div class="circle"></div>-->
    <!--</div><div class="circle-clipper right">-->
        <!--<div class="circle"></div>-->
    <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="input-field col xl12 l12 s12 m6 right-align" style="margin-left: -60px;margin-bottom: -21px;" >-->
    <!--Total completed tasks : {{cartsData.length || 0}}-->
<!--</div>-->
<!--<div class="row AllTempCompModal" id="alltasks1" style="margin-bottom: 0px;">-->
    <!--<div class="col xl11 offset-xl1 l11 offset-l1 m11 offset-m1 s12"-->
         <!--style="margin-top: 20px;margin-left: 77px;margin-right: auto;">-->
        <!--<div>-->
            <!--<ul class="collection" ng-if="cartsData.length === 0">-->
                <!--<li class="collection-item center-align">No Data Found</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--<ul class="collapsible popout task tablescroll" data-collapsible="accordion" style="margin-bottom: 0px;min-height: 56vh;">-->
            <!--<li ng-repeat="tasks in cartsData | pagination: curPage * pageSize | limitTo: pageSize">-->
                <!--<div class="collapsible-header collapsible-task hoverable" ng-if="cartsData.length >0"-->
                     <!--style="min-height: 5rem;border: solid #2E475F 1px;margin-bottom: 1%;" ng-click="clickedColComp($index)" ng-style="{ 'background-color': selected1 === $index ? backgroundImageInfoComp : ''}">-->
                    <!--&lt;!&ndash;<td style="width: 5%">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<input type="checkbox" id="{{tasks.task_title}}" ng-model="taskstatus"  ng-if="tasks.isSubtask === 'N'"&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;ng-change="taskStatusChangeOfMain(taskstatus,tasks)"/>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<label for="{{tasks.task_title}}"></label>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<i class="material-icons leadsAction-btn not-collapse" ng-if="tasks.isSubtask === 'N'" ng-click="openIndTasksCnfModal(tasks,$event)">done</i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</td>&ndash;&gt;-->
                    <!--<div class="col l12 m12 s12" style="color: black;font-family: 'Lato', sans-serif;color: #707070;font-size: 1.2em;">-->
                        <!--<div class="left-align">Task Name : {{tasks.task_title}}</div>-->
                        <!--<div class="right-align">Customer Name : {{tasks.customername}}</div>-->
                        <!--<div class="left-align" ng-if="tasks.isSubtask === 'Y'">Sub Task : {{tasks.data[0].subtask_name ? tasks.data[0].subtask_name : tasks.data[0].task_content  }}</div>-->
                        <!--<div class="right-align" ng-if="tasks.isSubtask === 'Y'">Due Date : {{tasks.data[0].dueDate | date:"MMM dd',' yyyy "}}</div>-->
                        <!--<div class="left-align" ng-if="tasks.isSubtask === 'Y'">Assigned To : {{tasks.data[0].assigned_to}}</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="collapsible-body" style="font-family: 'Lato', sans-serif;color: #707070;font-size: 1em;max-height: 250px;overflow-y: scroll;">-->
                    <!--<div style="text-align: center;margin-top: -23px;">-->
                        <!--<span class="bold">Comments:</span>-->
                        <!--<span style="width: 20%;" ng-show="tasks.data[0].comment != 'undefined'">{{tasks.data[0].comment ? tasks.data[0].comment : ''}}</span>-->
                    <!--</div>-->
                    <!--<table class="striped" style="line-height: 1;">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th style="width: 5%;">Steps</th>-->
                            <!--<th style="width: 5%;"></th>-->
                            <!--<th style="width: 35%;">SubTask Name</th>-->
                            <!--<th style="width: 10%;">Assign to</th>-->
                            <!--<th style="width: 20%;">Due Date</th>-->
                            <!--<th style="width: 20%;">Note</th>-->
                        <!--</tr>-->
                        <!--</thead>-->

                        <!--<tbody>-->
                        <!--<tr ng-repeat="t in tasks.data track by $index" >-->
                            <!--<td style="width: 5%;">{{$index+1}}</td>-->
                            <!--<td style="width: 5%">-->
                             <!--<i  ng-class="t.task_completed === 'Y' ? 'myMarkClass': 'myUnMarkClass'" class="material-icons not-collapse">done</i>-->
                            <!--</td>-->
                            <!--<td style="width: 35%;" ng-if="tasks.isSubtask === 'Y'">{{t.subtask_name ? t.subtask_name : t.task_content }}</td>-->
                            <!--<td style="width: 15%;">{{t.assigned_to}}</td>-->
                            <!--<td style="width: 20%;">{{t.dueDate |  date:"MMM dd',' yyyy "}}</td>-->
                            <!--<td style="width: 20%;">-->
                                 <!--<span tooltipped="{{t.note.length > 13}}" data-position="top" data-delay="50" data-tooltip="{{t.note}}">-->
                                     <!--{{(t.note.length > 13 ? t.note.substring(0,13) : t.note) || ''}}-->
                                   <!--</span>-->
                                <!--<span>-->
                                <!--</span>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

<!--</div>-->

<!--<div class="pagination pagination-centered" ng-show="cartsData.length" style="text-align: center;">-->
    <!--<ul class="pagination-controle pagination" style="margin-bottom: 0px;margin-top: 0px;">-->
        <!--<li>-->
            <!--<button type="button" class="btn btn-primary btn wqBlue-btn" ng-disabled="curPage == 0"-->
                    <!--ng-click="curPage=curPage-1"> &lt; PREV</button>-->
        <!--</li>-->
        <!--<li style="margin-top: 7px;margin-left: 17px;margin-right: 17px;">-->
            <!--<span>Page {{curPage + 1}} of {{ numberOfPagescomp() }}</span>-->
        <!--</li>-->
        <!--<li>-->
            <!--<button type="button" class="btn btn-primary btn wqBlue-btn"-->
                    <!--ng-disabled="curPage >= cartsData.length/pageSize - 1"-->
                    <!--ng-click="curPage = curPage+1">NEXT &gt;</button>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->