@media screen and (max-width: 600px) {

  #pop-sidenav{
    min-height: 20px !important;
    background-color: transparent !important;
    /*border-right: solid 1px black;*/
    box-shadow: none !important;
    z-index: 1000 !important;
    margin-top: 5px !important;
    padding-left: 22px !important;
    position: fixed !important;
  }

  #menu-icon{
    font-size: 28px !important;
    font-weight: lighter !important;
  }

  .svg{
    /*border-right: solid 1px black;*/
    margin-top: -4px;
    padding-top: 15px !important;
    /*padding-right: 10px;*/
  }

  .svg:hover path{
    fill: #2E475F !important;
    /*z-index: 2000 !important;*/

  }
}

body{
  font-family: 'Lato', sans-serif;
  /*font-size: 1em !important;*/
}


.pop-sidenav{
  margin-top: 59px;
  width: 2px;
  /*min-height: 100% !important;*/
  height: 100% !important;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #2E475F !important;
  display: flex !important;
  justify-content: center !important;
  z-index:10;
}

.drag-target {
  z-index: 900 !important;
  position: relative !important;
  width: 85% !important;
  left: 15% !important;
}

/*.pop-sidenav:hover{*/
  /*background-color: #516980 !important;*/
/*}*/

.svg{
  /*font-size: 40px !important;*/
  /*margin-left: -20px !important;*/
  padding-top: 10px;
  height: 40px;
  width: 52px;
  cursor: pointer;
}

.svg:hover{
  /*box-shadow: 0px 0px 150px #000000;*/
  z-index: 1;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1.5);
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1.5);
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1.5);
  transition: all 50ms ease-in;
  transform: scale(1.1);
}

.svg path{
  fill: #c3c3c3;
}

.svg:hover path{
  /*size: 100px !important;*/
  fill: white;

}

.sn .side-nav{
  /*padding: 10px;*/
  line-height: 0.9em;
  width: 18% !important;
  margin-top: 60px !important;
  overflow-y: auto !important;
  background-color: #2E475F !important;
  height: 100% !important;

}

.closeicon{
  float: right;
  color: white;
  font-size: 1.2em !important;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bolder !important;
  opacity: 0.5;
}

.closeicon:hover {
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 100ms ease-in;
  -ms-transform: scale(1.2);
  -moz-transition: all 100ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 100ms ease-in;
  transform: scale(1.2);
  opacity: 1;
}

.enabled{
  color: white !important;
}

.current{
  background-color: #5f98cd !important;
}
.current .sideNav-title{
  color:white !important;
}

.collapsible-body .current{
  color:white !important;
}

.collapsible-arrow{
  margin: 0px !important;
  font-size: 29px !important;
}
.collapsible-arrow:focus{
  outline: none;
}

.sideNav-title{
  height: 45px !important;
  padding: 0px 12px !important;
  line-height: 13px !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sideNav-title.active{
  /*color: orange !important;*/
  background-color: #2E475F !important;
}

.sideNav-titleBody{
  line-height: 12px !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: white !important;
  height: 40px !important;
}



.lockArrow-icon{
  float: right !important;
  color: white !important;
}

.modules{
  background-color: #2E475F !important;

}

.disabled{
  color:#707070 !important;
  cursor: not-allowed !important;
}

.openModulesArrow{
  font-size: 20px !important;
}
#sidenav-overlay{
  background-color: rgba(0,0,0,0) !important;
}

svg:not(:root) {
  overflow: inherit !important;
}

.readonly a{
  color: #9e9e9e !important;
  font-weight: 500 !important;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
  background: #fff;
  border: 3px solid #5f98cd;
  border-radius: 6px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
  color: #5f98cd;
  font-weight: 400 !important;
  padding: 8px;
}