<div class="col" data-toggle="modal" data-target="payment" ready="setModal()" modal open="$ctrl.dismiss" dismissible="true">
</div>
<div class="modal inmodal" id="payment" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header" style="padding: 9px 15px;">
                <button type="button" class="close" data-dismiss="modal" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Recharge your Account</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form class="form-horizontal">
                        <div ng-show="nextVar==true" class="row">

                            <p class="col s4">
                                <input class="with-gap" name="group3" ng-model="mode" ng-value="'Cheque'" type="radio" id="test40" />
                                <label for="test40">Cheque</label>
                            </p>


                            <p class="col s4">
                                <input class="with-gap" name="group3" ng-model="mode" ng-value="'DD'" type="radio" id="test20" />
                                <label for="test20">DD</label>
                            </p>


                            <p class="col s4">
                                <input class="with-gap" name="group3" ng-model="mode" ng-value="'Cash'" type="radio" id="test30" />
                                <label for="test30">Cash</label>
                            </p>


                            <p class="col s4">
                                <input class="with-gap" name="group3" ng-model="mode" ng-value="'Online'" type="radio" id="test10" />
                                <label for="test10">Online</label>
                            </p>


                            <p class="col s4">
                                <input class="with-gap" name="group3" ng-model="mode" ng-value="'UPI'" type="radio" id="test50" />
                                <label for="test50">UPI</label>
                            </p>


                            <p class="col s4">
                                <input class="with-gap" name="group3" ng-model="mode" ng-value="'Wallet'" type="radio" id="test60" />
                                <label for="test60">Wallet</label>
                            </p>

                            <div ng-show="mode == 'Cheque'" class="col s12">
                                <div class="input-field col s12">
                                    <input id="chequeNo" ng-model="chequeNo" type="text" class="validate">
                                    <label for="chequeNo" >Cheque Number</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="bankName" ng-model="bankName" type="text" class="validate">
                                    <label for="bankName" >Bank Name</label>
                                </div>

                            </div>

                            <div ng-show="mode == 'DD'" class="col s12">
                                <div class="input-field col s12">
                                    <input id="DDNo" ng-model="ddNo" type="text" class="validate">
                                    <label for="DDNo" >DD Number</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="bankName1" ng-model="bankName1" type="text" class="validate">
                                    <label for="bankName1" >Bank Name</label>
                                </div>

                            </div>

                            <div ng-show="mode == 'Online'" class="col s12">
                                <label>Payment Type</label>
                                <select ng-model="OnlineMode" class="browser-default">
                                    <option value="" disabled selected>Choose your option</option>
                                    <option ng-value="'IMPS'">IMPS</option>
                                    <option ng-value="'NEFT'">NEFT</option>
                                    <option ng-value="'RTGS'">RTGS</option>
                                </select>
                                <div class="input-field col s12">
                                    <input id="bankName2" ng-model="bankName2" type="text" class="validate">
                                    <label for="bankName2" >Bank Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="refNo" ng-model="refNo1" type="text" class="validate">
                                    <label for="refNo" >Reference Number</label>
                                </div>

                            </div>

                            <div ng-show="mode == 'UPI'" class="col s12">
                                <div class="input-field col s12">
                                    <input id="upiId" ng-model="upiId" type="text" class="validate">
                                    <label for="upiId" >UPI Id</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="referNO" ng-model="referNo" type="text" class="validate">
                                    <label for="referNO" >Reference Number</label>
                                </div>

                            </div>

                            <div ng-show="mode == 'Wallet'" class="col s12">
                                <div class="input-field col s12">
                                    <input id="walletName" ng-model="walletName" type="text" class="validate">
                                    <label for="walletName" >Wallet Name</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="refer1NO" type="text" ng-model="refer1No" class="validate">
                                    <label for="refer1NO" >Reference Number</label>
                                </div>

                            </div>
                        </div>
                        <p ng-hide="nextVar==true" style="margin-top:10px;width:100%;color:#7b7b7b;font-size:14px;text-align:center">Please select the amount you wish to recharge</p>
                        <p ng-hide="nextVar==true" style="margin-top:10px;width:100%;color:#5498cd;font-size:12px;text-align:center">Earn upto 30% CASHBACK on recharges above ₹2500</p>
                        <div class="row col-md-12 col-sm-12 col-lg-12" ng-hide="nextVar==true">
                            <div class="col-md-3 col-sm-12 col-lg-3" >
                                <input ng-style="customStyle2.style" type="button" class=" linkGoalSelect" ng-click="twofiftycolor('2500');" value="2500">
                            </div>
                            <div class="col-md-3 col-sm-3 col-lg-3">
                                <input ng-style="customStyle5.style" type="button" class="linkGoalSelect" ng-click="twofiftycolor('5000');" value="5000">
                            </div>
                            <div class="col-md-3 col-sm-3 col-lg-3">
                                <input ng-style="customStyle7.style" type="button" class="linkGoalSelect" ng-click="twofiftycolor('7500');" value="7500">
                            </div>
                            <div class="col-md-3 col-sm-3 col-lg-3">
                                <input ng-style="customStyle1.style" type="button" class="linkGoalSelect" ng-click="twofiftycolor('10000');" value="10000">
                            </div>
                        </div>
                        <div ng-hide="nextVar==true" class="col-md-12" style="text-align:center;margin-top:15px;">



                            <!--<div class="form-group">-->
                                <!--<label style="color:#7b7b7b;font-size:14px;margin-top:3px;">Or enter a custom amount</label>-->
                                <!--<input type="text" ng-model="paymentCustom" placeholder="0" style="margin-left:10px;max-width:60px;height:25px;" ng-change="showBonusCustom()" ng-click="showBonusCustom()">-->
                            <!--</div>-->

                            <div class="form-group row" style="margin-top: 5%;"><label class="col-md-8 col-sm-8 col-lg-8 col-form-label" style="margin-right: -17%;">Or enter a custom amount</label>
                                <div class="col-md-4 col-sm-4 col-lg-4"><input type="text" ng-model="paymentCustom" placeholder="0" class="form-control" style="width: 45%;" ng-change="showBonusCustom()" ng-click="showBonusCustom()">
                                </div>
                            </div>

                        </div>
                        <p ng-hide="nextVar==true" style="text-align: center;color:red">{{errrorMessage}}</p>
                        <div ng-hide="nextVar==true" class="row" style="margin-top:15px;color:#7b7b7b;text-align:center" >
                            <div ng-if="showBonus" class="col-12">
                                <span style="font-size:14px">CASHBACK &nbsp;&nbsp;<input ng-if="isManual" ng-model="bonusPercentage" ng-change="calculateBonus(bonusPercentage)" type="number" min="1" max="100" prevent-typing-greater style="width: 50px"><span ng-if="!isManual">{{bonusPercentage}}</span>%</span><br>
                                <span style="font-size:20px;font-weight:400">₹ {{bonusAmount}}</span><br>
                                <span style="font-size:12px">Will be added to your WQ Wallet</span><br>
                            </div>
                        </div>

                        <div class="col-md-12" style="text-align:center;margin-top:20px;">
                            <span ng-hide="nextVar==true"><span ng-if="loaderRechargeSection" style="font-size:12px;color:#7b7b7b">Redirecting to Payment Gateway, please wait...</span></span><br>

                            <a ng-show="nextVar!=true && isManual" type="submit" class="modalPayment btn orange darken-3" ng-disabled="checkRechargeAmount" ng-click="nextVar = true">Next</a>

                            <!--<a type="submit" ng-show="nextVar==true || !isManual" class="modalPayment btn orange darken-3" ng-disabled="checkRechargeAmount" ng-click="rechargeFn()">Recharge</a>-->
                            <button ng-style="customStyleDis2.style" type="submit" class="btn btn-outline btn-primary" ng-show="nextVar==true || !isManual" ng-disabled="checkRechargeAmount" ng-click="rechargeFn()" style="color: #fff !important;">Recharge</button>
                            <button type="submit" data-dismiss="modal" class="btn btn-outline btn-warning" ng-click="close()">Cancel</button>
                        </div>
                    </form>
                </div>





            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->

<!--<div id="payment" class="modal" role="dialog" style="z-index: 99999;overflow-y: hidden;max-height: 80vh">-->

        <!--&lt;!&ndash; Modal content&ndash;&gt;-->
        <!--<div class="modal-content col s12 m12 l12" >-->
            <!--<div >-->
                <!--<h5 class="modal-title" style="text-align:center;color:#7b7b7b;">Recharge your Account</h5>-->
            <!--</div>-->
            <!--<div class="divider"></div>-->
            <!--<div class="modal-body" style="padding-top:0px !important;">-->
                <!--<div class="row">-->
                    <!--<form class="form-horizontal">-->



                        <!--<div ng-show="nextVar==true" class="row">-->
                            <!---->
                                <!--<p class="col s4">-->
                                   <!--<input class="with-gap" name="group3" ng-model="mode" ng-value="'Cheque'" type="radio" id="test40" />-->
                                   <!--<label for="test40">Cheque</label>-->
                                <!--</p>-->
                           <!---->
                            <!---->
                                <!--<p class="col s4">-->
                                   <!--<input class="with-gap" name="group3" ng-model="mode" ng-value="'DD'" type="radio" id="test20" />-->
                                   <!--<label for="test20">DD</label>-->
                                <!--</p>-->
                            <!---->
                           <!---->
                                <!--<p class="col s4">-->
                                   <!--<input class="with-gap" name="group3" ng-model="mode" ng-value="'Cash'" type="radio" id="test30" />-->
                                   <!--<label for="test30">Cash</label>-->
                                <!--</p>-->
                      <!---->
                         <!---->
                                <!--<p class="col s4">-->
                                   <!--<input class="with-gap" name="group3" ng-model="mode" ng-value="'Online'" type="radio" id="test10" />-->
                                   <!--<label for="test10">Online</label>-->
                                <!--</p>-->
                        <!---->
                          <!---->
                                <!--<p class="col s4">-->
                                   <!--<input class="with-gap" name="group3" ng-model="mode" ng-value="'UPI'" type="radio" id="test50" />-->
                                   <!--<label for="test50">UPI</label>-->
                                <!--</p>-->
                         <!---->
                           <!---->
                                <!--<p class="col s4">-->
                                   <!--<input class="with-gap" name="group3" ng-model="mode" ng-value="'Wallet'" type="radio" id="test60" />-->
                                   <!--<label for="test60">Wallet</label>-->
                                <!--</p>-->

                                <!--<div ng-show="mode == 'Cheque'" class="col s12">-->
                                    <!--<div class="input-field col s12">-->
                                       <!--<input id="chequeNo" ng-model="chequeNo" type="text" class="validate">-->
                                       <!--<label for="chequeNo" >Cheque Number</label>-->
                                   <!--</div>-->
                                   <!--<div class="input-field col s12">-->
                                       <!--<input id="bankName" ng-model="bankName" type="text" class="validate">-->
                                       <!--<label for="bankName" >Bank Name</label>-->
                                   <!--</div>-->

                                <!--</div>-->

                                <!--<div ng-show="mode == 'DD'" class="col s12">-->
                                    <!--<div class="input-field col s12">-->
                                       <!--<input id="DDNo" ng-model="ddNo" type="text" class="validate">-->
                                       <!--<label for="DDNo" >DD Number</label>-->
                                   <!--</div>-->
                                   <!--<div class="input-field col s12">-->
                                       <!--<input id="bankName1" ng-model="bankName1" type="text" class="validate">-->
                                       <!--<label for="bankName1" >Bank Name</label>-->
                                   <!--</div>-->

                                <!--</div>-->

                                <!--<div ng-show="mode == 'Online'" class="col s12">-->
                                    <!--<label>Payment Type</label>-->
                                      <!--<select ng-model="OnlineMode" class="browser-default">-->
                                        <!--<option value="" disabled selected>Choose your option</option>-->
                                        <!--<option ng-value="'IMPS'">IMPS</option>-->
                                        <!--<option ng-value="'NEFT'">NEFT</option>-->
                                        <!--<option ng-value="'RTGS'">RTGS</option>-->
                                      <!--</select>-->
                                   <!--<div class="input-field col s12">-->
                                       <!--<input id="bankName2" ng-model="bankName2" type="text" class="validate">-->
                                       <!--<label for="bankName2" >Bank Name</label>-->
                                   <!--</div>-->
                                   <!--<div class="input-field col s12">-->
                                       <!--<input id="refNo" ng-model="refNo1" type="text" class="validate">-->
                                       <!--<label for="refNo" >Reference Number</label>-->
                                   <!--</div>-->

                                <!--</div>-->

                                <!--<div ng-show="mode == 'UPI'" class="col s12">-->
                                    <!--<div class="input-field col s12">-->
                                       <!--<input id="upiId" ng-model="upiId" type="text" class="validate">-->
                                       <!--<label for="upiId" >UPI Id</label>-->
                                   <!--</div>-->
                                   <!--<div class="input-field col s12">-->
                                       <!--<input id="referNO" ng-model="referNo" type="text" class="validate">-->
                                       <!--<label for="referNO" >Reference Number</label>-->
                                   <!--</div>-->

                                <!--</div>-->

                                <!--<div ng-show="mode == 'Wallet'" class="col s12">-->
                                    <!--<div class="input-field col s12">-->
                                       <!--<input id="walletName" ng-model="walletName" type="text" class="validate">-->
                                       <!--<label for="walletName" >Wallet Name</label>-->
                                   <!--</div>-->
                                   <!--<div class="input-field col s12">-->
                                       <!--<input id="refer1NO" type="text" ng-model="refer1No" class="validate">-->
                                       <!--<label for="refer1NO" >Reference Number</label>-->
                                   <!--</div>-->

                                <!--</div>-->


                     <!---->
                        <!--</div>-->



                        <!--<p ng-hide="nextVar==true" style="margin-top:10px;width:100%;color:#7b7b7b;font-size:14px;text-align:center">Please select the amount you wish to recharge</p>-->
                        <!--<p ng-hide="nextVar==true" style="margin-top:10px;width:100%;color:#5498cd;font-size:12px;text-align:center">Earn upto 30% CASHBACK on recharges above ₹2500</p>-->
                        <!--<div ng-hide="nextVar==true" class="col s12">-->
                            <!--<div class="col s3" style="text-align:center;margin-top:20px" >-->
                                <!--<input ng-style="customStyle2.style" type="button" class=" linkGoalSelect" ng-click="twofiftycolor('2500');" value="2500">-->
                            <!--</div>-->
                            <!--<div class="col s3" style="text-align:center;margin-top:20px">-->
                                <!--<input ng-style="customStyle5.style" type="button" class="linkGoalSelect" ng-click="twofiftycolor('5000');" value="5000">-->
                            <!--</div>-->
                            <!--<div class="col s3" style="text-align:center;margin-top:20px">-->
                                <!--<input ng-style="customStyle7.style" type="button" class="linkGoalSelect" ng-click="twofiftycolor('7500');" value="7500">-->
                            <!--</div>-->
                            <!--<div class="col s3" style="text-align:center;margin-top:20px">-->
                                <!--<input ng-style="customStyle1.style" type="button" class="linkGoalSelect" ng-click="twofiftycolor('10000');" value="10000">-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div ng-hide="nextVar==true" class="col s12" style="text-align:center;margin-top:15px;">-->
                            <!--<label style="color:#7b7b7b;font-size:14px;margin-top:3px;">Or enter a custom amount</label>-->
                            <!--<input type="text" ng-model="paymentCustom" placeholder="0" style="margin-left:10px;max-width:60px;height:25px;" ng-change="showBonusCustom()" ng-click="showBonusCustom()">-->
                        <!--</div>-->
                        <!--<p ng-hide="nextVar==true" style="text-align: center;color:red">{{errrorMessage}}</p>-->
                        <!--<div ng-hide="nextVar==true" class="row" style="margin-top:15px;color:#7b7b7b;text-align:center" >-->
                            <!--<div ng-if="showBonus" class="col s12">-->
                                <!--<span style="font-size:14px">CASHBACK &nbsp;&nbsp;<input ng-if="isManual" ng-model="bonusPercentage" ng-change="calculateBonus(bonusPercentage)" type="number" min="1" max="100" prevent-typing-greater style="width: 50px"><span ng-if="!isManual">{{bonusPercentage}}</span>%</span><br>-->
                                <!--<span style="font-size:20px;font-weight:400">₹ {{bonusAmount}}</span><br>-->
                                <!--<span style="font-size:12px">Will be added to your WQ Wallet</span><br>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col s12" style="text-align:center;margin-top:20px;">-->
                            <!--<span ng-hide="nextVar==true"><span ng-if="loaderRechargeSection" style="font-size:12px;color:#7b7b7b">Redirecting to Payment Gateway, please wait...</span></span><br>-->
                            <!---->
                            <!--<a ng-show="nextVar!=true && isManual" type="submit" class="modalPayment btn orange darken-3" ng-disabled="checkRechargeAmount" ng-click="nextVar = true">Next</a>-->
                            <!--<a type="submit" ng-show="nextVar==true || !isManual" class="modalPayment btn orange darken-3" ng-disabled="checkRechargeAmount" ng-click="rechargeFn()">Recharge</a>-->
                            <!--<a type="submit" class="modalPayment btn orange darken-3 modal-close" ng-click="close()">Cancel</a>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

<!--</div>-->

<style type="text/css">
    .modalPayment:hover{
        background-color: white !important;
        border: solid 2px orange;
        color: black;
    }
</style>
