<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header" >
        <!--<a class="navbar-minimalize minimalize-styl-2 btn btn-primary" ng-click="minimizeSideNav()">-->
            <!--<i class="fa fa-bars"></i>-->
        <!--</a>-->
        <span minimaliza-sidebar ng-if='$root.loginVar'></span>
        <form role="search" class="navbar-form-custom" action="http://webapplayers.com/inspinia_admin-v2.8/search_results.html">
            <!--<div class="form-group">-->
            <!--<input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">-->
            <!--</div>-->
        </form>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <!--<li>-->
        <!--<span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>-->
        <!--</li>-->
        <li class="dropdown" ng-if='$root.loginVar'>
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-google-wallet"></i> 1700
            </a>

        </li>
        <li ng-click="openRecharge()" ng-if='$root.loginVar'>
            <a class="dropdown-toggle count-info" >
                <i class="fa fa-cc-mastercard"></i> Recharge
            </a>
        </li>
        <li class="dropdown" ng-if='$root.loginVar'>
            <a class="dropdown-toggle count-info" ng-click="openStatements()">
                <i class="fa fa-history"></i> View Statements
            </a>
        </li>


        <li class="dropdown" ng-hide='$root.loginVar'>
            <a  class="dropdown-toggle count-info" data-toggle="dropdown">
                <i class="fa fa-user" aria-hidden="true"></i> Log In
            </a>
            <ul class="dropdown-menu dropdown-alerts typeofUsers"  style="width: 170px">
                <li>
                    <a class="dropdown-item" data-toggle="modal" data-target="#partnerLogin">
                        <div>
                            <i class="fa fa-user-secret fa-fw"></i> Partner
                        </div>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" data-toggle="modal" data-target="#subUserLogin">
                        <div>
                            <i class="fa fa-user fa-fw"></i> Sub-User
                        </div>
                    </a>
                </li>
                <li class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" data-toggle="modal" data-target="#customerLogin">
                        <div>
                            <i class="fa fa-user-o fa-fw"></i> Customer
                        </div>
                    </a>
                </li>

            </ul>
        </li>

        <li ng-if='$root.loginVar'>
            <a ng-click="logout()">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
        <!--<li>-->
        <!--<a class="right-sidebar-toggle">-->
        <!--<i class="fa fa-tasks"></i>-->
        <!--</a>-->
        <!--</li>-->
    </ul>

</nav>

<view-statement dismiss="viewStatement"> </view-statement>
<payment-modal dismiss="viewRecharge" pay-amount="paymentAmount(amount, bonus)" is-manual="false"></payment-modal>

<div class="modal inmodal fade" id="partnerLogin" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;padding-bottom: 0px">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Partner Login</h4>
            </div>
            <div class="modal-body" style="background-color: #fff;text-align: center">
               <div class="row">
                   <div class="ibox-content" style="border: none">
                       <form role="form" class="form-inline">
                           <div class="form-group" style="margin-left: 3%">
                               https://
                           </div>
                           <div class="form-group">
                               <label for="exampleInputEmail2" class="sr-only">Partner Name</label>
                               <input type="text" placeholder="Partner Name" id="exampleInputEmail2"
                                      class="form-control" ng-model="partnerName">
                           </div>
                           <div class="form-group">
                               .wealthquotient.in
                           </div>
                       </form>
                   </div>
               </div>
                <div class="row">
                    <div class="col-md-offset-3 col-md-5">
                        <div class="form-group">
                            <label for="exampleInputPassword2" class="sr-only">Password</label>
                            <input type="password" placeholder="Password" id="exampleInputPassword2"
                                   class="form-control" ng-model="partnerPass">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-disabled="!partnerName || !partnerPass" ng-click="loginPartner()">Login</button>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;text-align: center">
                <a  ng-click="sendResetPasswordLinkPartner()"><small>Forgot password?</small></a>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="subUserLogin" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;padding-bottom: 0px">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Sub-User Login</h4>
            </div>
            <div class="modal-body" style="background-color: #fff">
                <div class="row">
                    <div class="ibox-content" style="border: none">
                        <form role="form" ng-submit="loginSubUser()">
                            <div class="form-group"><label>Email</label> <input type="text" placeholder="Username" ng-model="subUserName" class="form-control"></div>
                            <div class="form-group"><label>Password</label> <input type="password" placeholder="Password" class="form-control" ng-model="subUserPass"></div>
                            <div>
                                <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>Log in</strong></button>
                                <!--<label> <input type="checkbox" class="i-checks"> Remember me </label>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;text-align: center">
                <a ng-click="sendResetPasswordLinkSubuser()"><small>Forgot password?</small></a>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="customerLogin" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;padding-bottom: 0px">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Customer Login</h4>
            </div>
            <div class="modal-body" style="background-color: #fff">
                <div class="row">
                    <div class="ibox-content" style="border: none">
                        <form role="form" ng-submit="loginCustomer()">
                            <div class="form-group"><label>Email</label> <input type="text" placeholder="Username" class="form-control" ng-model="customerObject.customerUsername"></div>
                            <div class="form-group"><label>Password</label> <input type="password" placeholder="Password" class="form-control" ng-model="customerObject.customerPass"></div>
                            <div>
                                <button class="btn btn-sm btn-primary float-right m-t-n-xs" type="submit"><strong>Log in</strong></button>
                                <!--<label> <input type="checkbox" class="i-checks"> Remember me </label>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="border-top: none;text-align: center">
                <a ng-click="sendResetPasswordLink()"><small>Forgot password?</small></a>
            </div>
        </div>
    </div>
</div>

