<!--<div class="col">-->
    <!--<a class='btn' data-target="viewStatement" modal style="display:none;" ready="setModal()"></a>-->
<!--</div>-->

<!--<div id="viewStatement" get-access="calender" class="modal">-->
    <!--<treasure-overlay-spinner active="success">-->
        <!--<div class="modal-content modal-fixed-footer">-->
            <!--<span class="material-icons right" style="cursor:pointer" ng-click="modalClose()">-->
                <!--close-->
            <!--</span>-->

            <!--<div class="col s12 m12 l12">-->
                <!--<h5 class="center" style="font-family: lato;">Wallet Transactions</h5>-->
            <!--</div>-->

            <!--<div class="row">-->
                <!--<div class="col s12">-->
                    <!--<ul tabs>-->
                        <!--<li class="tab col s4 m4 l4">-->
                            <!--<a href="#test1" class="active">ALL</a>-->
                        <!--</li>-->
                        <!--<li class="tab col s4 m4 l4">-->
                            <!--<a href="#test2">DEBIT</a>-->
                        <!--</li>-->
                        <!--<li class="tab col s4 m4 l4">-->
                            <!--<a href="#test3">CREDIT</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div id="test1" class="col s12">-->
                    <!--<table class="bordered centered ">-->
                        <!--<thead class="htable">-->
                            <!--<tr>-->
                                <!--<th>Date</th>-->
                                <!--<th>Description</th>-->
                                <!--<th>Type</th>-->
                                <!--<th>Amount</th>-->
                                <!--<th>Balance</th>-->
                            <!--</tr>-->
                        <!--</thead>-->

                        <!--<tbody class="btable1">-->
                            <!--<tr ng-repeat="item in transactions | orderBy : '-created_at'">-->
                                <!--<td>{{item.created_at | date:'mediumDate'}}</td>-->
                                <!--<td>{{item.description}}</td>-->
                                <!--<td>{{item.transaction_type}}</td>-->
                                <!--<td>{{item.amount}}</td>-->
                                <!--<td>{{item.balance}}</td>-->
                            <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                <!--</div>-->
                <!--<div id="test2" class="col s12">-->
                    <!--<table class="bordered centered ">-->
                        <!--<thead class="htable">-->
                            <!--<tr>-->
                                <!--<th>Date</th>-->
                                <!--<th>Description</th>-->
                                <!--<th>Type</th>-->
                                <!--<th>Amount</th>-->
                                <!--<th>Balance</th>-->
                            <!--</tr>-->
                        <!--</thead>-->

                        <!--<tbody class="btable1">-->
                            <!--<tr ng-repeat="item in debit  | orderBy : '-created_at'">-->
                                <!--<td>{{item.created_at | date:'mediumDate'}}</td>-->
                                <!--<td>{{item.description}}</td>-->
                                <!--<td>{{item.transaction_type}}</td>-->
                                <!--<td>{{item.amount}}</td>-->
                                <!--<td>{{item.balance}}</td>-->
                            <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                <!--</div>-->
                <!--<div id="test3" class="col s12">-->
                    <!--<table class="bordered centered ">-->
                        <!--<thead class="htable">-->
                            <!--<tr>-->
                                <!--<th>Date</th>-->
                                <!--<th>Description</th>-->
                                <!--<th>Type</th>-->
                                <!--<th>Amount</th>-->
                                <!--<th>Balance</th>-->
                            <!--</tr>-->
                        <!--</thead>-->

                        <!--<tbody class="btable1">-->
                            <!--<tr ng-repeat="item in credit | orderBy : '-created_at'">-->
                                <!--<td>{{item.created_at | date:'mediumDate'}}</td>-->
                                <!--<td>{{item.description}}</td>-->
                                <!--<td>{{item.transaction_type}}</td>-->
                                <!--<td>{{item.amount}}</td>-->
                                <!--<td>{{item.balance}}</td>-->
                            <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->

                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</treasure-overlay-spinner>-->
    <!--<div class="modal-footer">-->
    <!--</div>-->
<!--</div>-->

<div class="col" data-toggle="modal" data-target="viewStatement" modal open="$ctrl.dismiss" dismissible="true">
</div>

<div class="modal inmodal" id="viewStatement" tabindex="-1" role="dialog"  aria-hidden="true" >
    <div class="modal-dialog" style="width: 53%;">
        <div class="modal-content animated fadeIn">
            <div class="modal-header" style="padding: 9px 15px;">
                <button type="button" class="close" data-dismiss="modal" ng-click="modalClose()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Wallet Transactions</h4>
            </div>
                <div class="sk-spinner sk-spinner-wave" ng-if="success">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
                <div class="modal-body">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home"> <i class="fa fa-briefcase"></i>ALL</a></li>
                        <li><a data-toggle="tab" href="#menu1"> <i class="fa fa-credit-card-alt"></i>CREDIT</a></li>
                        <li><a data-toggle="tab" href="#menusecond"><i class="fa fa-database"></i>DEBIT</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="ibox-content">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Balance</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Online Recharge</td>
                                        <td>CREDIT</td>
                                        <td>100</td>
                                        <td>1700</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="ibox-content">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Balance</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>2</td>
                                        <td>Online Recharge</td>
                                        <td>CREDIT</td>
                                        <td>100</td>
                                        <td>1700</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div id="menusecond" class="tab-pane fade">
                            <div class="ibox-content">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Balance</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>3</td>
                                        <td>Online Recharge</td>
                                        <td>CREDIT</td>
                                        <td>100</td>
                                        <td>1700</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

        </div>
    </div>
</div>