<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img ng-cloak ng-if="role !== 'sub_user'"  ng-src="{{$root.defaultImageProfile}}" style="border-radius: 49%!important;" alt="image" class="rounded-circle" />
                    <img style="border-radius: 49%!important;" alt="image" class="rounded-circle" ng-if="role === 'sub_user'" src="../../../img/avatarDefault.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" >
                        <span class="block m-t-xs font-bold">{{$root.partnerName}} <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs userProfile">
                        <li class="disabled"><a class="dropdown-item" >My Account</a></li>
                        <li><a class="dropdown-item"  data-toggle="modal" data-target="#changePass">Change Password</a></li>
                        <li class="disabled"><a class="dropdown-item">Settings</a></li>
                        <li class="disabled"><a class="dropdown-item">Help</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                <!--<div class="logo-element">-->
                <!--WQ+-->
                <!--</div>-->
                <div class="logo-element">
                    <img alt="image" class="rounded-circle" src="../../../img/wq.png"/>
                </div>

            </li>
            <li class="active">
                <a ui-sref="dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> </a>
                <!--<ul class="nav nav-second-level">-->
                <!--&lt;!&ndash;<li><a href="index-2.html">Dashboard v.1</a></li>&ndash;&gt;-->
                <!--<li class="active"><a href="dashboard_2.html">Dashboard v.2</a></li>-->
                <!--&lt;!&ndash;<li><a href="dashboard_3.html">Dashboard v.3</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="dashboard_4_1.html">Dashboard v.4</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="dashboard_5.html">Dashboard v.5 </a></li>&ndash;&gt;-->
                <!--</ul>-->
            </li>
            <!--<li>-->
                <!--<a href="layouts.html"><i class="fa fa-address-card-o"></i> <span class="nav-label">My Account</span></a>-->
            <!--</li>-->
            <li>
                <a ui-sref="myclients"><i class="fa fa-user-circle-o"></i> <span class="nav-label">My
                Clients/Prospects</span></a>
            </li>
            <li>
                <a href="layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Wealth Management</span></a>
            </li>
            <!-- <li>
                <a href="layouts.html"><i class="fa fa-bars"></i> <span class="nav-label">CRM</span></a>
            </li> -->
            <li>
                <a href="#"><i class="fa fa-bars"></i> <span class="nav-label">CRM</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="graph_flot.html">Leads</a></li>
                        <li><a ui-sref="tasks">Tasks</a></li>
                        <li><a href="graph_rickshaw.html">Service Request</a></li>
                    </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-user-secret"></i> <span class="nav-label">User Management</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="graph_flot.html">Users</a></li>
                    <li><a href="graph_morris.html">Activity Logs</a></li>
                </ul>
            </li>
            <li>
                <a href="layouts.html"><i class="fa fa-calendar-plus-o"></i> <span class="nav-label">Calendar</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Product/Revenue Opportunities</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="graph_flot.html">Master List of Products/Services</a></li>
                    <li><a href="graph_morris.html">Link Products/Services to Custom Field</a></li>
                    <li><a href="graph_morris.html">Link Products/Services to Investment Holding</a></li>
                    <li><a href="graph_morris.html">Product level data</a></li>
                    <li><a href="graph_morris.html">Client level data</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Sales Dashboard</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="graph_flot.html">Products/Services Sales Master</a></li>
                    <li><a href="graph_morris.html">Products/Services Sales Journal</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">MIS</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="graph_flot.html">MIS Dashboard</a></li>
                    <li><a href="graph_morris.html">Mis Upload</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-phone-square"></i> <span class="nav-label">Contact Management</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="graph_flot.html">Contact Dashboard</a></li>
                    <li><a href="graph_morris.html">Contact List</a></li>
                    <li><a href="graph_morris.html">Interaction History</a></li>
                    <li><a href="graph_morris.html">Manage Templates</a></li>
                    <li><a href="graph_morris.html">Contact Definition</a></li>
                </ul>
            </li>
            <!--<li>-->
            <!--<a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="graph_flot.html">Flot Charts</a></li>-->
            <!--<li><a href="graph_morris.html">Morris.js Charts</a></li>-->
            <!--<li><a href="graph_rickshaw.html">Rickshaw Charts</a></li>-->
            <!--<li><a href="graph_chartjs.html">Chart.js</a></li>-->
            <!--<li><a href="graph_chartist.html">Chartist</a></li>-->
            <!--<li><a href="c3.html">c3 charts</a></li>-->
            <!--<li><a href="graph_peity.html">Peity Charts</a></li>-->
            <!--<li><a href="graph_sparkline.html">Sparkline Charts</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning float-right">16/24</span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="mailbox.html">Inbox</a></li>-->
            <!--<li><a href="mail_detail.html">Email view</a></li>-->
            <!--<li><a href="mail_compose.html">Compose email</a></li>-->
            <!--<li><a href="email_template.html">Email templates</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span>  </a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">Widgets</span></a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span><span class="fa arrow"></span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="form_basic.html">Basic form</a></li>-->
            <!--<li><a href="form_advanced.html">Advanced Plugins</a></li>-->
            <!--<li><a href="form_wizard.html">Wizard</a></li>-->
            <!--<li><a href="form_file_upload.html">File Upload</a></li>-->
            <!--<li><a href="form_editors.html">Text Editor</a></li>-->
            <!--<li><a href="form_autocomplete.html">Autocomplete</a></li>-->
            <!--<li><a href="form_markdown.html">Markdown</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">App Views</span>  <span class="float-right label label-primary">SPECIAL</span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="contacts.html">Contacts</a></li>-->
            <!--<li><a href="profile.html">Profile</a></li>-->
            <!--<li><a href="profile_2.html">Profile v.2</a></li>-->
            <!--<li><a href="contacts_2.html">Contacts v.2</a></li>-->
            <!--<li><a href="projects.html">Projects</a></li>-->
            <!--<li><a href="project_detail.html">Project detail</a></li>-->
            <!--<li><a href="activity_stream.html">Activity stream</a></li>-->
            <!--<li><a href="teams_board.html">Teams board</a></li>-->
            <!--<li><a href="social_feed.html">Social feed</a></li>-->
            <!--<li><a href="clients.html">Clients</a></li>-->
            <!--<li><a href="full_height.html">Outlook view</a></li>-->
            <!--<li><a href="vote_list.html">Vote list</a></li>-->
            <!--<li><a href="file_manager.html">File manager</a></li>-->
            <!--<li><a href="calendar.html">Calendar</a></li>-->
            <!--<li><a href="issue_tracker.html">Issue tracker</a></li>-->
            <!--<li><a href="blog.html">Blog</a></li>-->
            <!--<li><a href="article.html">Article</a></li>-->
            <!--<li><a href="faq.html">FAQ</a></li>-->
            <!--<li><a href="timeline.html">Timeline</a></li>-->
            <!--<li><a href="pin_board.html">Pin board</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Other Pages</span><span class="fa arrow"></span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="search_results.html">Search results</a></li>-->
            <!--<li><a href="lockscreen.html">Lockscreen</a></li>-->
            <!--<li><a href="invoice.html">Invoice</a></li>-->
            <!--<li><a href="login.html">Login</a></li>-->
            <!--<li><a href="login_two_columns.html">Login v.2</a></li>-->
            <!--<li><a href="forgot_password.html">Forget password</a></li>-->
            <!--<li><a href="register.html">Register</a></li>-->
            <!--<li><a href="404.html">404 Page</a></li>-->
            <!--<li><a href="500.html">500 Page</a></li>-->
            <!--<li><a href="empty_page.html">Empty page</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#"><i class="fa fa-globe"></i> <span class="nav-label">Miscellaneous</span><span class="label label-info float-right">NEW</span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="toastr_notifications.html">Notification</a></li>-->
            <!--<li><a href="nestable_list.html">Nestable list</a></li>-->
            <!--<li><a href="agile_board.html">Agile board</a></li>-->
            <!--<li><a href="timeline_2.html">Timeline v.2</a></li>-->
            <!--<li><a href="diff.html">Diff</a></li>-->
            <!--<li><a href="pdf_viewer.html">PDF viewer</a></li>-->
            <!--<li><a href="i18support.html">i18 support</a></li>-->
            <!--<li><a href="sweetalert.html">Sweet alert</a></li>-->
            <!--<li><a href="idle_timer.html">Idle timer</a></li>-->
            <!--<li><a href="truncate.html">Truncate</a></li>-->
            <!--<li><a href="password_meter.html">Password meter</a></li>-->
            <!--<li><a href="spinners.html">Spinners</a></li>-->
            <!--<li><a href="spinners_usage.html">Spinners usage</a></li>-->
            <!--<li><a href="tinycon.html">Live favicon</a></li>-->
            <!--<li><a href="google_maps.html">Google maps</a></li>-->
            <!--<li><a href="datamaps.html">Datamaps</a></li>-->
            <!--<li><a href="social_buttons.html">Social buttons</a></li>-->
            <!--<li><a href="code_editor.html">Code editor</a></li>-->
            <!--<li><a href="modal_window.html">Modal window</a></li>-->
            <!--<li><a href="clipboard.html">Clipboard</a></li>-->
            <!--<li><a href="text_spinners.html">Text spinners</a></li>-->
            <!--<li><a href="forum_main.html">Forum view</a></li>-->
            <!--<li><a href="validation.html">Validation</a></li>-->
            <!--<li><a href="tree_view.html">Tree view</a></li>-->
            <!--<li><a href="loading_buttons.html">Loading buttons</a></li>-->
            <!--<li><a href="chat_view.html">Chat view</a></li>-->
            <!--<li><a href="masonry.html">Masonry</a></li>-->
            <!--<li><a href="tour.html">Tour</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#"><i class="fa fa-flask"></i> <span class="nav-label">UI Elements</span><span class="fa arrow"></span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="typography.html">Typography</a></li>-->
            <!--<li><a href="icons.html">Icons</a></li>-->
            <!--<li><a href="draggable_panels.html">Draggable Panels</a></li> <li><a href="resizeable_panels.html">Resizeable Panels</a></li>-->
            <!--<li><a href="buttons.html">Buttons</a></li>-->
            <!--<li><a href="video.html">Video</a></li>-->
            <!--<li><a href="tabs_panels.html">Panels</a></li>-->
            <!--<li><a href="tabs.html">Tabs</a></li>-->
            <!--<li><a href="notifications.html">Notifications & Tooltips</a></li>-->
            <!--<li><a href="helper_classes.html">Helper css classes</a></li>-->
            <!--<li><a href="badges_labels.html">Badges, Labels, Progress</a></li>-->
            <!--</ul>-->
            <!--</li>-->

            <!--<li>-->
            <!--<a href="grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label">Grid options</span></a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="table_basic.html">Static Tables</a></li>-->
            <!--<li><a href="table_data_tables.html">Data Tables</a></li>-->
            <!--<li><a href="table_foo_table.html">Foo Tables</a></li>-->
            <!--<li><a href="jq_grid.html">jqGrid</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-commerce</span><span class="fa arrow"></span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="ecommerce_products_grid.html">Products grid</a></li>-->
            <!--<li><a href="ecommerce_product_list.html">Products list</a></li>-->
            <!--<li><a href="ecommerce_product.html">Product edit</a></li>-->
            <!--<li><a href="ecommerce_product_detail.html">Product detail</a></li>-->
            <!--<li><a href="ecommerce-cart.html">Cart</a></li>-->
            <!--<li><a href="ecommerce-orders.html">Orders</a></li>-->
            <!--<li><a href="ecommerce_payments.html">Credit Card form</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li><a href="basic_gallery.html">Lightbox Gallery</a></li>-->
            <!--<li><a href="slick_carousel.html">Slick Carousel</a></li>-->
            <!--<li><a href="carousel.html">Bootstrap Carousel</a></li>-->

            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#"><i class="fa fa-sitemap"></i> <span class="nav-label">Menu Levels </span><span class="fa arrow"></span></a>-->
            <!--<ul class="nav nav-second-level collapse">-->
            <!--<li>-->
            <!--<a href="#">Third Level <span class="fa arrow"></span></a>-->
            <!--<ul class="nav nav-third-level">-->
            <!--<li>-->
            <!--<a href="#">Third Level Item</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">Third Level Item</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#">Third Level Item</a>-->
            <!--</li>-->

            <!--</ul>-->
            <!--</li>-->
            <!--<li><a href="#">Second Level Item</a></li>-->
            <!--<li>-->
            <!--<a href="#">Second Level Item</a></li>-->
            <!--<li>-->
            <!--<a href="#">Second Level Item</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="css_animation.html"><i class="fa fa-magic"></i> <span class="nav-label">CSS Animations </span><span class="label label-info float-right">62</span></a>-->
            <!--</li>-->
            <!--<li class="landing_link">-->
            <!--<a target="_blank" href="landing.html"><i class="fa fa-star"></i> <span class="nav-label">Landing Page</span> <span class="label label-warning float-right">NEW</span></a>-->
            <!--</li>-->
            <!--<li class="special_link">-->
            <!--<a href="package.html"><i class="fa fa-database"></i> <span class="nav-label">Package</span></a>-->
            <!--</li>-->
        </ul>

    </div>
</nav>

<div class="modal inmodal fade" id="changePass" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: none;padding-bottom: 0px">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Password Change</h4>
            </div>
            <div class="modal-body" style="background-color: #fff;text-align: center">
                <div class="row">
                    <div class="ibox-content">
                        <form>
                            <div class="form-group row"><label class="col-lg-2 col-form-label">Current Password</label>

                                <div class="col-lg-10"><input type="password" placeholder="Current Password" class="form-control" ng-model="currPassword">
                                </div>
                            </div>
                            <div class="form-group row"><label class="col-lg-2 col-form-label">New Password</label>

                                <div class="col-lg-10"><input type="password" placeholder="New Password" class="form-control" ng-model="newPassword"></div>
                            </div>
                            <div class="form-group row"><label class="col-lg-2 col-form-label">Confirm New Password</label>

                                <div class="col-lg-10"><input type="password" placeholder="Confirm Password" class="form-control" ng-model="confirmnewPassword"></div>
                                <span class="form-text m-b-none " style="color: red;display: block" ng-if="newPassword && confirmnewPassword && (newPassword !== confirmnewPassword)">New Password and Confirm New Password does not match</span>
                                <!--<span class="form-text m-b-none " style="color: red;display: block" ng-if="newPassword && confirmnewPassword && ((currPassword === newPassword)) || (currPassword === confirmnewPassword)">Current Password and New Password is same</span>-->

                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-primary" ng-disabled="!currPassword || !newPassword || !confirmnewPassword || (newPassword !== confirmnewPassword)" ng-click="changePassword()">Change Password</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('.navbar-minimalize').on('click', function (event) {
            event.preventDefault();
            $("body").toggleClass("mini-navbar");
            SmoothlyMenu();

    });
    $(".nav li.disabled a").click(function() {
        return false;
    });
</script>
