<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center" style="margin-top: 3%">
            <h4 class="center-align" style="font-weight: bold; text-transform: capitalize;font-size: 3.2rem;margin: 1.14rem 0 .912rem">Start building a
                secure future</h4>
            <h6 class="center-align" style="font-size: 1.5rem;margin: .5rem 0 .4rem">The journey to financial success begins with a plan. <br> Get started now.
            </h6>
        </div>
        <br><br><br>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 3%">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" align="center">
                <img class="row illusimg " src="../../img/register/wqillustrations-01.png">
                <div class="row">
                    <h6 class="center-align illus-title ">Buying an asset</h6>
                    <p class="center-align illus-desc">Buy your dream car or dream house</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" align="center">
                <img class="row illusimg" src="../../img/register/wqillustrations-02.png">
                <div class="row">
                    <h6 class="center-align illus-title">Education Expenses</h6>
                    <p class="center-align illus-desc">Provide the best education to your kids</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" align="center">
                <img class="row illusimg " src="../../img/register/wqillustrations-03.png">
                <div class="row">
                    <h6 class="center-align illus-title">Vacation</h6>
                    <p class="center-align illus-desc">Go on your picture perfect vacation</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" align="center">
                <img class="row illusimg" src="../../img/register/wqillustrations-04.png">
                <div class="row">
                    <h6 class="center-align illus-title">Retirement</h6>
                    <p class="center-align illus-desc">Enjoy a secure retirement</p>
                </div>
            </div>
        </div>
    </div>
</div>

